openapi: 3.0.0
info:
  description: The Companies API allows developers to manage marketplace companies and their user memberships.
  title: Companies AI Embed AppResellerOpportunities API
  license:
    name: Apache License, Version 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  version: v296.0-SNAPSHOT
servers:
- url: https://marketplace.appdirect.com/api
- url: https://virtserver.swaggerhub.com
tags:
- name: AppResellerOpportunities
  x-displayName: Opportunities
paths:
  /assistedSales/v1/opportunities:
    post:
      x-appdirect-api-stage: Early Access
      summary: Create opportunity
      description: 'Creates a new opportunity


        Required: Accept-Language header with Locale format. For example: en-US'
      tags:
      - AppResellerOpportunities
      operationId: createOpportunity
      x-appdirect-required-scopes:
        ROLE_RESELLER:
        - Allows access as a Reseller to the opportunity
        ROLE_SALES_SUPPORT:
        - Allows access as a Sales Support Representative to the opportunity
        ROLE_CHANNEL_ADMIN:
        - Allows access as a Marketplace Manager to the opportunity
        ROLE_PARTNER:
        - Allows access as a Partner to the opportunity
      parameters:
      - in: query
        name: context
        description: Deprecated. Parameter has no impact on this endpoint.
        required: false
        schema:
          type: string
          enum:
          - RESELLER
          - SSR
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpportunityCreationRequest'
        description: Information about the opportunity being created
        required: true
      responses:
        '200':
          description: Opportunity created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Opportunity'
              examples:
                response:
                  value:
                    id: ef6c414f-39da-401f-a4b8-81adc6190fda
                    ownerUser:
                      id: d781ac09-b4fe-4d57-8ba2-4640fc5b7c49
                      email: john.doe@acme.com
                      firstName: John
                      lastName: Doe
                      company:
                        id: '1'
                        name: Acme Corp.
                    customerUser:
                      id: 498c62ea-ad14-48e6-96ce-5400c617444c
                      email: jane.smith@company.com
                      firstName: Jane
                      lastName: Smith
                      company:
                        id: '100'
                        name: Customer Company
                    createdOn: '1546300800000'
                    currency: USD
                    purchaseEffectiveDate: '1577750400000'
                    name: Prospect N1
                    status: OPEN
                    items:
                    - id: 4ccf689b-4339-4fc9-a8b3-b05c5a87c1be
                      pricingPlanId: 4bc864b5-f63f-4933-be19-3700aa9a8cc4
                      units:
                      - quantity: '20'
                        unit: USER
                      subscriptionCustomAttributes:
                        intended_os:
                        - other
                        - ios
                        - macos
                        sales_agent_id:
                        - R353113R
                      vendorRequiredFields:
                        name:
                        - John
                        lastname:
                        - Doe
                        email:
                        - john.doe@acme.com
                    - id: dece524d-0466-4185-b3bb-1f8a300c37cd
                      pricingPlanId: 80b85538-ffc1-4c4b-acb1-1bf87c8c2fc4
                      units: []
                    availableActions:
                    - ADD_PRODUCT
                    - EDIT
                    - FINALIZE
                    - SET_CUSTOM_PRICE
                    - SET_CUSTOM_CONTRACT
                    - SET_PROVISIONING_DATE
                    - SET_BILLING_DATE
                    - CHANGE_OPPORTUNITY_OWNER
                    actionRestrictions: {}
                    createdByUser:
                      id: 8f6b3d29-4169-4fb0-91ff-bad9b7a3d0d4
                      email: peter.parker@marvel.com
                      firstName: Peter
                      lastName: Parker
                      company:
                        id: '99'
                        name: Marvel Corp.
        '400':
          description: The owner's or customer's company membership is invalid, or the owner is a Reseller who is not linked to the opportunity customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 400
                    code: INVALID_FORMAT
                    message: createOpportunity.arg0.ownerCompanyId may not be null
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 401
                    code: UNAUTHORIZED
                    message: HTTP 401 Unauthorized
        '409':
          description: There is at least one restriction for a product in the opportunity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 409
                    code: CONFLICT
                    message: 'There is at least one restriction for a product in the opportunity. OwnerUUID: d781ac09-b4fe-4d57-8ba2-4640fc5b7c49 CustomerUUID: 498c62ea-ad14-48e6-96ce-5400c617444c - Restrictions by product: 58a8508e-f480-4dfa-b605-a0512c00c1ea ( ALREADY_PURCHASED )'
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request POST \\\n  --url 'https://marketplace.appdirect.com/api/assistedSales/v1/opportunities?context=SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"customerCompanyId\":\"498c62ea-ad14-48e6-96ce-5400c617444c\",\"customerId\":\"505f0a0c-57a7-4d9e-9fac-66bbf557ac4d\",\"ownerCompanyId\":\"6a62244e-aa2f-461b-8c7a-3a0e091be9d3\",\"ownerId\":\"d781ac09-b4fe-4d57-8ba2-4640fc5b7c49\",\"items\":[{\"pricingPlanId\":\"85d30404-c56b-4dff-9f3b-06636477fe55\",\"units\":[{\"quantity\":10,\"unit\":\"USER\"}]},{\"pricingPlanId\":\"d12931cf-eac6-45fa-8965-d33b1c5698b0\",\"units\":[]}],\"currency\":\"USD\",\"createdByCompanyId\":\"b7e0c48b-6d0d-45fc-9c8a-3fa3fd84d9f1\",\"createdById\":\"8f6b3d29-4169-4fb0-91ff-bad9b7a3d0d4\",\"purchaseCustomAttributes\":{\"paid_off_platform_contact\":[\"janet.doe@accounting.acme.com\"]}}'"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://marketplace.appdirect.com/api/assistedSales/v1/opportunities',\n  qs: {context: 'SOME_STRING_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    customerCompanyId: '498c62ea-ad14-48e6-96ce-5400c617444c',\n    customerId: '505f0a0c-57a7-4d9e-9fac-66bbf557ac4d',\n    ownerCompanyId: '6a62244e-aa2f-461b-8c7a-3a0e091be9d3',\n    ownerId: 'd781ac09-b4fe-4d57-8ba2-4640fc5b7c49',\n    items: [\n      {\n        pricingPlanId: '85d30404-c56b-4dff-9f3b-06636477fe55',\n        units: [{quantity: 10, unit: 'USER'}]\n      },\n      {pricingPlanId: 'd12931cf-eac6-45fa-8965-d33b1c5698b0', units: []}\n    ],\n    currency: 'USD',\n    createdByCompanyId: 'b7e0c48b-6d0d-45fc-9c8a-3fa3fd84d9f1',\n    createdById: '8f6b3d29-4169-4fb0-91ff-bad9b7a3d0d4',\n    purchaseCustomAttributes: {paid_off_platform_contact: ['janet.doe@accounting.acme.com']}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"customerCompanyId\\\":\\\"498c62ea-ad14-48e6-96ce-5400c617444c\\\",\\\"customerId\\\":\\\"505f0a0c-57a7-4d9e-9fac-66bbf557ac4d\\\",\\\"ownerCompanyId\\\":\\\"6a62244e-aa2f-461b-8c7a-3a0e091be9d3\\\",\\\"ownerId\\\":\\\"d781ac09-b4fe-4d57-8ba2-4640fc5b7c49\\\",\\\"items\\\":[{\\\"pricingPlanId\\\":\\\"85d30404-c56b-4dff-9f3b-06636477fe55\\\",\\\"units\\\":[{\\\"quantity\\\":10,\\\"unit\\\":\\\"USER\\\"}]},{\\\"pricingPlanId\\\":\\\"d12931cf-eac6-45fa-8965-d33b1c5698b0\\\",\\\"units\\\":[]}],\\\"currency\\\":\\\"USD\\\",\\\"createdByCompanyId\\\":\\\"b7e0c48b-6d0d-45fc-9c8a-3fa3fd84d9f1\\\",\\\"createdById\\\":\\\"8f6b3d29-4169-4fb0-91ff-bad9b7a3d0d4\\\",\\\"purchaseCustomAttributes\\\":{\\\"paid_off_platform_contact\\\":[\\\"janet.doe@accounting.acme.com\\\"]}}\");\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/assistedSales/v1/opportunities?context=SOME_STRING_VALUE\")\n  .post(body)\n  .addHeader(\"content-type\", \"application/json\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
    get:
      x-appdirect-api-stage: Early Access
      summary: List opportunities
      description: "Retrieve a list of opportunities. Returned opportunities are limited to role visibility: \n Marketplace Manager, Partner, Partner Read: all opportunities. \n Reseller Manager: all opportunities owned by Reseller companies. \n Reseller, SSR: all opportunities owned by the company to which the Reseller or SSR belongs. \n When users have multiple roles, visibility is the sum of visibility for all their roles. \n Additional filter parameters are available for some roles.\n\nRequired: Accept-Language header with Locale format. For example: en-US"
      tags:
      - AppResellerOpportunities
      operationId: readOpportunities
      x-appdirect-required-scopes:
        ROLE_RESELLER:
        - Allows access as a Reseller to the opportunity
        ROLE_SALES_SUPPORT:
        - Allows access as a Sales Support to the opportunity
        ROLE_CHANNEL_ADMIN:
        - Allows access as a Marketplace Manager to the opportunity
        ROLE_RESELLER_MANAGER:
        - Allows access as a Reseller Manager to the opportunity
        ROLE_PARTNER:
        - Allows access as a Partner to the opportunity
        ROLE_PARTNER_READ:
        - Allows read access as a Partner to the opportunity
      parameters:
      - in: query
        name: ownerId
        description: Sales agent's user ID
        required: false
        schema:
          type: string
      - in: query
        name: ownerCompanyId
        description: Sales agent's company ID, which defines which company owns opportunities. This is an optional filter to only return opportunities that the sale's agent's company owns. Only valid for Marketplace Manager, Reseller Manager, Partner, and Partner Read roles (invalid for Reseller and SSR roles because they can only see opportunities owned by their company). No opportunities are returned when the call is filtered by a company ID for which the user does not have access.
        required: false
        schema:
          type: string
      - in: query
        name: customerId
        description: Customer's user ID
        required: false
        schema:
          type: string
      - in: query
        name: customerCompanyId
        description: Customer's company ID
        required: false
        schema:
          type: string
      - in: query
        name: context
        description: Optional. For Marketplace Manager, Partner, and Partner Read roles, filter the returned opportunities by those owned by SSRs or Resellers.
        required: false
        schema:
          type: string
          enum:
          - RESELLER
          - SSR
      - $ref: '#/components/parameters/OpportunityStatus'
      - in: query
        name: purchaseEffectiveDate
        description: 'Opportunity purchase effective date filter, defined by upper or lower inclusive or exclusive limits, in Unix timestamp format. Acceptable values are: gte([timestamp]) - ''greater than or equal to''; or lte([timestamp]) - ''less than or equal to'''
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - in: query
        name: createdOn
        description: 'Opportunity creation date filter, defined by upper or lower inclusive or exclusive limits, in Unix timestamp format. Acceptable values are: gte([timestamp]) - ''greater than or equal to''; or lte([timestamp]) - ''less than or equal to'''
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - in: query
        name: searchText
        description: General text search filter used for any ID (opportunity, sales agent, sales agent company, customer, or customer company) and opportunity name
        required: false
        schema:
          type: string
      - in: query
        name: number
        description: Page number
        required: false
        schema:
          type: integer
          default: 1
      - in: query
        name: size
        description: Number of results per page
        required: false
        schema:
          type: integer
          default: 10
      - in: query
        name: sort
        description: Sort field and order. For ascending sort order, use the '+[FieldName]' format. For descending order, use the '-[FieldName]' format.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityPage'
              examples:
                response:
                  value:
                    page:
                      number: 1
                      size: 10
                      totalElements: 2
                      totalPages: 1
                    content:
                    - id: ef6c414f-39da-401f-a4b8-81adc6190fda
                      name: Prospect N1
                      ownerUser:
                        id: d781ac09-b4fe-4d57-8ba2-4640fc5b7c49
                        email: john.doe@acme.com
                        firstName: John
                        lastName: Doe
                        company:
                          id: '1'
                          name: Acme Corp.
                      customerUser:
                        id: 498c62ea-ad14-48e6-96ce-5400c617444c
                        email: jane.smith@company.com
                        firstName: Jane
                        lastName: Smith
                        company:
                          id: '100'
                          name: Customer Company
                      createdOn: 1557861989000
                      purchaseEffectiveDate: 1577750400000
                      status: CLOSED
                      ownerType: PLATFORM_OWNER
                      createdByUser:
                        id: 8f6b3d29-4169-4fb0-91ff-bad9b7a3d0d4
                        email: peter.parker@marvel.com
                        firstName: Peter
                        lastName: Parker
                        company:
                          id: '99'
                          name: Marvel Corp.
                    - id: 70826bb4-bb6c-43b8-9c39-2c4e481a8b5e
                      name: null
                      ownerUser:
                        id: d11cf5ef-6270-492f-9d2c-07fa01eeb5c2
                        email: jane.smith@globex.com
                        firstName: Jane
                        lastName: Smith
                        company:
                          id: '2'
                          name: Globex Inc.
                      customerUser:
                        id: e0a6bec0-7e25-43a1-b601-6a8cec5a847f
                        email: gsymons@stark.com
                        firstName: Gary
                        lastName: Symons
                        company:
                          id: '100'
                          name: Customer Company
                      createdOn: 1557861989000
                      purchaseEffectiveDate: null
                      status: OPEN
                      ownerType: PLATFORM_OWNER
                      createdByUser:
                        id: 8f6b3d29-4169-4fb0-91ff-bad9b7a3d0d4
                        email: peter.parker@marvel.com
                        firstName: Peter
                        lastName: Parker
                        company:
                          id: '99'
                          name: Marvel Corp.
        '403':
          description: The user does not have permission to execute the action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 403
                    code: FORBIDDEN
                    message: Forbidden
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url 'https://marketplace.appdirect.com/api/assistedSales/v1/opportunities?ownerId=SOME_STRING_VALUE&ownerCompanyId=SOME_STRING_VALUE&customerId=SOME_STRING_VALUE&customerCompanyId=SOME_STRING_VALUE&context=SOME_STRING_VALUE&status=SOME_STRING_VALUE&purchaseEffectiveDate=SOME_ARRAY_VALUE&createdOn=SOME_ARRAY_VALUE&searchText=SOME_STRING_VALUE&number=SOME_INTEGER_VALUE&size=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE'"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://marketplace.appdirect.com/api/assistedSales/v1/opportunities',\n  qs: {\n    ownerId: 'SOME_STRING_VALUE',\n    ownerCompanyId: 'SOME_STRING_VALUE',\n    customerId: 'SOME_STRING_VALUE',\n    customerCompanyId: 'SOME_STRING_VALUE',\n    context: 'SOME_STRING_VALUE',\n    status: 'SOME_STRING_VALUE',\n    purchaseEffectiveDate: 'SOME_ARRAY_VALUE',\n    createdOn: 'SOME_ARRAY_VALUE',\n    searchText: 'SOME_STRING_VALUE',\n    number: 'SOME_INTEGER_VALUE',\n    size: 'SOME_INTEGER_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/assistedSales/v1/opportunities?ownerId=SOME_STRING_VALUE&ownerCompanyId=SOME_STRING_VALUE&customerId=SOME_STRING_VALUE&customerCompanyId=SOME_STRING_VALUE&context=SOME_STRING_VALUE&status=SOME_STRING_VALUE&purchaseEffectiveDate=SOME_ARRAY_VALUE&createdOn=SOME_ARRAY_VALUE&searchText=SOME_STRING_VALUE&number=SOME_INTEGER_VALUE&size=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"
    delete:
      x-appdirect-api-stage: Early Access
      summary: Remove opportunities
      description: 'Removes a list of opportunities


        Required: Accept-Language header with Locale format. For example: en-US'
      tags:
      - AppResellerOpportunities
      operationId: deleteOpportunities
      x-appdirect-required-scopes:
        ROLE_RESELLER:
        - Allows access as a Reseller to the opportunity
        ROLE_SALES_SUPPORT:
        - Allows Sales Support Representative access to opportunity
        ROLE_CHANNEL_ADMIN:
        - Allows access as a Marketplace Manager to the opportunity
        ROLE_RESELLER_MANAGER:
        - Allows access as a Reseller Manager to the opportunity
        ROLE_PARTNER:
        - Allows access as a Partner to the opportunity
      parameters:
      - in: query
        name: opportunityId
        description: This parameter is required. The parameter lists the opportunity IDs.
        required: true
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                description: No Content
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 400
                    code: BAD_REQUEST
                    message: The list of opportunityIds cannot be null.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 401
                    code: UNAUTHORIZED
                    message: HTTP 401 Unauthorized
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request DELETE \\\n  --url 'https://marketplace.appdirect.com/api/assistedSales/v1/opportunities?opportunityId=SOME_ARRAY_VALUE'"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://marketplace.appdirect.com/api/assistedSales/v1/opportunities',\n  qs: {opportunityId: 'SOME_ARRAY_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/assistedSales/v1/opportunities?opportunityId=SOME_ARRAY_VALUE\")\n  .delete(null)\n  .build();\n\nResponse response = client.newCall(request).execute();"
  /assistedSales/v1/opportunities/{opportunityId}:
    get:
      x-appdirect-api-stage: Early Access
      summary: Get opportunity details
      description: 'Read an opportunity


        Required: Accept-Language header with Locale format. For example: en-US'
      tags:
      - AppResellerOpportunities
      operationId: readOpportunity
      x-appdirect-required-scopes:
        ROLE_RESELLER:
        - Allows access as a Reseller to the opportunity
        ROLE_SALES_SUPPORT:
        - Allows access as a Sales Support to the opportunity
        ROLE_CHANNEL_ADMIN:
        - Allows access as a Marketplace Manager to the opportunity
        ROLE_RESELLER_MANAGER:
        - Allows access as a Reseller Manager to the opportunity
        ROLE_PARTNER:
        - Allows access as a Partner to the opportunity
        ROLE_PARTNER_READ:
        - Allows read access as a Partner to the opportunity
      parameters:
      - in: path
        name: opportunityId
        description: Opportunity ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Opportunity'
              examples:
                response:
                  value:
                    id: ef6c414f-39da-401f-a4b8-81adc6190fda
                    ownerUser:
                      id: d781ac09-b4fe-4d57-8ba2-4640fc5b7c49
                      email: john.doe@acme.com
                      firstName: John
                      lastName: Doe
                      company:
                        id: '1'
                        name: Acme Corp.
                    customerUser:
                      id: 498c62ea-ad14-48e6-96ce-5400c617444c
                      email: jane.smith@company.com
                      firstName: Jane
                      lastName: Smith
                      company:
                        id: '100'
                        name: Customer Company
                    createdOn: '1546300800000'
                    currency: USD
                    purchaseEffectiveDate: '1577750400000'
                    name: Prospect N1
                    status: OPEN
                    items:
                    - id: 4ccf689b-4339-4fc9-a8b3-b05c5a87c1be
                      pricingPlanId: 4bc864b5-f63f-4933-be19-3700aa9a8cc4
                      units:
                      - quantity: '20'
                        unit: USER
                      subscriptionCustomAttributes:
                        intended_os:
                        - other
                        - ios
                        - macos
                        sales_agent_id:
                        - R353113R
                      vendorRequiredFields:
                        name:
                        - John
                        lastname:
                        - Doe
                        email:
                        - john.doe@acme.com
                    - id: dece524d-0466-4185-b3bb-1f8a300c37cd
                      pricingPlanId: 80b85538-ffc1-4c4b-acb1-1bf87c8c2fc4
                      units: []
                    availableActions:
                    - ADD_PRODUCT
                    - EDIT
                    - FINALIZE
                    - SET_CUSTOM_PRICE
                    - SET_CUSTOM_CONTRACT
                    - SET_PROVISIONING_DATE
                    - SET_BILLING_DATE
                    - CHANGE_OPPORTUNITY_OWNER
                    actionRestrictions: {}
                    createdByUser:
                      id: 8f6b3d29-4169-4fb0-91ff-bad9b7a3d0d4
                      email: peter.parker@marvel.com
                      firstName: Peter
                      lastName: Parker
                      company:
                        id: '99'
                        name: Marvel Corp.
        '206':
          description: The creation of the opportunity is still in progress and a partial result is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Opportunity'
              examples:
                response:
                  value:
                    id: ef6c414f-39da-401f-a4b8-81adc6190fda
                    ownerUser:
                      id: d781ac09-b4fe-4d57-8ba2-4640fc5b7c49
                      email: john.doe@acme.com
                      firstName: John
                      lastName: Doe
                      company:
                        id: '1'
                        name: Acme Corp.
                    customerUser:
                      id: 498c62ea-ad14-48e6-96ce-5400c617444c
                      email: jane.smith@company.com
                      firstName: Jane
                      lastName: Smith
                      company:
                        id: '100'
                        name: Customer Company
                    createdOn: '1546300800000'
                    currency: USD
                    purchaseEffectiveDate: '1577750400000'
                    name: Prospect N1
                    status: OPEN
                    items: []
                    availableActions:
                    - ADD_PRODUCT
                    - EDIT
                    - CHANGE_OPPORTUNITY_OWNER
                    actionRestrictions: {}
                    createdByUser:
                      id: 8f6b3d29-4169-4fb0-91ff-bad9b7a3d0d4
                      email: peter.parker@marvel.com
                      firstName: Peter
                      lastName: Parker
                      company:
                        id: '99'
                        name: Marvel Corp.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 401
                    code: UNAUTHORIZED
                    message: HTTP 401 Unauthorized
        '403':
          description: The user does not have access to the opportunity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 403
                    code: FORBIDDEN
                    message: Forbidden
        '404':
          description: Invalid opportunity ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 404
                    code: NOT_FOUND
                    message: Invalid opportunity ID
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"
    patch:
      x-appdirect-api-stage: Early Access
      summary: Update opportunity
      description: 'Updates an existing opportunity: name, purchase effective date and purchase custom attributes


        Required: Accept-Language header with Locale format. For example: en-US'
      tags:
      - AppResellerOpportunities
      operationId: updateOpportunity
      x-appdirect-required-scopes:
        ROLE_RESELLER:
        - Allows access as a Reseller to the opportunity
        ROLE_SALES_SUPPORT:
        - Allows access as a Sales Support to the opportunity
        ROLE_CHANNEL_ADMIN:
        - Allows access as a Marketplace Manager to the opportunity
        ROLE_RESELLER_MANAGER:
        - Allows access as a Reseller Manager to the opportunity
        ROLE_PARTNER:
        - Allows access as a Partner to the opportunity
      parameters:
      - in: path
        name: opportunityId
        description: Opportunity ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpportunityUpdateRequest'
        description: Information about the opportunity being updated
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Opportunity'
              examples:
                response:
                  value:
                    id: ef6c414f-39da-401f-a4b8-81adc6190fda
                    ownerUser:
                      id: d781ac09-b4fe-4d57-8ba2-4640fc5b7c49
                      email: john.doe@acme.com
                      firstName: John
                      lastName: Doe
                      company:
                        id: '1'
                        name: Acme Corp.
                    customerUser:
                      id: 498c62ea-ad14-48e6-96ce-5400c617444c
                      email: jane.smith@company.com
                      firstName: Jane
                      lastName: Smith
                      company:
                        id: '100'
                        name: Customer Company
                    createdOn: '1546300800000'
                    currency: USD
                    purchaseEffectiveDate: '1577750400000'
                    name: Prospect N1
                    status: OPEN
                    items:
                    - id: 4ccf689b-4339-4fc9-a8b3-b05c5a87c1be
                      pricingPlanId: 4bc864b5-f63f-4933-be19-3700aa9a8cc4
                      units:
                      - quantity: '20'
                        unit: USER
                      subscriptionCustomAttributes:
                        intended_os:
                        - other
                        - ios
                        - macos
                        sales_agent_id:
                        - R353113R
                      vendorRequiredFields:
                        name:
                        - John
                        lastname:
                        - Doe
                        email:
                        - john.doe@acme.com
                    - id: dece524d-0466-4185-b3bb-1f8a300c37cd
                      pricingPlanId: 80b85538-ffc1-4c4b-acb1-1bf87c8c2fc4
                      units: []
                    availableActions:
                    - ADD_PRODUCT
                    - EDIT
                    - FINALIZE
                    - SET_CUSTOM_PRICE
                    - SET_CUSTOM_CONTRACT
                    - SET_PROVISIONING_DATE
                    - SET_BILLING_DATE
                    - CHANGE_OPPORTUNITY_OWNER
                    actionRestrictions: {}
                    createdByUser:
                      id: 8f6b3d29-4169-4fb0-91ff-bad9b7a3d0d4
                      email: peter.parker@marvel.com
                      firstName: Peter
                      lastName: Parker
                      company:
                        id: '99'
                        name: Marvel Corp.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 401
                    code: UNAUTHORIZED
                    message: HTTP 401 Unauthorized
        '403':
          description: The user does not have access to the opportunity or the opportunity status does not allow the action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 403
                    code: FORBIDDEN
                    message: Forbidden
        '404':
          description: Invalid opportunity ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 404
                    code: NOT_FOUND
                    message: Invalid opportunity ID
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request PATCH \\\n  --url https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"New opportunity\",\"purchaseEffectiveDate\":1577750400000,\"purchaseCustomAttributes\":{\"paid_off_platform_contact\":[\"janet.doe@accounting.acme.com\"]}}'"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    name: 'New opportunity',\n    purchaseEffectiveDate: 1577750400000,\n    purchaseCustomAttributes: {paid_off_platform_contact: ['janet.doe@accounting.acme.com']}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"name\\\":\\\"New opportunity\\\",\\\"purchaseEffectiveDate\\\":1577750400000,\\\"purchaseCustomAttributes\\\":{\\\"paid_off_platform_contact\\\":[\\\"janet.doe@accounting.acme.com\\\"]}}\");\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D\")\n  .patch(body)\n  .addHeader(\"content-type\", \"application/json\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
  /assistedSales/v1/opportunities/{opportunityId}/items:
    post:
      x-appdirect-api-stage: Early Access
      summary: Add items
      description: 'Add one or more items to an opportunity


        Required: Accept-Language header with Locale format. For example: en-US'
      tags:
      - AppResellerOpportunities
      operationId: addItems
      x-appdirect-required-scopes:
        ROLE_RESELLER:
        - Allows access as a Reseller for the opportunity
        ROLE_SALES_SUPPORT:
        - Allows access as a Sales Support for the opportunity
        ROLE_CHANNEL_ADMIN:
        - Allows access as a Marketplace Manager to the opportunity
        ROLE_RESELLER_MANAGER:
        - Allows access as a Reseller Manager to the opportunity. Role permissions are required to execute this action.
        ROLE_PARTNER:
        - Allows access as a Partner to the opportunity
      parameters:
      - in: path
        name: opportunityId
        description: Opportunity ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/OpportunityItem'
              example:
              - pricingPlanId: a22c03e9-9e27-4e85-8433-78f246345685
                units:
                - quantity: '8'
                  unit: USER
                subscriptionCustomAttributes:
                  intended_os:
                  - other
                  - ios
                  - macos
                  sales_agent_id:
                  - R353113R
                vendorRequiredFields:
                  name:
                  - jonh
                  lastname:
                  - doe
                  email:
                  - john.doe@acme.com
                provisioningConfiguration:
                  date: '1546300800000'
                  strategy: CUSTOM
                billingConfiguration:
                  date: '1546300800000'
                  strategy: CUSTOM
        description: Information about the items being added to the opportunity. Request body must include either a product ID or pricing plan ID for each item. Item IDs are returned by the API after the items are added to the opportunity
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OpportunityItem'
              examples:
                response:
                  value:
                  - id: 37f56046-2cec-4bf4-a4e2-5a733dc849a9
                    pricingPlanId: a22c03e9-9e27-4e85-8433-78f246345685
                    units:
                    - quantity: '8'
                      unit: USER
                    subscriptionCustomAttributes:
                      intended_os:
                      - other
                      - ios
                      - macos
                      sales_agent_id:
                      - R353113R
                    vendorRequiredFields:
                      name:
                      - jonh
                      lastname:
                      - doe
                      email:
                      - john.doe@acme.com
                    provisioningConfiguration:
                      date: '1546300800000'
                      strategy: CUSTOM
                    billingConfiguration:
                      date: '1546300800000'
                      strategy: CUSTOM
        '400':
          description: Missing or invalid required parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 400
                    code: BAD_REQUEST
                    message: Missing or invalid required parameter
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 401
                    code: UNAUTHORIZED
                    message: HTTP 401 Unauthorized
        '403':
          description: The user does not have access to the opportunity, or the user does not have permission to execute the action, or the opportunity status does not allow the action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 403
                    code: FORBIDDEN
                    message: Forbidden
        '404':
          description: Invalid opportunity ID, or product or pricing plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 404
                    code: NOT_FOUND
                    message: Invalid opportunity ID, or product or pricing plan not found
        '409':
          description: Restrictions apply to one or more products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 409
                    code: CONFLICT
                    message: 'There''s at least one restriction for a product of the opportunity. OwnerUUID: d781ac09-b4fe-4d57-8ba2-4640fc5b7c49 CustomerUUID: 498c62ea-ad14-48e6-96ce-5400c617444c - Restrictions by product: 58a8508e-f480-4dfa-b605-a0512c00c1ea ( ALREADY_PURCHASED )'
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request POST \\\n  --url https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D/items \\\n  --header 'content-type: application/json' \\\n  --data '[{\"pricingPlanId\":\"a22c03e9-9e27-4e85-8433-78f246345685\",\"units\":[{\"quantity\":\"8\",\"unit\":\"USER\"}],\"subscriptionCustomAttributes\":{\"intended_os\":[\"other\",\"ios\",\"macos\"],\"sales_agent_id\":[\"R353113R\"]},\"vendorRequiredFields\":{\"name\":[\"jonh\"],\"lastname\":[\"doe\"],\"email\":[\"john.doe@acme.com\"]},\"provisioningConfiguration\":{\"date\":\"1546300800000\",\"strategy\":\"CUSTOM\"},\"billingConfiguration\":{\"date\":\"1546300800000\",\"strategy\":\"CUSTOM\"}}]'"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D/items',\n  headers: {'content-type': 'application/json'},\n  body: [\n    {\n      pricingPlanId: 'a22c03e9-9e27-4e85-8433-78f246345685',\n      units: [{quantity: '8', unit: 'USER'}],\n      subscriptionCustomAttributes: {intended_os: ['other', 'ios', 'macos'], sales_agent_id: ['R353113R']},\n      vendorRequiredFields: {name: ['jonh'], lastname: ['doe'], email: ['john.doe@acme.com']},\n      provisioningConfiguration: {date: '1546300800000', strategy: 'CUSTOM'},\n      billingConfiguration: {date: '1546300800000', strategy: 'CUSTOM'}\n    }\n  ],\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"[{\\\"pricingPlanId\\\":\\\"a22c03e9-9e27-4e85-8433-78f246345685\\\",\\\"units\\\":[{\\\"quantity\\\":\\\"8\\\",\\\"unit\\\":\\\"USER\\\"}],\\\"subscriptionCustomAttributes\\\":{\\\"intended_os\\\":[\\\"other\\\",\\\"ios\\\",\\\"macos\\\"],\\\"sales_agent_id\\\":[\\\"R353113R\\\"]},\\\"vendorRequiredFields\\\":{\\\"name\\\":[\\\"jonh\\\"],\\\"lastname\\\":[\\\"doe\\\"],\\\"email\\\":[\\\"john.doe@acme.com\\\"]},\\\"provisioningConfiguration\\\":{\\\"date\\\":\\\"1546300800000\\\",\\\"strategy\\\":\\\"CUSTOM\\\"},\\\"billingConfiguration\\\":{\\\"date\\\":\\\"1546300800000\\\",\\\"strategy\\\":\\\"CUSTOM\\\"}}]\");\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D/items\")\n  .post(body)\n  .addHeader(\"content-type\", \"application/json\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
    get:
      x-appdirect-api-stage: Early Access
      summary: List items
      description: 'Lists all items in an opportunity.


        Required: Accept-Language header with Locale format. For example: en-US'
      tags:
      - AppResellerOpportunities
      operationId: readItems
      x-appdirect-required-scopes:
        ROLE_RESELLER:
        - Allows access as a Reseller to the opportunity
        ROLE_SALES_SUPPORT:
        - Allows access as a Sales Support to the opportunity
        ROLE_CHANNEL_ADMIN:
        - Allows access as a Marketplace Manager to the opportunity
        ROLE_RESELLER_MANAGER:
        - Allows access as a Reseller Manager to the opportunity
        ROLE_PARTNER:
        - Allows access as a Partner to the opportunity
        ROLE_PARTNER_READ:
        - Allows read access as a Partner to the opportunity
      parameters:
      - in: path
        name: opportunityId
        description: Opportunity ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityItemDetail'
              examples:
                response:
                  value:
                  - id: 37f56046-2cec-4bf4-a4e2-5a733dc849a9
                    product:
                      id: cc0c7c28-ea65-4bab-8a4a-5e84d90ab291
                      name: Appsome Webapp
                      type: WEB_APP
                      logo: https://logs.acme.com/400x400/ddd/000.png&text=Appsome+App
                    pricingPlan:
                      id: 031d9ed2-3df1-44f5-876a-6b4318ba7bdb
                      name: Recurring Edition with Unlimited Included Users
                    units:
                    - quantity: '8'
                      unit: USER
                    pricing:
                    - costId: cd3c7c22-sd64-4bag-8a4v-5e84d90ab291
                      costTypeCategory: RECURRING
                      costType: RECURRING_FLAT
                      pricingStrategy: FREE
                      priceRanges: []
                      description: RECURRING_FLAT
                      quantity: '1.0000000000'
                      salePrice: '0.0000000000'
                      wholesalePrice: '0.0000000000'
                      totalSalePrice: '0.0000000000'
                    - costId: kl3c7c24-sd33-4bui-8a4v-8u84d98ab333
                      costTypeCategory: RECURRING
                      costType: INCLUDED
                      pricingStrategy: UNLIMITED
                      priceRanges: []
                      description: INCLUDED
                      unit: USER
                      salePrice: '0.0000000000'
                      wholesalePrice: '0.0000000000'
                      totalSalePrice: '0.0000000000'
                    subscriptionCustomAttributes:
                      intended_os:
                      - other
                      - ios
                      - macos
                      sales_agent_id:
                      - R353113R
                    vendorRequiredFields:
                      name:
                      - John
                      lastname:
                      - Doe
                      email:
                      - john.doe@acme.com
                    contractConfiguration:
                      minimumServiceLength: 3
                      minimumServiceLengthUnit: MONTHLY
                      terminationFee:
                        feeType: FIXED
                        amount: 2
                      renewalConfiguration: MONTH_TO_MONTH
                      terminationFeeGracePeriod: 7
                      terminationFeeGracePeriodUnit: DAY
                      contractCancellationPeriodLimit: null
                      contractCancellationPeriodUnit: NONE
                      endOfContractGracePeriod: null
                      endOfContractGracePeriodUnit: INFINITY
                      unitTerms:
                        USER:
                          blockContractIncrease: false
                          blockOriginalContractDecrease: false
                          blockContractDecrease: true
                      blockContractUpgrades: false
                      blockContractDowngrades: true
                      blockSwitchToShorterContract: true
                      keepContractDateOnPlanChange: false
                    provisioningConfiguration:
                      date: '1546300800000'
                      strategy: CUSTOM
                    billingConfiguration:
                      date: '1546300800000'
                      strategy: CUSTOM
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 401
                    code: UNAUTHORIZED
                    message: HTTP 401 Unauthorized
        '403':
          description: The user does not have access to the opportunity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 403
                    code: FORBIDDEN
                    message: Forbidden
        '404':
          description: Invalid opportunity ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 404
                    code: NOT_FOUND
                    message: Invalid opportunity ID
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D/items"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D/items'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D/items\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"
  /assistedSales/v1/opportunities/{opportunityId}/items/{itemId}:
    delete:
      x-appdirect-api-stage: Early Access
      summary: Remove item
      description: 'Removes an item from the opportunity


        Required: Accept-Language header with Locale format. For example: en-US'
      tags:
      - AppResellerOpportunities
      operationId: deleteOpportunityItem
      x-appdirect-required-scopes:
        ROLE_RESELLER:
        - Allows access as a Reseller to the opportunity
        ROLE_SALES_SUPPORT:
        - Allows access as a Sales Support to the opportunity
        ROLE_CHANNEL_ADMIN:
        - Allows access as a Marketplace Manager to the opportunity
        ROLE_RESELLER_MANAGER:
        - Allows access as a Reseller Manager to the opportunity
        ROLE_PARTNER:
        - Allows access as a Partner to the opportunity
      parameters:
      - in: path
        name: opportunityId
        description: Opportunity ID
        required: true
        schema:
          type: string
      - in: path
        name: itemId
        description: Item ID
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 401
                    code: UNAUTHORIZED
                    message: HTTP 401 Unauthorized
        '403':
          description: The user does not have access to the opportunity or the opportunity status does not allow the action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 403
                    code: FORBIDDEN
                    message: Forbidden
        '404':
          description: Invalid opportunity ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 404
                    code: NOT_FOUND
                    message: Invalid opportunity ID
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request DELETE \\\n  --url https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D/items/%7BitemId%7D"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D/items/%7BitemId%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D/items/%7BitemId%7D\")\n  .delete(null)\n  .build();\n\nResponse response = client.newCall(request).execute();"
    put:
      x-appdirect-api-stage: Early Access
      summary: Edit item
      description: 'Edit an item on the opportunity.


        Required: Accept-Language header with Locale format. For example: en-US'
      tags:
      - AppResellerOpportunities
      operationId: editItem
      x-appdirect-required-scopes:
        ROLE_RESELLER:
        - Allow access as a Reseller to the opportunity. Role permissions are required to update, for example, custom prices, custom contracts, provisioning configuration, and billing configuration.
        ROLE_SALES_SUPPORT:
        - Allows access as a Sales Support Representative to the opportunity. Role permissions are required to update, for example, custom prices, custom contracts, provisioning configuration, and billing configuration.
        ROLE_CHANNEL_ADMIN:
        - Allows access as a Marketplace Manager to the opportunity
        ROLE_RESELLER_MANAGER:
        - Allows access as a Reseller Manager to the opportunity. Role permissions are required to update, for example, custom prices.
        ROLE_PARTNER:
        - Allows access as a Partner to the opportunity
      parameters:
      - in: path
        name: opportunityId
        description: Opportunity ID
        required: true
        schema:
          type: string
      - in: path
        name: itemId
        description: Item ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpportunityItemUpdateRequest'
        description: Information about the item being edited
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityItemDetail'
              examples:
                response:
                  value:
                    id: 37f56046-2cec-4bf4-a4e2-5a733dc849a9
                    product:
                      id: cc0c7c28-ea65-4bab-8a4a-5e84d90ab291
                      name: Appsome Webapp
                      type: WEB_APP
                      logo: https://logs.acme.com/400x400/ddd/000.png&text=Appsome+App
                    pricingPlan:
                      id: 031d9ed2-3df1-44f5-876a-6b4318ba7bdb
                      name: Recurring Edition with Unlimited Included Users
                    units:
                    - quantity: '8'
                      unit: USER
                    pricing:
                    - costId: cd3c7c22-sd64-4bag-8a4v-5e84d90ab291
                      costTypeCategory: RECURRING
                      costType: RECURRING_FLAT
                      pricingStrategy: FREE
                      priceRanges: []
                      description: RECURRING_FLAT
                      quantity: '1.0000000000'
                      salePrice: '0.0000000000'
                      wholesalePrice: '0.0000000000'
                      totalSalePrice: '0.0000000000'
                    - costId: kl3c7c24-sd33-4bui-8a4v-8u84d98ab333
                      costTypeCategory: RECURRING
                      costType: INCLUDED
                      pricingStrategy: UNLIMITED
                      priceRanges: []
                      description: INCLUDED
                      unit: USER
                      salePrice: '0.0000000000'
                      wholesalePrice: '0.0000000000'
                      totalSalePrice: '0.0000000000'
                    subscriptionCustomAttributes:
                      intended_os:
                      - other
                      - ios
                      - macos
                      sales_agent_id:
                      - R353113R
                    vendorRequiredFields:
                      name:
                      - John
                      lastname:
                      - Doe
                      email:
                      - john.doe@acme.com
                    contractConfiguration:
                      minimumServiceLength: '3'
                      minimumServiceLengthUnit: MONTHLY
                      terminationFee:
                        feeType: FIXED
                        amount: '2'
                      renewalConfiguration: MONTH_TO_MONTH
                      terminationFeeGracePeriod: '7'
                      terminationFeeGracePeriodUnit: DAY
                      contractCancellationPeriodLimit: null
                      contractCancellationPeriodUnit: NONE
                      endOfContractGracePeriod: null
                      endOfContractGracePeriodUnit: INFINITY
                      unitTerms:
                        USER:
                          blockContractIncrease: false
                          blockOriginalContractDecrease: false
                          blockContractDecrease: true
                      blockContractUpgrades: false
                      blockContractDowngrades: true
                      blockSwitchToShorterContract: true
                      keepContractDateOnPlanChange: false
                    provisioningConfiguration:
                      date: '1546300800000'
                      strategy: CUSTOM
                    billingConfiguration:
                      date: '1546300800000'
                      strategy: CUSTOM
        '400':
          description: Missing or invalid required parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 400
                    code: BAD_REQUEST
                    message: Missing or invalid required parameter
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 401
                    code: UNAUTHORIZED
                    message: HTTP 401 Unauthorized
        '403':
          description: The user does not have access to the opportunity, or does not have permission to update part or the whole item information, or the opportunity status does not allow the action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 403
                    code: FORBIDDEN
                    message: Forbidden
        '404':
          description: Invalid opportunity ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 404
                    code: NOT_FOUND
                    message: Invalid opportunity ID
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request PUT \\\n  --url https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D/items/%7BitemId%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"id\":\"37f56046-2cec-4bf4-a4e2-5a733dc849a9\",\"pricingPlanId\":\"a22c03e9-9e27-4e85-8433-78f246345685\",\"units\":[{\"quantity\":\"8\",\"unit\":\"USER\"}],\"customPrices\":[{\"costId\":\"e5f403a3-7ba0-45d4-8117-8dd8cbceb6c6\",\"price\":100},{\"costId\":\"9742e09a-e1b4-4b9e-b1a7-66df3e41cebe\",\"price\":20}],\"contractConfiguration\":{\"minimumServiceLength\":\"3\",\"minimumServiceLengthUnit\":\"MONTHLY\",\"terminationFee\":{\"feeType\":\"FIXED\",\"amount\":\"2\"},\"renewalConfiguration\":\"MONTH_TO_MONTH\",\"terminationFeeGracePeriod\":\"7\",\"terminationFeeGracePeriodUnit\":\"DAY\",\"contractCancellationPeriodLimit\":null,\"contractCancellationPeriodUnit\":\"NONE\",\"endOfContractGracePeriod\":null,\"endOfContractGracePeriodUnit\":\"INFINITY\",\"unitTerms\":{\"USER\":{\"blockContractIncrease\":false,\"blockOriginalContractDecrease\":false,\"blockContractDecrease\":true}},\"blockContractUpgrades\":false,\"blockContractDowngrades\":true,\"blockSwitchToShorterContract\":true,\"keepContractDateOnPlanChange\":false},\"provisioningConfiguration\":{\"date\":\"1546300800000\",\"strategy\":\"CUSTOM\"},\"billingConfiguration\":{\"date\":\"1546300800000\",\"strategy\":\"CUSTOM\"},\"subscriptionCustomAttributes\":{\"intended_os\":[\"other\",\"ios\",\"macos\"],\"sales_agent_id\":[\"R353113R\"]},\"vendorRequiredFields\":{\"name\":[\"John\"],\"lastname\":[\"Doe\"],\"email\":[\"john.doe@acme.com\"]}}'"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'PUT',\n  url: 'https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D/items/%7BitemId%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    id: '37f56046-2cec-4bf4-a4e2-5a733dc849a9',\n    pricingPlanId: 'a22c03e9-9e27-4e85-8433-78f246345685',\n    units: [{quantity: '8', unit: 'USER'}],\n    customPrices: [\n      {costId: 'e5f403a3-7ba0-45d4-8117-8dd8cbceb6c6', price: 100},\n      {costId: '9742e09a-e1b4-4b9e-b1a7-66df3e41cebe', price: 20}\n    ],\n    contractConfiguration: {\n      minimumServiceLength: '3',\n      minimumServiceLengthUnit: 'MONTHLY',\n      terminationFee: {feeType: 'FIXED', amount: '2'},\n      renewalConfiguration: 'MONTH_TO_MONTH',\n      terminationFeeGracePeriod: '7',\n      terminationFeeGracePeriodUnit: 'DAY',\n      contractCancellationPeriodLimit: null,\n      contractCancellationPeriodUnit: 'NONE',\n      endOfContractGracePeriod: null,\n      endOfContractGracePeriodUnit: 'INFINITY',\n      unitTerms: {\n        USER: {\n          blockContractIncrease: false,\n          blockOriginalContractDecrease: false,\n          blockContractDecrease: true\n        }\n      },\n      blockContractUpgrades: false,\n      blockContractDowngrades: true,\n      blockSwitchToShorterContract: true,\n      keepContractDateOnPlanChange: false\n    },\n    provisioningConfiguration: {date: '1546300800000', strategy: 'CUSTOM'},\n    billingConfiguration: {date: '1546300800000', strategy: 'CUSTOM'},\n    subscriptionCustomAttributes: {intended_os: ['other', 'ios', 'macos'], sales_agent_id: ['R353113R']},\n    vendorRequiredFields: {name: ['John'], lastname: ['Doe'], email: ['john.doe@acme.com']}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"id\\\":\\\"37f56046-2cec-4bf4-a4e2-5a733dc849a9\\\",\\\"pricingPlanId\\\":\\\"a22c03e9-9e27-4e85-8433-78f246345685\\\",\\\"units\\\":[{\\\"quantity\\\":\\\"8\\\",\\\"unit\\\":\\\"USER\\\"}],\\\"customPrices\\\":[{\\\"costId\\\":\\\"e5f403a3-7ba0-45d4-8117-8dd8cbceb6c6\\\",\\\"price\\\":100},{\\\"costId\\\":\\\"9742e09a-e1b4-4b9e-b1a7-66df3e41cebe\\\",\\\"price\\\":20}],\\\"contractConfiguration\\\":{\\\"minimumServiceLength\\\":\\\"3\\\",\\\"minimumServiceLengthUnit\\\":\\\"MONTHLY\\\",\\\"terminationFee\\\":{\\\"feeType\\\":\\\"FIXED\\\",\\\"amount\\\":\\\"2\\\"},\\\"renewalConfiguration\\\":\\\"MONTH_TO_MONTH\\\",\\\"terminationFeeGracePeriod\\\":\\\"7\\\",\\\"terminationFeeGracePeriodUnit\\\":\\\"DAY\\\",\\\"contractCancellationPeriodLimit\\\":null,\\\"contractCancellationPeriodUnit\\\":\\\"NONE\\\",\\\"endOfContractGracePeriod\\\":null,\\\"endOfContractGracePeriodUnit\\\":\\\"INFINITY\\\",\\\"unitTerms\\\":{\\\"USER\\\":{\\\"blockContractIncrease\\\":false,\\\"blockOriginalContractDecrease\\\":false,\\\"blockContractDecrease\\\":true}},\\\"blockContractUpgrades\\\":false,\\\"blockContractDowngrades\\\":true,\\\"blockSwitchToShorterContract\\\":true,\\\"keepContractDateOnPlanChange\\\":false},\\\"provisioningConfiguration\\\":{\\\"date\\\":\\\"1546300800000\\\",\\\"strategy\\\":\\\"CUSTOM\\\"},\\\"billingConfiguration\\\":{\\\"date\\\":\\\"1546300800000\\\",\\\"strategy\\\":\\\"CUSTOM\\\"},\\\"subscriptionCustomAttributes\\\":{\\\"intended_os\\\":[\\\"other\\\",\\\"ios\\\",\\\"macos\\\"],\\\"sales_agent_id\\\":[\\\"R353113R\\\"]},\\\"vendorRequiredFields\\\":{\\\"name\\\":[\\\"John\\\"],\\\"lastname\\\":[\\\"Doe\\\"],\\\"email\\\":[\\\"john.doe@acme.com\\\"]}}\");\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D/items/%7BitemId%7D\")\n  .put(body)\n  .addHeader(\"content-type\", \"application/json\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
  /assistedSales/v2/opportunities/{opportunityId}/finalize:
    post:
      x-appdirect-api-stage: Early Access
      summary: Finalize opportunity
      description: 'Finalize an opportunity


        Required: Accept-Language header with Locale format. For example: en-US'
      tags:
      - AppResellerOpportunities
      operationId: finalizeOpportunity
      x-appdirect-required-scopes:
        ROLE_RESELLER:
        - Allows access as a Reseller to the opportunity. Role permissions are required to execute this action.
        ROLE_SALES_SUPPORT:
        - Allows access as a Sales Support to the opportunity. Role permissions are required to execute this action.
        ROLE_CHANNEL_ADMIN:
        - Allows access as a Marketplace Manager to the opportunity
        ROLE_RESELLER_MANAGER:
        - Allows access as a Reseller Manager to the opportunity. Role permissions are required to execute this action.
        ROLE_PARTNER:
        - Allows access as a Partner to the opportunity
      parameters:
      - in: path
        name: opportunityId
        description: Opportunity ID
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Opportunity'
              examples:
                response:
                  value:
                    id: ef6c414f-39da-401f-a4b8-81adc6190fda
                    ownerUser:
                      id: d781ac09-b4fe-4d57-8ba2-4640fc5b7c49
                      email: john.doe@acme.com
                      firstName: John
                      lastName: Doe
                      company:
                        id: '1'
                        name: Acme Corp.
                    customerUser:
                      id: 498c62ea-ad14-48e6-96ce-5400c617444c
                      email: jane.smith@company.com
                      firstName: Jane
                      lastName: Smith
                      company:
                        id: '100'
                        name: Customer Company
                    createdOn: '1546300800000'
                    currency: USD
                    name: Prospect N1
                    status: PROCESSING
                    items:
                    - id: 4ccf689b-4339-4fc9-a8b3-b05c5a87c1be
                      pricingPlanId: 4bc864b5-f63f-4933-be19-3700aa9a8cc4
                      units:
                      - quantity: '20'
                        unit: USER
                      subscriptionCustomAttributes:
                        intended_os:
                        - other
                        - ios
                        - macos
                        sales_agent_id:
                        - R353113R
                      vendorRequiredFields:
                        name:
                        - John
                        lastname:
                        - Doe
                        email:
                        - john.doe@acme.com
                    - id: dece524d-0466-4185-b3bb-1f8a300c37cd
                      pricingPlanId: 80b85538-ffc1-4c4b-acb1-1bf87c8c2fc4
                      units: []
                    availableActions: []
                    purchaseId: 62e0f81b-a016-403a-8b9b-a01b515837ca
                    purchaseNumber: '006204'
                    createdByUser:
                      id: 8f6b3d29-4169-4fb0-91ff-bad9b7a3d0d4
                      email: peter.parker@marvel.com
                      firstName: Peter
                      lastName: Parker
                      company:
                        id: '99'
                        name: Marvel Corp.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 401
                    code: UNAUTHORIZED
                    message: HTTP 401 Unauthorized
        '403':
          description: The user does not have access to the opportunity, or the user does not have permission to execute the action, or the opportunity status does not allow the action, or restrictions apply such as customer account being inactive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 403
                    code: FORBIDDEN
                    message: Forbidden
        '404':
          description: Invalid opportunity ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 404
                    code: NOT_FOUND
                    message: Invalid opportunity ID
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request POST \\\n  --url https://marketplace.appdirect.com/api/assistedSales/v2/opportunities/%7BopportunityId%7D/finalize"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://marketplace.appdirect.com/api/assistedSales/v2/opportunities/%7BopportunityId%7D/finalize'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/assistedSales/v2/opportunities/%7BopportunityId%7D/finalize\")\n  .post(null)\n  .build();\n\nResponse response = client.newCall(request).execute();"
  /assistedSales/v1/opportunities/{opportunityId}/requestReview:
    post:
      x-appdirect-api-stage: Early Access
      tags:
      - AppResellerOpportunities
      summary: Request opportunity review
      description: 'Submit the opportunity to the manager for review. After it is submitted, the sales agent cannot modify the opportunity. Managers can still modify and finalize it.


        Required: Accept-Language header with Locale format. For example: en-US'
      operationId: requestOpportunityReview
      x-appdirect-required-scopes:
        ROLE_RESELLER:
        - Allows access as a Reseller to the opportunity
        ROLE_SALES_SUPPORT:
        - Allows access as a Sales Support to the opportunity
        ROLE_RESELLER_MANAGER:
        - Allows access as a Reseller Manager to the opportunity. Role permmission required to execute this action.
      parameters:
      - in: path
        name: opportunityId
        required: true
        description: Opportunity ID
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Opportunity'
              examples:
                response:
                  value:
                    id: ef6c414f-39da-401f-a4b8-81adc6190fda
                    ownerUser:
                      id: d781ac09-b4fe-4d57-8ba2-4640fc5b7c49
                      email: john.doe@acme.com
                      firstName: John
                      lastName: Doe
                      company:
                        id: '1'
                        name: Acme Corp.
                    customerUser:
                      id: 498c62ea-ad14-48e6-96ce-5400c617444c
                      email: jane.smith@company.com
                      firstName: Jane
                      lastName: Smith
                      company:
                        id: '100'
                        name: Customer Company
                    createdOn: '1546300800000'
                    currency: USD
                    purchaseEffectiveDate: '1577750400000'
                    name: Prospect N1
                    status: PENDING_REVIEW
                    items:
                    - id: 4ccf689b-4339-4fc9-a8b3-b05c5a87c1be
                      pricingPlanId: 4bc864b5-f63f-4933-be19-3700aa9a8cc4
                      units:
                      - quantity: '20'
                        unit: USER
                      subscriptionCustomAttributes:
                        intended_os:
                        - other
                        - ios
                        - macos
                        sales_agent_id:
                        - R353113R
                      vendorRequiredFields:
                        name:
                        - John
                        lastname:
                        - Doe
                        email:
                        - john.doe@acme.com
                    - id: dece524d-0466-4185-b3bb-1f8a300c37cd
                      pricingPlanId: 80b85538-ffc1-4c4b-acb1-1bf87c8c2fc4
                      units: []
                    availableActions: []
                    createdByUser:
                      id: 8f6b3d29-4169-4fb0-91ff-bad9b7a3d0d4
                      email: peter.parker@marvel.com
                      firstName: Peter
                      lastName: Parker
                      company:
                        id: '99'
                        name: Marvel Corp.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 401
                    code: UNAUTHORIZED
                    message: HTTP 401 Unauthorized
        '403':
          description: The user does not have access to the opportunity, or the user does not have permissions to execute the action, or the opportunity status does not allow the action, or restrictions apply such as customer account being inactive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 403
                    code: FORBIDDEN
                    message: Forbidden
        '404':
          description: Invalid opportunity ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 404
                    code: NOT_FOUND
                    message: Invalid opportunity ID
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request POST \\\n  --url https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D/requestReview"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D/requestReview'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D/requestReview\")\n  .post(null)\n  .build();\n\nResponse response = client.newCall(request).execute();"
  /assistedSales/v1/opportunities/{opportunityId}/summary:
    get:
      x-appdirect-api-stage: Early Access
      summary: Get opportunity summary
      description: 'Read the pricing summary of an opportunity


        Required: Accept-Language header with Locale format. For example: en-US'
      tags:
      - AppResellerOpportunities
      operationId: readOpportunitySummary
      x-appdirect-required-scopes:
        ROLE_RESELLER:
        - Allows access as a Reseller to the opportunity
        ROLE_SALES_SUPPORT:
        - Allows access as a Sales Support to the opportunity
        ROLE_CHANNEL_ADMIN:
        - Allows access as a Marketplace Manager to the opportunity
        ROLE_RESELLER_MANAGER:
        - Allows access as a Reseller Manager to the opportunity
        ROLE_PARTNER:
        - Allows access as a Partner to the opportunity
        ROLE_PARTNER_READ:
        - Allows read access as a Partner to the opportunity
      parameters:
      - in: path
        name: opportunityId
        description: Opportunity ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunitySummary'
              examples:
                response:
                  value:
                    amountDueBeforeTax: '11.0000000000'
                    taxSummary:
                    - description: Flat Tax
                      taxAmount: '2.0000000000'
                    amountDueAfterTax: '13.0000000000'
                    items:
                    - id: c57331b7-0820-44ac-ad75-ee4ab2783b7c
                      product:
                        id: fa776d2e-cda5-4256-9a27-125a0fe3f448
                        name: Supported Product for Opportunity MVP
                        type: WEB_APP_STACKED
                        isAddon: false
                        hasAddons: false
                      pricingPlan:
                        id: 7e1fd1fa-de0e-49e9-9e6a-9c474c57f22d
                        name: Tiered monthly+yearly flat with included YEARLY
                        editionCode: Tiered monthly+yearly flat with included
                      pricing:
                      - costType: RECURRING_FLAT
                        description: Tiered monthly+yearly flat with included
                        quantity: '1.0000000000'
                        totalSalePrice: '240.0000000000'
                      - costType: INCLUDED
                        description: INCLUDED
                        quantity: '1.0000000000'
                        totalSalePrice: '0.0000000000'
                      contractConfiguration:
                        minimumServiceLength: 1
                        minimumServiceLengthUnit: YEARLY
                        unitTerms: {}
                        blockContractUpgrades: true
                        blockContractDowngrades: true
                        blockSwitchToShorterContract: true
                        keepContractDateOnPlanChange: true
                      unitDefinitions:
                      - unit: USER
                        minimum: '1.0000000000'
                        meteredUsage: false
                        allowDecimals: false
                        readOnly: true
                        pricePerIncrement: false
                    recurringTotals:
                    - billingCycle:
                        period: YEARLY
                        dayOfMonth: 17
                      totalSalePrice: '240.0000000000'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 401
                    code: UNAUTHORIZED
                    message: HTTP 401 Unauthorized
        '403':
          description: The user does not have access to the opportunity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 403
                    code: FORBIDDEN
                    message: Forbidden
        '404':
          description: Invalid opportunity ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 404
                    code: NOT_FOUND
                    message: Invalid opportunity ID
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D/summary"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D/summary'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D/summary\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"
  /assistedSales/v1/opportunities/{opportunityId}/pricingPlanCosts:
    get:
      x-appdirect-api-stage: Early Access
      summary: Get opportunity pricing plan costs
      description: 'Read initial costs for a pricing plan of an opportunity item.


        ''Required: Accept-Language'' header with Locale format. For example: en-US'
      tags:
      - AppResellerOpportunities
      operationId: readPricingPlanCosts
      x-appdirect-required-scopes:
        ROLE_RESELLER:
        - Allows access as a Reseller to the opportunity
        ROLE_SALES_SUPPORT:
        - Allows access as a Sales Support to the opportunity
        ROLE_CHANNEL_ADMIN:
        - Allows access as a Marketplace Manager to the opportunity
        ROLE_RESELLER_MANAGER:
        - Allows access as a Reseller Manager to the opportunity
        ROLE_PARTNER:
        - Allows access as a Partner to the opportunity
        ROLE_PARTNER_READ:
        - Allows read access as a Partner to the opportunity
      parameters:
      - in: path
        name: opportunityId
        description: Opportunity ID
        required: true
        schema:
          type: string
      - in: query
        name: pricingPlanId
        description: Pricing plan ID
        required: true
        schema:
          type: string
      - in: query
        name: currency
        description: Opportunity currency, using the ISO-4217 currency code
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingPlanCosts'
              examples:
                response:
                  value:
                    pricingPlanId: a01c46d4-8925-4719-a891-2c036e2216a1
                    pricing:
                    - costId: 0121502b-0bac-4927-825c-d1f6c19e79c7
                      costTypeCategory: ONE_TIME
                      frequency: ONE_TIME
                      costType: CONTRACT_FEE
                      pricingStrategy: FLAT
                      priceRanges: []
                      description: Contract charge
                      unit: CONTRACT_FEE
                      quantity: '1.0000000000'
                      salePrice: '300.0000000000'
                      wholesalePrice: '300.0000000000'
                      totalSalePrice: '300.0000000000'
                    - costId: 78092def-eeb6-42dc-917e-182e38b53d16
                      costTypeCategory: RECURRING
                      frequency: MONTHLY
                      costType: RECURRING_FLAT
                      pricingStrategy: FLAT
                      priceRanges: []
                      description: Recurring monthly flat+ppu+ot with contract+ot+tf with included
                      quantity: '1.0000000000'
                      salePrice: '10.0000000000'
                      wholesalePrice: '10.0000000000'
                      totalSalePrice: '10.0000000000'
                    - costId: ea5b596d-950f-427b-87d0-7c82340b468b
                      costTypeCategory: ONE_TIME
                      frequency: ONE_TIME
                      costType: SETUP_FEE
                      pricingStrategy: FLAT
                      priceRanges: []
                      description: Recurring monthly flat+ppu+ot with contract+ot+tf with included
                      quantity: '1.0000000000'
                      salePrice: '100.0000000000'
                      wholesalePrice: '100.0000000000'
                      totalSalePrice: '100.0000000000'
                    - costId: 6160b953-88f7-49ec-a90d-aef0f9ae5d17
                      costTypeCategory: RECURRING
                      frequency: MONTHLY
                      costType: RECURRING_PER_UNIT
                      pricingStrategy: UNIT
                      priceRanges:
                      - min: '0.0000000000'
                      description: Per User Fee
                      unit: USER
                      quantity: '0.0000000000'
                      salePrice: '8.5000000000'
                      wholesalePrice: '8.5000000000'
                      totalSalePrice: '0.0000000000'
                    - costTypeCategory: RECURRING
                      frequency: MONTHLY
                      costType: INCLUDED
                      pricingStrategy: UNIT
                      priceRanges:
                      - min: '1.0000000000'
                        max: '1.0000000000'
                      description: INCLUDED
                      unit: USER
                      quantity: '1.0000000000'
                      salePrice: '0.0000000000'
                      wholesalePrice: '0.0000000000'
                      totalSalePrice: '0.0000000000'
                    contractConfiguration:
                      minimumServiceLength: 12
                      minimumServiceLengthUnit: MONTHLY
                      renewalConfiguration: AUTO_RENEW
                      terminationFee:
                        feeType: FIXED
                        amount: 400
                        description: Termination fee!
                      terminationFeeGracePeriodUnit: NONE
                      endOfContractGracePeriodUnit: INFINITY
                      contractCancellationPeriodUnit: NONE
                      unitTerms: {}
                      blockContractUpgrades: false
                      blockContractDowngrades: false
                      blockSwitchToShorterContract: false
                      keepContractDateOnPlanChange: false
                      isDefault: true
                    unitDefinitions:
                    - unit: USER
                      minimum: '1.0000000000'
                      meteredUsage: false
                      allowDecimals: false
                      readOnly: false
                      quantity: '1.0000000000'
                      increment: 1
                      pricePerIncrement: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 401
                    code: UNAUTHORIZED
                    message: HTTP 401 Unauthorized
        '403':
          description: The user does not have access to the opportunity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 403
                    code: FORBIDDEN
                    message: Forbidden
        '404':
          description: Invalid opportunity ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityError'
              examples:
                response:
                  value:
                    status: 404
                    code: NOT_FOUND
                    message: Invalid opportunity ID
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url 'https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D/pricingPlanCosts?pricingPlanId=SOME_STRING_VALUE&currency=SOME_STRING_VALUE'"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D/pricingPlanCosts',\n  qs: {pricingPlanId: 'SOME_STRING_VALUE', currency: 'SOME_STRING_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/assistedSales/v1/opportunities/%7BopportunityId%7D/pricingPlanCosts?pricingPlanId=SOME_STRING_VALUE&currency=SOME_STRING_VALUE\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"
  /assistedSales/v1/opportunities/pricingPlanCosts:
    get:
      x-appdirect-api-stage: Early Access
      summary: Get opportunity pricing plan costs without specifying an opportunity
      description: 'Read initial costs for a pricing plan of an opportunity item without specifying an opportunity.


        ''Required: Accept-Language'' header with Locale format. For example: en-US'
      tags:
      - AppResellerOpportunities
      operationId: readPricingPlanCostsWithoutOpportunity
      x-appdirect-required-scopes:
        ROLE_RESELLER:
        - Allows access as Reseller to the opportunity
        ROLE_SALES_SUPPORT:
        - Allows access as Sales Support to the opportunity
        ROLE_CHANNEL_ADMIN:
        - Allows access as Marketplace Manager to the opportunity
        ROLE_RESELLER_MANAGER:
        - Allows access as Reseller Manager to the opportunity
        ROLE_PARTNER:
        - Allows access as Partner to the opportunity
        ROLE_PARTNER_READ:
        - Allows read access as Partner to the opportunity
      parameters:
      - in: header
        name: Accept-Language
        description: 'Locale. Format: ''en-US'''
        required: true
        schema:
          type: string
      - in: query
        name: pricingPlanId
        description: Pricing plan ID
        required: true
        schema:
          type: string
      - in: query
        name: ownerId
        description: Sales agent's user ID
        required: true
        schema:
          type: string
      - in: query
        name: ownerCompanyId
        description: Sales agent's company ID
        required: true
        schema:
          type: string
      - in: query
        name: currency
        description: Opportunity currency, using the ISO-4217 currency code
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingPlanCosts'
              examples:
                response:
                  value:
                    pricingPlanId: a01c46d4-8925-4719-a891-2c036e2216a1
                    pricing:
                    - costId: 0121502b-0bac-4927-825c-d1f6c19e79c7
                      costTypeCategory: ONE_TIME
                      frequency: ONE_TIME
                      costType: CONTRACT_FEE
                      pricingStrategy: FLAT
                      priceRanges: []
                      description: Contract charge
                      unit: CONTRACT_FEE
                      quantity: '1.0000000000'
                      salePrice: '300.0000000000'
                      wholesalePrice: '300.0000000000'
                      totalSalePrice: '300.0000000000'
                    - costId: 78092def-eeb6-42dc-917e-182e38b53d16
                      costTypeCategory: RECURRING
                      frequency: MONTHLY
                      costType: RECURRING_FLAT
                      pricingStrategy: FLAT
                      priceRanges: []
                      description: Recurring monthly flat+ppu+ot with contract+ot+tf with included
                      quantity: '1.0000000000'
                      salePrice: '10.0000000000'
                      wholesalePrice: '10.0000000000'
                      totalSalePrice: '10.0000000000'
                    - costId: ea5b596d-950f-427b-87d0-7c82340b468b
                      costTypeCategory: ONE_TIME
                      frequency: ONE_TIME
                      costType: SETUP_FEE
                      pricingStrategy: FLAT
                      priceRanges: []
                      description: Recurring monthly flat+ppu+ot with contract+ot+tf with included
                      quantity: '1.0000000000'
                      salePrice: '100.0000000000'
                      wholesalePrice: '100.0000000000'
                      totalSalePrice: '100.0000000000'
                    - costId: 6160b953-88f7-49ec-a90d-aef0f9ae5d17
                      costTypeCategory: RECURRING
                      frequency: MONTHLY
                      costType: RECURRING_PER_UNIT
                      pricingStrategy: UNIT
                      priceRanges:
                      - min: '0.0000000000'
                      description: Per User Fee
                      unit: USER
                      quantity: '0.0000000000'
                      salePrice: '8.5000000000'
                      wholesalePrice: '8.5000000000'
                      totalSalePrice: '0.0000000000'
                    - costTypeCategory: RECURRING
                      frequency: MONTHLY
                      costType: INCLUDED
                      pricingStrategy: UNIT
                      priceRanges:
                      - min: '1.0000000000'
                        max: '1.0000000000'
                      description: INCLUDED
                      unit: USER
                      quantity: '1.0000000000'
                      salePrice: '0.0000000000'
                      wholesalePrice: '0.0000000000'
                      totalSalePrice: '0.0000000000'
                    contractConfiguration:
[...]
