openapi: 3.0.0
info:
  description: The Companies API allows developers to manage marketplace companies and their user memberships.
  title: Companies AI Embed PurchaseOrder API
  license:
    name: Apache License, Version 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  version: v296.0-SNAPSHOT
servers:
- url: https://marketplace.appdirect.com/api
- url: https://virtserver.swaggerhub.com
tags:
- name: PurchaseOrder
  x-displayName: Purchase Orders
paths:
  /billing/v1/companies/{companyId}/orders:
    get:
      description: List all of the purchase orders for the given company
      tags:
      - PurchaseOrder
      summary: List all purchase orders for a company
      operationId: resource_Other_readCompanyPurchaseOrders_GET
      parameters:
      - description: Company ID
        name: companyId
        in: path
        required: true
        schema:
          type: string
      - description: Filters results to only include subscriptions that were started on or after the specified date
        name: startDateFrom
        in: query
        schema:
          type: number
      - description: Filters results to only include subscriptions that were started on or before the specified date
        name: startDateTo
        in: query
        schema:
          type: number
      - description: Filters subscriptions by order status
        name: status
        in: query
        schema:
          type: string
          enum:
          - INITIALIZED
          - PENDING_USER_APPROVAL
          - PENDING_REMOTE_CREATION
          - PENDING_MANUAL_RECOVERY
          - PENDING_ASYNCHRONOUS_CREATION
          - FREE_TRIAL
          - ACTIVE
          - FINISHED
          - ONE_TIME
          - CANCELLED
          - SUSPENDED
          - FREE_TRIAL_EXPIRED
          - FREE_TRIAL_CANCELLED
          - DELETED
          - FAILED
          - UPCOMING
          - PENDING_MIGRATION_ACTIVATION
          - PENDING_DELAYED_PROVISIONING
      - description: Filters subscriptions by currency
        name: currency
        in: query
        schema:
          type: string
          enum:
          - USD
          - CAD
          - EUR
          - JPY
          - GBP
          - KRW
          - CHF
          - SEK
          - SGD
          - MYR
          - AUD
          - MXN
          - INR
          - BRL
          - DKK
          - NZD
          - NOK
          - ZAR
          - PHP
          - CNY
          - SAR
          - GTQ
          - IDR
          - ARS
          - COP
          - PEN
      - description: 'Filters subscriptions by order type.<br/>NEW: The first order of a subscription. The order contains flat fees (one time or recurring) for this subscription. It is active until the subscription is updated or canceled.<br/>MIGRATION: The order created after a subscription change. The order includes flat fees for both one-time and recurring editions.<br/>ADOPTION: The order created by an administrator who has taken ownership of an application from another user within the same company.<br/>FREE_TRIAL_ACTIVATION: Created when a free trial is manually upgraded to a paid subscription. Any subscription that is updated from free trial to paid automatically keeps the original NEW purchase order type.<br/>TERMINATION_FEE: A subscription is canceled that had a termination fee. This purchase order represents the fees incurred as a result of the cancellation.<br/>END_OF_CONTRACT_MIGRATION: Created when a subscription update takes place as a result of a contract extension. If the contract autorenewal is set to either continue without a contract or renew the contract with the same pricing plan, then no migration occurs and the original purchase order is updated to include the new end date for the contract.<br/>REFUND: Created when a refund is performed. The refund purchase order is created for only on-platform refunds. Off-platform refunds do not generate this type of purchase order.<br/>CREDIT: Created during subscription update events. Any subscription update calculates a paid period and a credit period. The credit is then provided to the user to prorate the subscription.<br/>ONE_TIME_FEE: Created if an edition includes one-time setup fees.<br/>ADDITIONAL_FEE: Used for off-order charges. A developer change creates an off-order charge and charges their customer a custom amount outside of the normal subscription cycle.<br/>END_OF_DISCOUNT_MIGRATION: Created after a discount of limited duration expires. This purchase order is created to represent the updated costs without the discount.<br/>METERED_USAGE: A purchase order created to accumulate usage fees during a billing period. The order is only valid for the billing period but it is updated with usage lines over the course of the billing period. A metered purchase order is invoiced in arrears at the end of the billing cycle.'
        name: type
        in: query
        schema:
          type: string
          enum:
          - NEW
          - MIGRATION
          - ADOPTION
          - FREE_TRIAL_ACTIVATION
          - TERMINATION_FEE
          - END_OF_CONTRACT_MIGRATION
          - REFUND
          - CREDIT
          - ONE_TIME_FEE
          - ADDITIONAL_FEE
          - END_OF_DISCOUNT_MIGRATION
          - METERED_USAGE
      - description: Filters subscriptions by pricing frequency
        name: frequency
        in: query
        schema:
          type: string
          enum:
          - ONE_TIME
          - MONTHLY
          - QUARTERLY
          - SIX_MONTHS
          - YEARLY
          - TWO_YEARS
          - THREE_YEARS
          - DAILY
      - description: Filters subscriptions by order reference code
        name: orderReferenceCode
        in: query
        schema:
          type: string
      - description: Filters subscriptions by internal application ID
        name: applicationIds
        in: query
        schema:
          type: number
      - description: Filters results to only include subscriptions that were created on or after the specified date
        name: fromCreationDate
        in: query
        schema:
          type: number
      - description: Filters results to only include subscriptions that were created on or before the specified date
        name: toCreationDate
        in: query
        schema:
          type: number
      - description: Number of results to fetch. Used for paging.
        name: count
        in: query
        schema:
          type: integer
          default: 250
      - description: Sort field.
        name: sortField
        in: query
        schema:
          type: string
          enum:
          - DATE
          - ORDER_ID
          - TOTAL
          default: DATE
      - description: Sort order.
        name: sortOrder
        in: query
        schema:
          type: string
          enum:
          - ASC
          - DESC
          default: ASC
      - description: First result index. Used for paging.
        name: start
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDetailedListingWS'
              examples:
                response:
                  value:
                    orders:
                    - startDate: 1480921200000
                      endDate: null
                      nextBillingDate: 1483599600000
                      endOfDiscountDate: null
                      status: ACTIVE
                      frequency: MONTHLY
                      currency: USD
                      type: NEW
                      totalPrice: 10
                      user:
                        id: c47d0fd7-b67a-4e07-84f8-f93dfafbeecc
                        href: http://appdirect/api/account/v1/users/c47d0fd7-b67a-4e07-84f8-f93dfafbeecc
                      salesSupportUser: null
                      company:
                        id: e83cd3d6-7865-4fc2-9d7c-603ad17dd639
                        href: http://appdirect/api/account/v1/companies/e83cd3d6-7865-4fc2-9d7c-603ad17dd639
                      referenceCode: null
                      paymentPlan:
                        href: http://appdirect/api/marketplace/v1/products/2/editions/2/paymentPlans/2
                        id: 2
                        uuid: eaca1aa5-4c4f-44cb-8cf4-eb0aa9267273
                        frequency: MONTHLY
                        contract:
                          minimumServiceLength: null
                          cancellationPeriodLimit: null
                          endOfContractGracePeriod: null
                          blockSwitchToShorterContract: false
                          blockContractDowngrades: false
                          blockContractUpgrades: false
                          alignWithParentCycleStartDate: false
                          gracePeriod: null
                          terminationFee: null
                          autoExtensionPricingId: null
                        allowCustomUsage: false
                        keepBillDateOnUsageChange: false
                        separatePrepaid: false
                        isPrimaryPrice: false
                        costs:
                        - id: 2
                          unit: USER
                          unitDependency: null
                          minUnits: 0
                          maxUnits: null
                          meteredUsage: false
                          increment: 1
                          pricePerIncrement: false
                          blockContractDecrease: false
                          blockContractIncrease: false
                          blockOriginalContractDecrease: false
                          amount:
                            USD: 10
                          pricingStrategy: UNIT
                        discount: null
                        primaryPrice: false
                      contract: null
                      previousOrder: null
                      nextOrder: null
                      discount: null
                      paymentPlanId: 2
                      discountId: null
                      activated: false
                      oneTimeOrders: []
                      orderLines:
                      - id: 1
                        type: ITEM
                        unit: USER
                        quantity: 1
                        price: 10
                        listingPrice: 10
                        totalPrice: 10
                        description: Test App 1 - null - Per User Fee
                      parameters: []
                      links:
                      - rel: subscription
                        href: http://appdirect/api/billing/v1/subscriptions/1b577640-9b77-47bc-beb8-ed59accb4836
                      id: 1
                    total: 1
            application/xml:
              schema:
                $ref: '#/components/schemas/OrderDetailedListingWS'
        '404':
          description: Not Found
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url 'https://marketplace.appdirect.com/api/billing/v1/companies/%7BcompanyId%7D/orders?startDateFrom=SOME_NUMBER_VALUE&startDateTo=SOME_NUMBER_VALUE&status=SOME_STRING_VALUE&currency=SOME_STRING_VALUE&type=SOME_STRING_VALUE&frequency=SOME_STRING_VALUE&orderReferenceCode=SOME_STRING_VALUE&applicationIds=SOME_NUMBER_VALUE&fromCreationDate=SOME_NUMBER_VALUE&toCreationDate=SOME_NUMBER_VALUE&count=SOME_INTEGER_VALUE&sortField=SOME_STRING_VALUE&sortOrder=SOME_STRING_VALUE&start=SOME_INTEGER_VALUE'"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://marketplace.appdirect.com/api/billing/v1/companies/%7BcompanyId%7D/orders',\n  qs: {\n    startDateFrom: 'SOME_NUMBER_VALUE',\n    startDateTo: 'SOME_NUMBER_VALUE',\n    status: 'SOME_STRING_VALUE',\n    currency: 'SOME_STRING_VALUE',\n    type: 'SOME_STRING_VALUE',\n    frequency: 'SOME_STRING_VALUE',\n    orderReferenceCode: 'SOME_STRING_VALUE',\n    applicationIds: 'SOME_NUMBER_VALUE',\n    fromCreationDate: 'SOME_NUMBER_VALUE',\n    toCreationDate: 'SOME_NUMBER_VALUE',\n    count: 'SOME_INTEGER_VALUE',\n    sortField: 'SOME_STRING_VALUE',\n    sortOrder: 'SOME_STRING_VALUE',\n    start: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/billing/v1/companies/%7BcompanyId%7D/orders?startDateFrom=SOME_NUMBER_VALUE&startDateTo=SOME_NUMBER_VALUE&status=SOME_STRING_VALUE&currency=SOME_STRING_VALUE&type=SOME_STRING_VALUE&frequency=SOME_STRING_VALUE&orderReferenceCode=SOME_STRING_VALUE&applicationIds=SOME_NUMBER_VALUE&fromCreationDate=SOME_NUMBER_VALUE&toCreationDate=SOME_NUMBER_VALUE&count=SOME_INTEGER_VALUE&sortField=SOME_STRING_VALUE&sortOrder=SOME_STRING_VALUE&start=SOME_INTEGER_VALUE\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"
  /billing/v1/companies/{companyId}/users/{userId}/orders:
    get:
      description: List all of the purchase orders for the given user
      tags:
      - PurchaseOrder
      summary: List all purchase orders for a user
      operationId: resource_Other_readUserPurchaseOrders_GET
      parameters:
      - description: User's company ID
        name: companyId
        in: path
        required: true
        schema:
          type: string
      - description: User ID
        name: userId
        in: path
        required: true
        schema:
          type: string
      - description: Filters results to only include subscriptions that were started on or after the specified date
        name: startDateFrom
        in: query
        schema:
          type: number
      - description: Filters results to only include subscriptions that were started on or before the specified date
        name: startDateTo
        in: query
        schema:
          type: number
      - description: Filters subscriptions by order status
        name: status
        in: query
        schema:
          type: string
          enum:
          - INITIALIZED
          - PENDING_USER_APPROVAL
          - PENDING_REMOTE_CREATION
          - PENDING_MANUAL_RECOVERY
          - PENDING_ASYNCHRONOUS_CREATION
          - FREE_TRIAL
          - ACTIVE
          - FINISHED
          - ONE_TIME
          - CANCELLED
          - SUSPENDED
          - FREE_TRIAL_EXPIRED
          - FREE_TRIAL_CANCELLED
          - DELETED
          - FAILED
          - UPCOMING
          - PENDING_MIGRATION_ACTIVATION
          - PENDING_DELAYED_PROVISIONING
      - description: Filters subscriptions by currency
        name: currency
        in: query
        schema:
          type: string
          enum:
          - USD
          - CAD
          - EUR
          - JPY
          - GBP
          - KRW
          - CHF
          - SEK
          - SGD
          - MYR
          - AUD
          - MXN
          - INR
          - BRL
          - DKK
          - NZD
          - NOK
          - ZAR
          - PHP
          - CNY
          - SAR
          - GTQ
          - IDR
          - ARS
          - COP
          - PEN
      - description: 'Filters subscriptions by order type.<br/>NEW: The first order of a subscription. The order contains flat fees (one time or recurring) for this subscription. It is active until the subscription is updated or canceled.<br/>MIGRATION: The order created after a subscription change. The order includes flat fees for both one-time and recurring editions.<br/>ADOPTION: The order created by an administrator who has taken ownership of an application from another user within the same company.<br/>FREE_TRIAL_ACTIVATION: Created when a free trial is manually upgraded to a paid subscription. Any subscription that is updated from free trial to paid automatically keeps its NEW status purchase order.<br/>TERMINATION_FEE: A subscription is canceled that had a termination fee. This purchase order represents the fees incurred as a result of the cancellation.<br/>END_OF_CONTRACT_MIGRATION: Created when a subscription update takes place as a result of a contract extension. If the contract autorenewal is set to either continue without a contract or renew the contract with the same pricing plan, then no migration occurs and the original purchase order is updated to include the new end date for the contract.<br/>REFUND: Created when a refund is performed. The refund purchase order is created for only on-platform refunds. Off-platform refunds do not generate this type of purchase order.<br/>CREDIT: Created during subscription update events. Any subscription update calculates a paid period and a credit period. The credit is then provided to the user to prorate the subscription.<br/>ONE_TIME_FEE: Created if an edition includes one-time setup fees.<br/>ADDITIONAL_FEE: Used for off-order charges. A developer change creates an off-order charge and charges their customer a custom amount outside of the normal subscription cycle.<br/>END_OF_DISCOUNT_MIGRATION: Created after a discount of limited duration expires. This purchase order is created to represent the updated costs without the discount.<br/>METERED_USAGE: A purchase order created to accumulate usage fees during a billing period. The order is only valid for the billing period but it is updated with usage lines over the course of the billing period. A metered purchase order is invoiced in arrears at the end of the billing cycle.'
        name: type
        in: query
        schema:
          type: string
          enum:
          - NEW
          - MIGRATION
          - ADOPTION
          - FREE_TRIAL_ACTIVATION
          - TERMINATION_FEE
          - END_OF_CONTRACT_MIGRATION
          - REFUND
          - CREDIT
          - ONE_TIME_FEE
          - ADDITIONAL_FEE
          - END_OF_DISCOUNT_MIGRATION
          - METERED_USAGE
      - description: Filters subscriptions by pricing frequency
        name: frequency
        in: query
        schema:
          type: string
          enum:
          - ONE_TIME
          - MONTHLY
          - QUARTERLY
          - SIX_MONTHS
          - YEARLY
          - TWO_YEARS
          - THREE_YEARS
          - DAILY
      - description: Filters subscriptions by order reference code
        name: orderReferenceCode
        in: query
        schema:
          type: string
      - description: Filters subscriptions by internal application ID
        name: applicationIds
        in: query
        schema:
          type: number
      - description: Filters results to only include subscriptions that were created on or after the specified date
        name: fromCreationDate
        in: query
        schema:
          type: number
      - description: Filters results to only include subscriptions that were created on or before the specified date
        name: toCreationDate
        in: query
        schema:
          type: number
      - description: Number of results to fetch. Used for paging.
        name: count
        in: query
        schema:
          type: integer
          default: 250
      - description: Sort field.
        name: sortField
        in: query
        schema:
          type: string
          enum:
          - DATE
          - ORDER_ID
          - TOTAL
          default: DATE
      - description: Sort order.
        name: sortOrder
        in: query
        schema:
          type: string
          enum:
          - ASC
          - DESC
          default: ASC
      - description: First result index. Used for paging.
        name: start
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Response.
          content:
            application/json:
              schema:
                description: Response.
                type: object
              examples:
                response:
                  value:
                    orders:
                    - startDate: 1480921200000
                      endDate: null
                      nextBillingDate: 1483599600000
                      endOfDiscountDate: null
                      status: ACTIVE
                      frequency: MONTHLY
                      currency: USD
                      type: NEW
                      totalPrice: 0
                      user:
                        id: c47d0fd7-b67a-4e07-84f8-f93dfafbeecc
                        href: http://appdirect/api/account/v1/users/c47d0fd7-b67a-4e07-84f8-f93dfafbeecc
                      salesSupportUser: null
                      company:
                        id: e83cd3d6-7865-4fc2-9d7c-603ad17dd639
                        href: http://appdirect/api/account/v1/companies/e83cd3d6-7865-4fc2-9d7c-603ad17dd639
                      referenceCode: null
                      paymentPlan:
                        href: http://appdirect/api/marketplace/v1/products/2/editions/2/paymentPlans/2
                        id: 2
                        uuid: eaca1aa5-4c4f-44cb-8cf4-eb0aa9267273
                        frequency: MONTHLY
                        contract:
                          minimumServiceLength: null
                          cancellationPeriodLimit: null
                          endOfContractGracePeriod: null
                          blockSwitchToShorterContract: false
                          blockContractDowngrades: false
                          blockContractUpgrades: false
                          alignWithParentCycleStartDate: false
                          gracePeriod: null
                          terminationFee: null
                          autoExtensionPricingId: null
                        allowCustomUsage: false
                        keepBillDateOnUsageChange: false
                        separatePrepaid: false
                        isPrimaryPrice: false
                        costs:
                        - id: 2
                          unit: USER
                          unitDependency: null
                          minUnits: 0
                          maxUnits: null
                          meteredUsage: false
                          increment: 1
                          pricePerIncrement: false
                          blockContractDecrease: false
                          blockContractIncrease: false
                          blockOriginalContractDecrease: false
                          amount:
                            USD: 10
                          pricingStrategy: UNIT
                        discount: null
                        primaryPrice: false
                      contract: null
                      previousOrder: null
                      nextOrder: null
                      discount: null
                      paymentPlanId: 2
                      discountId: null
                      activated: false
                      oneTimeOrders: []
                      orderLines:
                      - id: 1
                        type: ITEM
                        unit: USER
                        quantity: 1
                        price: 10
                        listingPrice: 10
                        totalPrice: 10
                        description: Test App 1 - null - Per User Fee
                      parameters: []
                      links:
                      - rel: subscription
                        href: http://appdirect/api/billing/v1/subscriptions/1b577640-9b77-47bc-beb8-ed59accb4836
                      id: 1
                    total: 1
            application/xml:
              schema:
                description: Response.
                type: object
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url 'https://marketplace.appdirect.com/api/billing/v1/companies/%7BcompanyId%7D/users/%7BuserId%7D/orders?startDateFrom=SOME_NUMBER_VALUE&startDateTo=SOME_NUMBER_VALUE&status=SOME_STRING_VALUE&currency=SOME_STRING_VALUE&type=SOME_STRING_VALUE&frequency=SOME_STRING_VALUE&orderReferenceCode=SOME_STRING_VALUE&applicationIds=SOME_NUMBER_VALUE&fromCreationDate=SOME_NUMBER_VALUE&toCreationDate=SOME_NUMBER_VALUE&count=SOME_INTEGER_VALUE&sortField=SOME_STRING_VALUE&sortOrder=SOME_STRING_VALUE&start=SOME_INTEGER_VALUE'"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://marketplace.appdirect.com/api/billing/v1/companies/%7BcompanyId%7D/users/%7BuserId%7D/orders',\n  qs: {\n    startDateFrom: 'SOME_NUMBER_VALUE',\n    startDateTo: 'SOME_NUMBER_VALUE',\n    status: 'SOME_STRING_VALUE',\n    currency: 'SOME_STRING_VALUE',\n    type: 'SOME_STRING_VALUE',\n    frequency: 'SOME_STRING_VALUE',\n    orderReferenceCode: 'SOME_STRING_VALUE',\n    applicationIds: 'SOME_NUMBER_VALUE',\n    fromCreationDate: 'SOME_NUMBER_VALUE',\n    toCreationDate: 'SOME_NUMBER_VALUE',\n    count: 'SOME_INTEGER_VALUE',\n    sortField: 'SOME_STRING_VALUE',\n    sortOrder: 'SOME_STRING_VALUE',\n    start: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/billing/v1/companies/%7BcompanyId%7D/users/%7BuserId%7D/orders?startDateFrom=SOME_NUMBER_VALUE&startDateTo=SOME_NUMBER_VALUE&status=SOME_STRING_VALUE&currency=SOME_STRING_VALUE&type=SOME_STRING_VALUE&frequency=SOME_STRING_VALUE&orderReferenceCode=SOME_STRING_VALUE&applicationIds=SOME_NUMBER_VALUE&fromCreationDate=SOME_NUMBER_VALUE&toCreationDate=SOME_NUMBER_VALUE&count=SOME_INTEGER_VALUE&sortField=SOME_STRING_VALUE&sortOrder=SOME_STRING_VALUE&start=SOME_INTEGER_VALUE\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"
  /billing/v1/orders/{orderId}/payments:
    get:
      description: List all purchase order payments
      tags:
      - PurchaseOrder
      summary: List all purchase order payments
      operationId: resource_Other_readOrderPayments_GET
      parameters:
      - description: The specific order id for which information is requested
        name: orderId
        in: path
        required: true
        schema:
          type: number
      - description: Number of results to fetch. Used for paging.
        name: count
        in: query
        schema:
          type: string
          default: '250'
      - description: Filter by the start date of the invoice
        name: fromDate
        in: query
        schema:
          type: number
      - description: Filter by method of the payment
        name: method
        in: query
        schema:
          type: string
          enum:
          - ADP_INVOICE
          - ARIBAPAY
          - BT_BILL
          - CLICKANDBUY
          - CLOUDFOUNDRY
          - CREDIT_CARD
          - CUMULA_BILL
          - DTAG
          - EXTERNAL_INVOICE
          - KREDITKARTE
          - LASTSCHRIFT_MRNEXNET
          - MANO_TEO_BILL
          - MANUAL
          - MARKETPLACE_CREDITS
          - NETS_ARVATO_INVOICE
          - NEXTEL
          - PAYPAL
          - ROGERS_CC_DTMF
          - ROGERS_CC_POS
          - SNAP
          - TBILL
          - THISTLE
          - TOICLEARING
      - description: Filter by results of the payment
        name: result
        in: query
        schema:
          type: string
          enum:
          - FAILED
          - GATEWAY_NOT_AVAILABLE
          - MANUAL
          - SUCCESSFUL
      - description: The filed to be used for sorting com.appdirect.backend.api.billing.types.OrderSortWS.
        name: sortField
        in: query
        schema:
          type: string
          enum:
          - AMOUNT
          - DATE
          - PAYMENT_ID
          default: PAYMENT_ID
      - description: Sort order org.springframework.data.domain.Sort.Direction.
        name: sortOrder
        in: query
        schema:
          type: string
          enum:
          - ASC
          - DESC
          default: ASC
      - description: First result index. Used for paging.
        name: start
        in: query
        schema:
          type: string
          default: '0'
      - description: Filter by the end date of the invoice
        name: toDate
        in: query
        schema:
          type: number
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: OK
                type: array
                items:
                  $ref: '#/components/schemas/PaymentWS'
              examples:
                response:
                  value:
                  - paymentNumber: 17
                    date: 1481001027061
                    amount: 10
                    currency: USD
                    result: SUCCESSFUL
                    method: CREDIT_CARD
                    transactionId: 123456abcdef
                    user:
                      id: 091d24f6-7b0c-42a0-84ff-86e1cdcf893c
                      href: http://appdirect/api/account/v1/users/091d24f6-7b0c-42a0-84ff-86e1cdcf893c
                    company:
                      id: 5df15aa3-a3f3-4c6f-a434-9a85545e9c95
                      href: http://appdirect/api/account/v1/companies/5df15aa3-a3f3-4c6f-a434-9a85545e9c95
                    gatewayResponse:
                      avs: true
                      cvv: true
                      code: null
                      message: null
                    links:
                    - rel: self
                      href: http://appdirect/api/billing/v1/payments/17
            application/xml:
              schema:
                description: OK
                type: array
                items:
                  $ref: '#/components/schemas/PaymentWS'
        '404':
          description: Not Found
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url 'https://marketplace.appdirect.com/api/billing/v1/orders/%7BorderId%7D/payments?count=SOME_STRING_VALUE&fromDate=SOME_NUMBER_VALUE&method=SOME_STRING_VALUE&result=SOME_STRING_VALUE&sortField=SOME_STRING_VALUE&sortOrder=SOME_STRING_VALUE&start=SOME_STRING_VALUE&toDate=SOME_NUMBER_VALUE'"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://marketplace.appdirect.com/api/billing/v1/orders/%7BorderId%7D/payments',\n  qs: {\n    count: 'SOME_STRING_VALUE',\n    fromDate: 'SOME_NUMBER_VALUE',\n    method: 'SOME_STRING_VALUE',\n    result: 'SOME_STRING_VALUE',\n    sortField: 'SOME_STRING_VALUE',\n    sortOrder: 'SOME_STRING_VALUE',\n    start: 'SOME_STRING_VALUE',\n    toDate: 'SOME_NUMBER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/billing/v1/orders/%7BorderId%7D/payments?count=SOME_STRING_VALUE&fromDate=SOME_NUMBER_VALUE&method=SOME_STRING_VALUE&result=SOME_STRING_VALUE&sortField=SOME_STRING_VALUE&sortOrder=SOME_STRING_VALUE&start=SOME_STRING_VALUE&toDate=SOME_NUMBER_VALUE\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"
  /billing/v1/orders:
    get:
      description: List all purchase orders
      tags:
      - PurchaseOrder
      summary: List all purchase orders
      operationId: resource_Other_readPurchaseOrders_GET
      x-appdirect-required-scopes:
        ROLE_PARTNER_READ:
        - Allows access to read all marketplace data.
      parameters:
      - description: Filters results to only include subscriptions that were started on or after the specified date
        name: startDateFrom
        in: query
        schema:
          type: number
      - description: Filters results to only include subscriptions that were started on or before the specified date
        name: startDateTo
        in: query
        schema:
          type: number
      - description: Filters orders with an order status
        name: status
        in: query
        schema:
          type: string
          enum:
          - INITIALIZED
          - PENDING_USER_APPROVAL
          - PENDING_REMOTE_CREATION
          - PENDING_MANUAL_RECOVERY
          - PENDING_ASYNCHRONOUS_CREATION
          - FREE_TRIAL
          - ACTIVE
          - FINISHED
          - ONE_TIME
          - CANCELLED
          - SUSPENDED
          - FREE_TRIAL_EXPIRED
          - FREE_TRIAL_CANCELLED
          - DELETED
          - FAILED
          - UPCOMING
          - PENDING_MIGRATION_ACTIVATION
          - PENDING_DELAYED_PROVISIONING
      - description: Filters orders by currency
        name: currency
        in: query
        schema:
          type: string
          enum:
          - USD
          - CAD
          - EUR
          - JPY
          - GBP
          - KRW
          - CHF
          - SEK
          - SGD
          - MYR
          - AUD
          - MXN
          - INR
          - BRL
          - DKK
          - NZD
          - NOK
          - ZAR
          - PHP
          - CNY
          - SAR
          - GTQ
          - IDR
          - ARS
          - COP
          - PEN
      - description: 'Filters orders by type.<br/>NEW: The first order of a subscription. The order contains flat fees (one time or recurring) for this subscription. It is active until the subscription is updated or canceled.<br/>MIGRATION: The order created after a subscription change. The order includes flat fees for both one-time and recurring editions.<br/>ADOPTION: The order created by an administrator who has taken ownership of an application from another user within the same company.<br/>FREE_TRIAL_ACTIVATION: Created when a free trial is manually upgraded to a paid subscription. Any subscription that is updated from free trial to paid automatically keeps its NEW status purchase order.<br/>TERMINATION_FEE: A subscription is canceled that had a termination fee. This purchase order represents the fees incurred as a result of the cancellation.<br/>END_OF_CONTRACT_MIGRATION: Created when a subscription update takes place as a result of a contract extension. If the contract autorenewal is set to either continue without a contract or renew the contract with the same pricing plan, then no migration occurs and the original purchase order is updated to include the new end date for the contract.<br/>REFUND: Created when a refund is performed. The refund purchase order is created for only on-platform refunds. Off-platform refunds do not generate this type of purchase order.<br/>CREDIT: Created during subscription update events. Any subscription update calculates a paid period and a credit period. The credit is then provided to the user to prorate the subscription.<br/>ONE_TIME_FEE: Created if an edition includes one-time setup fees.<br/>ADDITIONAL_FEE: Used for off-order charges. A developer change creates an off-order charge and charges their customer a custom amount outside of the normal subscription cycle.<br/>END_OF_DISCOUNT_MIGRATION: Created after a discount of limited duration expires. This purchase order is created to represent the updated costs without the discount.<br/>METERED_USAGE: A purchase order created to accumulate usage fees during a billing period. The order is only valid for the billing period but it is updated with usage lines over the course of the billing period. A metered purchase order is invoiced in arrears at the end of the billing cycle.'
        name: type
        in: query
        schema:
          type: string
          enum:
          - NEW
          - MIGRATION
          - ADOPTION
          - FREE_TRIAL_ACTIVATION
          - TERMINATION_FEE
          - END_OF_CONTRACT_MIGRATION
          - REFUND
          - CREDIT
          - ONE_TIME_FEE
          - ADDITIONAL_FEE
          - END_OF_DISCOUNT_MIGRATION
          - METERED_USAGE
      - description: Filters orders by payment frequency
        name: frequency
        in: query
        schema:
          type: string
          enum:
          - ONE_TIME
          - MONTHLY
          - QUARTERLY
          - SIX_MONTHS
          - YEARLY
          - TWO_YEARS
          - THREE_YEARS
          - DAILY
      - description: Filters orders by order reference code
        name: orderReferenceCode
        in: query
        schema:
          type: string
      - description: Filters orders by internal application ID
        name: applicationIds
        in: query
        schema:
          type: number
      - description: Filters results to only include subscriptions that were created on or after the specified date
        name: fromCreationDate
        in: query
        schema:
          type: number
      - description: Filters results to only include subscriptions that were created on or before the specified date
        name: toCreationDate
        in: query
        schema:
          type: number
      - description: First result index. Used for paging.
        name: page
        in: query
        schema:
          type: integer
          default: 0
      - description: Code provided by resellers and Sales Reps while purchasing a subscription
        name: referenceCode
        in: query
        schema:
          type: string
          default: ''
      - description: Number of results to fetch. Used for paging.
        name: size
        in: query
        schema:
          type: integer
          default: 50
      - description: The filed to be used for sorting com.appdirect.backend.api.billing.types.OrderSortWS.
        name: sortField
        in: query
        schema:
          type: string
          enum:
          - DATE
          - ORDER_ID
          - TOTAL
          default: DATE
      - description: Sort order org.springframework.data.domain.Sort.Direction.
        name: sortOrder
        in: query
        schema:
          type: string
          enum:
          - ASC
          - DESC
          default: ASC
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListingWS'
              examples:
                response:
                  value:
                    orders:
                    - startDate: 1481001027061
                      endDate: null
                      serviceStartDate: 1483679427061
                      nextBillingDate: 1483679427061
                      endOfDiscountDate: null
                      status: ACTIVE
                      frequency: MONTHLY
                      currency: USD
                      type: NEW
                      totalPrice: 0
                      user:
                        id: 091d24f6-7b0c-42a0-84ff-86e1cdcf893c
                        href: http://appdirect/api/account/v1/users/091d24f6-7b0c-42a0-84ff-86e1cdcf893c
                      salesSupportUser: null
                      salesSupportCompany: null
                      company:
                        id: 5df15aa3-a3f3-4c6f-a434-9a85545e9c95
                        href: http://appdirect/api/account/v1/companies/5df15aa3-a3f3-4c6f-a434-9a85545e9c95
                      referenceCode: null
                      paymentPlan:
                        href: http://appdirect/api/marketplace/v1/products/4/editions/4/paymentPlans/7
                        id: 7
                        uuid: 4e29be4a-142b-482f-938c-418720bfd092
                        frequency: MONTHLY
                        contract:
                          minimumServiceLength: 3
                          cancellationPeriodLimit: null
                          endOfContractGracePeriod: null
                          blockSwitchToShorterContract: false
                          blockContractDowngrades: false
                          blockContractUpgrades: false
                          alignWithParentCycleStartDate: false
                          gracePeriod: null
                          terminationFee: null
                          autoExtensionPricingId: 7
                        allowCustomUsage: false
                        keepBillDateOnUsageChange: false
                        separatePrepaid: false
                        isPrimaryPrice: false
                        costs:
                        - id: 7
                          unit: USER
                          unitDependency: null
                          minUnits: 0
                          maxUnits: null
                          meteredUsage: false
                          increment: 1
                          pricePerIncrement: false
                          blockContractDecrease: false
                          blockContractIncrease: false
                          blockOriginalContractDecrease: false
                          amount:
                            USD: 10
                          pricingStrategy: UNIT
                        discount: null
                        primaryPrice: false
                      contract: null
                      previousOrder: null
                      nextOrder: null
                      discount: null
                      paymentPlanId: 7
                      discountId: null
                      activated: false
                      oneTimeOrders: []
                      orderLines: []
                      parameters: []
                      links:
                      - rel: subscription
                        href: http://appdirect/api/billing/v1/subscriptions/6d2a0cb2-aa95-48d4-a0c3-37427164475e
                      id: 4
                      parentSubscriptionId: 5
                    total: 1
            application/xml:
              schema:
                $ref: '#/components/schemas/OrderListingWS'
        '404':
          description: Not Found
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url 'https://marketplace.appdirect.com/api/billing/v1/orders?startDateFrom=SOME_NUMBER_VALUE&startDateTo=SOME_NUMBER_VALUE&status=SOME_STRING_VALUE&currency=SOME_STRING_VALUE&type=SOME_STRING_VALUE&frequency=SOME_STRING_VALUE&orderReferenceCode=SOME_STRING_VALUE&applicationIds=SOME_NUMBER_VALUE&fromCreationDate=SOME_NUMBER_VALUE&toCreationDate=SOME_NUMBER_VALUE&page=SOME_INTEGER_VALUE&referenceCode=SOME_STRING_VALUE&size=SOME_INTEGER_VALUE&sortField=SOME_STRING_VALUE&sortOrder=SOME_STRING_VALUE'"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://marketplace.appdirect.com/api/billing/v1/orders',\n  qs: {\n    startDateFrom: 'SOME_NUMBER_VALUE',\n    startDateTo: 'SOME_NUMBER_VALUE',\n    status: 'SOME_STRING_VALUE',\n    currency: 'SOME_STRING_VALUE',\n    type: 'SOME_STRING_VALUE',\n    frequency: 'SOME_STRING_VALUE',\n    orderReferenceCode: 'SOME_STRING_VALUE',\n    applicationIds: 'SOME_NUMBER_VALUE',\n    fromCreationDate: 'SOME_NUMBER_VALUE',\n    toCreationDate: 'SOME_NUMBER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    referenceCode: 'SOME_STRING_VALUE',\n    size: 'SOME_INTEGER_VALUE',\n    sortField: 'SOME_STRING_VALUE',\n    sortOrder: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/billing/v1/orders?startDateFrom=SOME_NUMBER_VALUE&startDateTo=SOME_NUMBER_VALUE&status=SOME_STRING_VALUE&currency=SOME_STRING_VALUE&type=SOME_STRING_VALUE&frequency=SOME_STRING_VALUE&orderReferenceCode=SOME_STRING_VALUE&applicationIds=SOME_NUMBER_VALUE&fromCreationDate=SOME_NUMBER_VALUE&toCreationDate=SOME_NUMBER_VALUE&page=SOME_INTEGER_VALUE&referenceCode=SOME_STRING_VALUE&size=SOME_INTEGER_VALUE&sortField=SOME_STRING_VALUE&sortOrder=SOME_STRING_VALUE\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"
  /billing/v1/orders/{orderId}:
    get:
      description: 'Retrieve a purchase order.</br></br>Rate limit: Bucket size is 20 requests, with a leak rate of 4 requests per second.<br></br>Rate limit uses [leaky bucket algorithm](https://en.wikipedia.org/wiki/Leaky_bucket). Usage of a leaky bucket algorithm allows client applications to make an unlimited number of requests over a large time horizon but prevents excessively large bursts over a short one.'
      tags:
      - PurchaseOrder
      summary: Retrieve a purchase order
      operationId: resource_Other_readPurchaseOrder_GET
      parameters:
      - description: The specific order id for which information is requested
        name: orderId
        in: path
        required: true
        schema:
          type: number
      - description: Provide the list of comma separated resource name (possible values = "user,company,salesSupportUser") which is needed to be expanded in the response
        name: expand
        in: query
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderWS'
              examples:
                response:
                  value:
                    startDate: 1481001027061
                    endDate: null
                    serviceStartDate: 1483679427061
                    nextBillingDate: 1483679427061
                    endOfDiscountDate: null
                    status: ACTIVE
                    frequency: MONTHLY
                    currency: USD
                    type: NEW
                    totalPrice: 0
                    user:
                      id: 091d24f6-7b0c-42a0-84ff-86e1cdcf893c
                      href: http://appdirect/api/account/v1/users/091d24f6-7b0c-42a0-84ff-86e1cdcf893c
                    salesSupportUser: null
                    salesSupportCompany: null
                    company:
                      id: 5df15aa3-a3f3-4c6f-a434-9a85545e9c95
                      href: http://appdirect/api/account/v1/companies/5df15aa3-a3f3-4c6f-a434-9a85545e9c95
                    referenceCode: null
                    paymentPlan:
                      href: http://appdirect/api/marketplace/v1/products/4/editions/4/paymentPlans/7
                      id: 7
                      uuid: 4e29be4a-142b-482f-938c-418720bfd092
                      frequency: MONTHLY
                      contract:
                        minimumServiceLength: 3
                        cancellationPeriodLimit: null
                        endOfContractGracePeriod: null
                        blockSwitchToShorterContract: false
                        blockContractDowngrades: false
                        blockContractUpgrades: false
                        alignWithParentCycleStartDate: false
                        gracePeriod: null
                        terminationFee: null
                        autoExtensionPricingId: 7
                      allowCustomUsage: false
                      keepBillDateOnUsageChange: false
                      separatePrepaid: false
                      isPrimaryPrice: false
                      costs:
                      - id: 7
                        unit: USER
                        unitDependency: null
                        minUnits: 0
                        maxUnits: null
                        meteredUsage: false
                        increment: 1
                        pricePerIncrement: false
                        blockContractDecrease: false
                        blockContractIncrease: false
                        blockOriginalContractDecrease: false
                        amount:
                          USD: 10
                        pricingStrategy: UNIT
                      discount: null
                      primaryPrice: false
                    contract: null
                    previousOrder: null
                    nextOrder: null
                    discount: null
                    paymentPlanId: 7
                    discountId: null
                    activated: false
                    oneTimeOrders: []
                    orderLines: []
                    parameters: []
                    links:
                    - rel: subscription
                      href: http://appdirect/api/billing/v1/subscriptions/6d2a0cb2-aa95-48d4-a0c3-37427164475e
                    id: 4
                    parentSubscriptionId: 5
            application/xml:
              schema:
                $ref: '#/components/schemas/OrderWS'
        '404':
          description: Not Found
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url 'https://marketplace.appdirect.com/api/billing/v1/orders/%7BorderId%7D?expand=SOME_ARRAY_VALUE'"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://marketplace.appdirect.com/api/billing/v1/orders/%7BorderId%7D',\n  qs: {expand: 'SOME_ARRAY_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/billing/v1/orders/%7BorderId%7D?expand=SOME_ARRAY_VALUE\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"
  /billing/v1/orders/{orderId}/parameters:
    put:
      description: Update purchase order configuration details
      tags:
      - PurchaseOrder
      summary: Update purchase order configuration details
      operationId: resource_Other_updateOrderConfiguration_PUT
      parameters:
      - description: Id of the specific purchase order to update
        name: orderId
        in: path
        required: true
        schema:
          type: number
      requestBody:
        content:
          application/json:
            schema:
              description: List of parameters which needs to be update
              type: array
              items:
                $ref: '#/components/schemas/ParameterWS'
        description: List of parameters which needs to be update
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request PUT \\\n  --url https://marketplace.appdirect.com/api/billing/v1/orders/%7BorderId%7D/parameters \\\n  --header 'content-type: application/json' \\\n  --data '[{\"name\":\"...\",\"value\":\"...\"}]'"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'PUT',\n  url: 'https://marketplace.appdirect.com/api/billing/v1/orders/%7BorderId%7D/parameters',\n  headers: {'content-type': 'application/json'},\n  body: [{name: '...', value: '...'}],\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"[{\\\"name\\\":\\\"...\\\",\\\"value\\\":\\\"...\\\"}]\");\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/billing/v1/orders/%7BorderId%7D/parameters\")\n  .put(body)\n  .addHeader(\"content-type\", \"application/json\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
  /billing/v1/orders/{orderId}/invoices:
    get:
      description: List all purchase order invoices
      tags:
      - PurchaseOrder
      summary: List all purchase order invoices
      operationId: resource_Other_readOrderInvoices_GET
      parameters:
      - description: The specific order id for which information is requested
        name: orderId
        in: path
        required: true
        schema:
          type: number
      - description: Number of results to fetch. Used for paging.
        name: count
        in: query
        schema:
          type: string
          default: '250'
      - description: Exclude invoices whose amount is zero
        name: excludeFree
        in: query
        schema:
          type: boolean
      - description: Filter by the start date of the invoice
        name: fromDate
        in: query
        schema:
          type: number
      - description: The filed to be used for sorting com.appdirect.backend.api.billing.types.OrderSortWS.
        name: sortField
        in: query
        schema:
          type: string
          enum:
          - DATE
          - INVOICE_ID
          - TOTAL
          default: INVOICE_ID
      - description: Sort order org.springframework.data.domain.Sort.Direction.
        name: sortOrder
        in: query
        schema:
          type: string
          enum:
          - ASC
          - DESC
          default: ASC
      - description: First result index. Used for paging.
        name: start
        in: query
        schema:
          type: string
          default: '0'
      - description: Filter by the status of the invoice
        name: status
        in: query
        schema:
          type: string
          enum:
          - CARRIED
          - PAID
          - UNPAID
          - VOIDED
      - description: Filter by the end date of the invoice
        name: toDate
        in: query
        schema:
          type: number
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: OK
                type: array
                items:
                  $ref: '#/components/schemas/InvoiceListingWS'
              examples:
                response:
                  value:
                  - invoiceId: 16
                    referenceNumber: null
                    creationDate: 1481001027061
                    dueDate: 1481353200000
                    status: PAID
                    total: 10
                    orderIds:
                    - '3754'
                    currency: USD
                    user:
                      id: 091d24f6-7b0c-42a0-84ff-86e1cdcf893c
                      href: http://appdirect/api/account/v1/users/091d24f6-7b0c-42a0-84ff-86e1cdcf893c
                    company:
                      id: 5df15aa3-a3f3-4c6f-a434-9a85545e9c95
                      href: http://appdirect/api/account/v1/companies/5df15aa3-a3f3-4c6f-a434-9a85545e9c95
                    links:
                    - rel: user
                      href: http://appdirect/api/account/v2/users/091d24f6-7b0c-42a0-84ff-86e1cdcf893c
                    - rel: company
                      href: http://appdirect/api/account/v2/companies/5df15aa3-a3f3-4c6f-a434-9a85545e9c95
                    - rel: self
                      href: http://appdirect/api/billing/v1/invoices/16
            application/xml:
              schema:
                description: OK
                type: array
                items:
                  $ref: '#/components/schemas/InvoiceListingWS'
        '404':
          description: Not Found
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url 'https://marketplace.appdirect.com/api/billing/v1/orders/%7BorderId%7D/invoices?count=SOME_STRING_VALUE&excludeFree=SOME_BOOLEAN_VALUE&fromDate=SOME_NUMBER_VALUE&sortField=SOME_STRING_VALUE&sortOrder=SOME_STRING_VALUE&start=SOME_STRING_VALUE&status=SOME_STRING_VALUE&toDate=SOME_NUMBER_VALUE'"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://marketplace.appdirect.com/api/billing/v1/orders/%7BorderId%7D/invoices',\n  qs: {\n    count: 'SOME_STRING_VALUE',\n    excludeFree: 'SOME_BOOLEAN_VALUE',\n    fromDate: 'SOME_NUMBER_VALUE',\n    sortField: 'SOME_STRING_VALUE',\n    sortOrder: 'SOME_STRING_VALUE',\n    start: 'SOME_STRING_VALUE',\n    status: 'SOME_STRING_VALUE',\n    toDate: 'SOME_NUMBER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/billing/v1/orders/%7BorderId%7D/invoices?count=SOME_STRING_VALUE&excludeFree=SOME_BOOLEAN_VALUE&fromDate=SOME_NUMBER_VALUE&sortField=SOME_STRING_VALUE&sortOrder=SOME_STRING_VALUE&start=SOME_STRING_VALUE&status=SOME_STRING_VALUE&toDate=SOME_NUMBER_VALUE\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"
components:
  schemas:
    OrderContractWS:
      type: object
      title: OrderContract
      properties:
        minimumServiceLength:
          description: Minimum service length of contract
          type: number
        endOfContractDate:
          description: End date for contract
          type: number
        gracePeriodEndDate:
          description: End date for grace period
          type: number
          nullable: true
        cancellationPeriodLimit:
          description: Cancellation period limit
          type: number
          nullable: true
        endOfContractGracePeriod:
          description: Grace period for end of contract
          type: number
          nullable: true
        terminationFee:
          $ref: '#/components/schemas/OrderTerminationFeeWS'
        renewal:
          $ref: '#/components/schemas/OrderContractRenewalWS'
        autoExtensionPricingUuid:
          description: The edition pricing ID to which to bind the contract when it is automatically renewed. To retrieve the value, use the "uuid" value from the "Read payment plan" https://help.appdirect.com/api/appdirect.html#read-payment-plan request.
          type: string
          nullable: true
        continueWithoutContract:
          description: Determines whether to continue the subscription without a contract
          type: boolean
        blockContractUpgrades:
          description: Determines whether to block upgrades to the contract terms
          type: boolean
        blockContractDowngrades:
          description: Determines whether to block downgrades to the contract terms
          type: boolean
        blockSwitchToShorterContract:
          description: Determines whether to block the ability to switch to a shorter contract
          type: boolean
        keepContractDateOnPlanChange:
          description: Determines whether to keep the contract date if the plan changes
          type: boolean
        alignWithParentCycleStartDate:
          description: For add-on products, determines whether to align the contract start date with the parent subscription start date. This is an internal setting.
          type: boolean
        unitTerms:
          description: List of contract unit terms
          type: array
          items:
            $ref: '#/components/schemas/OrderUnitContractWS'
      example:
        cancellationPeriodLimit: null
        endOfContractDate: 1588789800000
        endOfContractGracePeriod: null
        gracePeriodEndDate: null
        minimumServiceLength: 24
        renewal: null
        terminationFee:
          description: Fee
          estimatedCost: 254.6628
          percentage: 100
          price: null
          type: PERCENTAGE
        autoExtensionPricingUuid: 0a12c84d-984f-4f64-943b-8e6f47a28d55
        continueWithoutContract: true
        blockContractUpgrades: false
        blockContractDowngrades: true
        blockSwitchToShorterContract: true
        keepContractDateOnPlanChange: false
        alignWithParentCycleStartDate: true
        unitTerms:
        - unit: USER
          blockContractIncrease: true
          blockOriginalContractDecrease: false
          blockContractDecrease: false
      nullable: true
    OrderContractRenewalWS:
      type: object
      title: OrderContractRenewalWS
      properties:
        order:
          $ref: '#/components/schemas/LinkWS'
        paymentPlan:
          $ref: '#/components/schemas/PaymentPlanWS'
      example:
        order:
          href: '...'
          id: '...'
        paymentPlan:
          allowCustomUsage: true
          contract: {}
          cost:
          - {}
          - {}
          discount: {}
          frequency: '...'
          href: '...'
          id: 12345
          isPrimaryPrice: true
          keepBillDateOnUsageChange: true
          primaryPrice: true
          separatsePrepaid: true
          tld: '...'
          uuid: '...'
      nullable: true
    ProductDiscountDetailsWS:
      description: Discount detail on a product pricing
      type: object
      title: ProductDiscountDetails
      properties:
        amount:
          $ref: '#/components/schemas/PriceWS'
        availableRedemptions:
          description: Number of time the discount can be used
          type: number
        description:
          description: Description
          type: string
          nullable: true
        expirationDate:
          description: Expiration date of the discount
          type: number
        numOfBillingCycles:
          description: Number of billing cycle the discount is applicable
          type: number
        percentage:
          description: Discount in percentage
          type: number
        pricingUnit:
          $ref: '#/components/schemas/PricingUnit'
        startDate:
          description: Start date of the discount
          type: number
      example:
        amount:
          AUD: 12345
          BRL: 12345
          CAD: 12345
          CHF: 12345
          CNY: 12345
          DKK: 12345
          EUR: 12345
          GBP: 12345
          GTQ: 12345
          INR: 12345
          JPY: 12345
          KRW: 12345
          MXN: 12345
          MYR: 12345
          NOK: 12345
          NZD: 12345
          PHP: 12345
          SAR: 12345
          SEK: 12345
          SGD: 12345
          USD: 12345
          ZAR: 12345
        availableRedemptions: 12345
        description: '...'
        expirationDate: 12345
        numOfBillingCycles: 12345
        percentage: 12345
        pricingUnit: TIER3_STANDARD_LINE
        startDate: 12345
      nullable: true
    AttributeType:
      type: string
      title: AttributeType
      enum:
      - TEXT
      - MULTISELECT
    PricingUnit:
      type: string
      title: PricingUnit
      enum:
      - USER
      - GIGABYTE
      - GMV
      - MEGABYTE
      - PROSPECT_SCORE
      - HOUR
      - MINUTE
      - INVOICE
      - UNIT
      - PROJECT
      - PROPERTY
      - ITEM
      - WORD
      - EMAIL
      - CONTACT
      - CALL
      - CREDIT
      - ROOM
      - HOST
      - AGENT
      - OPERATOR
      - PROVIDER
      - MANAGER
      - TESTER
      - JVM
      - SERVER
      - WEB_USE_MINUTE
      - AUDIO_USE_MINUTE
      - PIECE
      - EMPLOYEE_PAY_PERIOD
      - EMPLOYEE_PER_PAY_PERIOD
      - COMPUTER
      - NOT_APPLICABLE
      - ONE_TIME_SETUP
      - DATA_POINTS
      - TIER1_API_CALLS
      - TIER2_API_CALLS
      - ADVISORY_HOURS
      - OVERAGE_AUDIO_MINUTE
      - EMPLOYEE
      - CONNECTION
      - PUSH_USER
      - THOUSAND_EMAILS_PER_DAY
      - PUSH_NOTIFICATION_DEVICES
      - API_CALLS
      - SMS_TEXT_MESSAGE
      - CONTACTS_1000
      - CONTRACT_FEE
      - TRANSFER_FEE
      - REACTIVATION_FEE
      - RECIPIENT
      - ADDITIONAL_1000_CONTACTS_BLOCK
      - SCHEDULE_PLAN
      - EMAILS_1000
      - EMAILS_2500
      - EMAILS_100000
      - MOBILE_DEVICE
      - PAYSLIP
      - PAYSLIP_CORRECTION
      - STORE
      - WEBSITE
      - EPAPER
      - PAGE
      - POSTAGE_AND_PRINT
      - INTERNATIONAL_POSTAGE_AND_PRINT
      - TIER1_TOP_LEVEL_DOMAIN
      - TIER2_TOP_LEVEL_DOMAIN
      - DEDICATED_IP
      - ENABLELCM
      - MAXCOMPONENTS
      - DATA_MANAGEMENT_USER
      - SPECIALIST_USER
      - PROFESSIONAL_USER
      - MATERIALITY_MATRIX
      - STAKEHOLDER_MANAGEMENT
      - SCORECARD
      - STANDARD_MAPPING
      - DONATION_MANAGEMENT
      - DOCUMENT
      - PACKAGE_SMALL
      - PACKAGE_LARGE
      - MEMBER
      - ATTENDEE
      - MAILING
      - RESPONSE
      - EXTERNAL_INVOICE_FEE
      - CLIENT_TEST
      - IMAGE_TRANSFORMATION
      - TOTAL_IMAGE
      - LICENSE
      - MAILBOX
      - FREE_40_INCH_HDTV_PC
      - FREE_46_INCH_HDTV_PC
      - FREE_46_INCH_HDTV_PC_MOUNTING
      - EMPLOYEE_PER_WEEK
      - REGISTER
      - END_USER
      - CORE
      - DEVICE
      - PORT
      - MEASURER
      - PUBLISHED_MEASUREMENT
      - NODE
      - SERVER_RULE
      - VPN_LP
      - PROXY_LP
      - DESKTOP_CONNECT_LP
      - CAMERA
      - MAIN_SOUND_ZONE
      - SUB_SOUND_ZONE
      - POST
      - REPORT
      - BOX
      - SESSION
      - DISPLAY
      - TRUCKROLL
      - TRANSACTION_FEE
      - SENDING_API_CALL
      - LOOKUP_API_CALL
      - ANALYTICS_API_CALL
      - MIGRATION_INSTANCE
      - NFON_SETUP_PER_PHONE_EXTENSION
      - NFON_SETUP_PER_PHONE_EXTENSION_PLUS
      - NFON_SETUP_PER_EFAX_EXTENSION
      - NFON_PHONE_EXTENSION
      - NFON_PHONE_EXTENSION_PLUS
      - NFON_EFAX_EXTENSION
      - NFON_CALL_CENTER_MONITORING
      - NFON_NMEETING
      - NFON_MOBILE_NFON_DEVICE
      - NFON_ISOFTPHONE_MAC
      - NFON_NSOFTPHONE_STANDARD_WINDOWS
      - NFON_NSOFTPHONE_PREMIUM_WINDOWS
      - NFON_NCTI_STANDARD_WINDOWS
      - NFON_NCTI_STANDARD_CRM_WINDOWS
      - NFON_NCTI_STANDARD_MAC
      - NFON_NSOFTPHONE_STANDARD_WINDOWS_OR_MOBILE
      - WESUSTAIN_PERFORMANCE
      - WESUSTAIN_STAKEHOLDER_REPUTATION
      - WESUSTAIN_WEAPP
      - FAX
      - FAX_LINE
      - ROOM_LINE
      - DEPARTMENT_LINE
      - INTERNATIONAL_LICENSE
      - INTERNATIONAL_DEPARTMENT_LINE
      - INTERNATIONAL_ROOM_LINE
      - INTERNATIONAL_LINE
      - CALLING_CREDIT
      - LINE
      - TOLLFREE_ROOM_LINE
      - TOLLFREE_DEPARTMENT_LINE
      - TAXES_AND_FEES
      - LEAD
      - OPPORTUNITY
      - CAMPAIGN
      - CASE
      - CUSTOMER
      - TIER1_STANDARD_LINE
      - TIER1_ROOM_LINE
      - TIER1_TOLLFREE_ROOM_LINE
      - TIER1_TOLLFREE_DEPARTMENT_LINE
      - TIER1_FAX_LINE
      - TIER1_DEPARTMENT_LINE
      - TIER2_STANDARD_LINE
      - TIER2_ROOM_LINE
      - TIER2_DEPARTMENT_LINE
      - TIER3_STANDARD_LINE
      - TIER3_ROOM_LINE
      - TIER3_DEPARTMENT_LINE
      - TIER4_STANDARD_LINE
      - TIER4_ROOM_LINE
      - TIER4_DEPARTMENT_LINE
      - CLUSTER
      - NODE_4VCPU
      - FIVE_HUNDRED_GB_SSD
      - TWELVE_TB_NETWORK_IO
      - JBOSS_EAP
      - JBOSS_FUSE
      - JBOSS_A_MQ
      - JBOSS_BRMS
      - JBOSS_BPM_SUITE
      - JBOSS_DATA_GRID
      - JBOSS_DATA_VIRT
      - USER_LICENSE
      - ADDITIONAL_NUMBER_LICENSE
      - ROOM_PHONE_LICENSE
      - UBERCONFERENCE_PRO_LICENSE
      - UBERCONFERENCE_PRO_LICENSE_UNBUNDLED
      - INSTANCE
      - INDOOR_CAMERA
      - OUTDOOR_CAMERA
      - VINGATE_LP_LICENCE
      - ADMINISTRATOR
      - MOBILE_USER
      - G_SUITE
      - T1
      - PHONE
      - AUTO_ATTENDANT
      - HUNT_GROUP
      - VOICEMAIL_BOX
      - TOLL_FREE_NUMBER
      - INBOUND_LONG_DISTANCE_MINUTE
      - OUTBOUND_LONG_DISTANCE_MINUTE
      - INBOUND_OUTBOUND_LONG_DISTANCE_MINUTE
      - SET_TOP_BOX
      - MODEM
      - ACCESS_POINT
      - CALLING_FEATURE
      - IAD_DEVICE
      - ANALOG_LINE
      - PRI
      - SBC_DEVICE
      - ROUTER
      - INTERNATIONAL_MINUTE
      - PHONE_LINE
      - DYNAMIC_IP_ADDRESS
      - STATIC_IP_ADDRESS
      - GATEWAY
      - REMOTE_CONTROL
      - TIER1_STANDARD_SEAT
      - TIER2_STANDARD_SEAT
      - TIER3_STANDARD_SEAT
      - TIER4_STANDARD_SEAT
      - TIER1_TOLL_FREE_SEAT
      - MILLION_MESSAGES
      - MESSAGE
      - WEEKLY
      - PHONE_NUMBER
      - GUEST
      - REVISION_SAFE_DATAROOM
      - GROUP_SESSION
      - MAILBOX_AD_SYNC
      - PHONE_SUPPORT
      - EXTRA_10TB
      - EXTRA_50TB
      - EXTRA_200TB
      - MAP_VIEW
      - SVM
      - CHANNEL
      - NUMBER_PRINTER_TABLET
      - NUMBER_ONSITE_SERVER
      - NUMBER_VISITS
      - ONSITE_TECHNICIAN_PC
      - ONSITE_TECHNICIAN_SERVER
      - SHORTER_REACTION_TIMES
      - E_COMMERCE_INTEGRATION
      - LOCATION
      - TRAINING_SESSION
      - GIGABYTES_PER_HOUR
      - FINANCIAL_PLANNING
      - ONSITE_WORKPLACE
      - INTERNAL_TOOLS_ACCESS
      - DUTY_SERVICE
      - TERABYTE
      - HOST_UNIT_HOURS
      - WEB_CHECKS
      - ACTIVE_USERS
      - ACTIVE_EMPLOYEE
      - PC_OF_NET_RECURRING_FEE
      - ACTIVE_VENDOR
      - ADVERTISEMENT
      - ADVERTISER_SPENDS
      - ANNUAL_FUNDRAISING_INCOME
      - ANNUAL_SUBSCRIPTION
      - APPLIANCE
      - ASSET
      - ASSETS_UNDER_MANAGEMENT
      - BUSINESS_PARTNERS
      - CASH_FLOWS
      - COMPONENT
      - CONNECTED_SYSTEMS
      - CONTRACTS
      - COSTS
      - DATA_STREAMS
      - DATABASE_SIZE
      - EXTERNAL_SERVICE_CALLS
      - FILE
      - FIXED
      - FLAT
      - FLAT_FEE_BASED_ON_ASSETS
      - FLEET_PLANNING_ORDERS
      - FORMS
      - GIGABYTE_DATABASE_SIZES
      - INSTALLATION
      - INSTALLED_CAPACITY
      - JOB_POSTING
      - LEARNER
      - LOGON
      - MANAGED_SYSTEM
      - MASTER_DATA_OBJECT
      - MASTER_RECORDS
      - MBPS
      - MONITORED_USER
      - MPLS
      - ORDER
      - OUTPATIENT_DAYS
      - PAGE_VIEW
      - PATIENT_CARE_DAY
      - PATIENT_TREATED
      - PLANT
      - POINTS_OF_DELIVERY
      - PREMIUM
      - PROCESS
      - PRODUCTS
      - RECORDS
      - RENTAL_UNIT
      - RESOURCES
      - REVENUE
      - SALES_ORDER
      - SALES_PORTFOLIOS
      - SERVICE_ORDERS
      - SITE_VISITS
      - SPENDS
      - SPEND_VOLUMES
      - STREAM
      - STUDENT
      - SUBSCRIBER
      - SUPPLIERS
      - TICKETS
      - TOTAL_ANNUAL_BUDGET
      - TUNNEL
      - VIRTUAL_USERS
      - SAP_SYSTEM
      - POSITION_TYPES
      - OVERAGE_FEES
      - OVERAGE_FEE_TRANSACTION
      - OVERAGE_FEES_DOCUMENT
      - OVERAGE_FEES_ITEM
      - EVENT
      - BUSINESS_EVENT
      - LEGAL_TENDER
      - ANNUAL_REVENUE
      - AD_SYNC
      - FULL_DATA_RESTORE
      - USED_STORAGE_100GB
      - COMPANY
      - ADDITIONAL_USER
      - VISIT
      - VIDEO
      - ELECTRONIC_PAYMENT
      - CHECK_PAYMENT
      - EXPRESS_PAY_ELECTRONIC_PAYMENT
      - EXPRESS_PAY_CHECK_PAYMENT
      - DATA_ENTRY_SERVICE
      - MONTHLY_VISIT
      - SCRUB_TRANSACTION
      - DEVICE_LICENSE
      - SERVER_LICENSE
      - BASE_LICENSE
      - SERVICE_CALL
      - SUPPORT_INCIDENT_TICKET
      - CUSTOM_REPORT_BUILDING_TRAINING
      - QUOTA
      - DOMESTIC_TRANSACTION
      - BEE
      - BEE_FLEET
      - BEE_BEACON_AMBIENT_LIGHT
      - BEE_BEACON_TEMPERATURE_HUMIDITY
      - CONTACTS_100
      - TEMPLATE
      - TEMPLATE_PACKS_10
      - PACK
      - SMS_TEXT_MESSAGE_10
      - VIRTUAL_SERVER
      - PHYSICAL_SERVER
      - WORKSTATION
      - CHATS
      - MATCH_LIST
      - CERTIFICATE_12_MONTHS
      - CERTIFICATE_24_MONTHS
      - PRIVACY
      - PAGE_VIEWS_100000
      - VOICE_OUT
      - EXAM
      - PARTICIPANT
      - ENCRYPTION_ADDON
      - ESS
      - ETI
      - ATP_ADDON
      - PBE_ADDO
      - NETI_ADDON
      - HUNDRED_SMS_REMINDER
      - CALENDAR_SYNC
      - PAYMENT_INTERFACE
      - MULTILINGUAL_ONLINE_EVENT_BOOKING
      - SOCKET
      - OFFER
      - FREELANCER
      - SOAP
      - DATEV_LEXWARE_INTERFACE
      - TOKEN
      - SERVICE_MONTH
      - VIDEO_PACKAGE_50_HOURS
      - INTERFACE
      - TEST_CASE
      - MINUTES_15
      - MINUTES_30
      - CONNECTED_ACCESS_POINT
      - DAY
      - SATURDAY_SURCHARGE
      - NIGHT_SURCHARGE
      - SUNDAY_SURCHARGE
      - PUBLIC_HOLIDAY_SURCHARGE
      - BASIC_PACKAGE
      - STANDARD_PACKAGE
      - PREMIUM_PACKAGE
      - REPORTS_MODULE
      - WORKFLOW_MODULE
      - NBV_250K
      - NBV
      - INVENTORY
      - ADDITIONAL_COMPANY
      - TRANSACTION
      - PREMIUM_CREDIT_REPORTS
      - ADDITIONAL_CONNECTION
      - STOCK_UNIT
      - MONTHLY_USAGE_FEE
      - USAGE_FEE
      - MONTHLY_CHARGES
      - STANDARD_USER
      - ADDITIONAL_UNIT
      - COMMISSION
      - KITTING
      - WOP
      - SFDC
      - NAMED_USER_LICENSE
      - BARCODING_AND_WAREHOUSING
      - MODULE
      - MANUFACTURING_MODULE
      - MRP
      - CONSOLE_MODULE
      - CONSOLIDATIONS
      - MULTI_CURRENCY
      - ADDON_LICENSE
      - INBOUND_PAGE
      - OUTBOUND_PAGE
      - OPPORTUNITY_RETENTION
      - SOCIAL_SENTIMENT
      - DEMAND_PRICE
      - SETUP_FEE
      - SHAREPOINT
      - INTEGRATION_MAINTENANCE
      - VIEWER
      - MANAGEMENT_USER
      - SQ_FT
      - LOCATION_UPTO_10_EMPLOYEES
      - LOCATION_UPTO_20_EMPLOYEES
      - LOCATION_UPTO_30_EMPLOYEES
      - LOCATION_UPTO_60_EMPLOYEES
      - LOCATION_UPTO_99_EMPLOYEES
      - M365_ONLINE
      - WEB_HOSTING_SERVER
      - STANDARD_EDITION_GIGABYTE
      - STORAGE_GIGABYTE
      - EGRESS_GIGABYTE
      - FEE_HW_DEFECT_NO_WARRANTY_CASE
      - SIM_CARD
      - SIM_CARDS_10
      - APPLICATION_CONNECTOR
      - ADDITIONAL_API_CALLS
      - USED_STORAGE_PER_GB
      - CERTIFICATION
      - MACHINE
      - CALCULATION_USER
      - MAILBOX_S
      - MAILBOX_M
      - MAILBOX_L
      - STORAGE
      - GROUP
      - VEHICLE
      - ENDPOINT
      - MANAGED_SERVICE
      - SOC
      - ONLINE_PLAN
      - ENTERPRISE_PLAN
      - FLOATING_LICENSE
      - USER_PER_LICENSE
      - CONCURRENT_USER_PER_LICENSE
      - DASHBOARD
      - IT_INTERFACE
      - CONNECTABLE_IOT_DEVICE_VIA_USB
      - CONNECTABLE_IOT_DEVICE_VIA_TULIP_GATEWAY
      - CONNECTABLE_MACHINE_PER_LICENSE
      - OBJECT_TO_BE_CHECKED
      - MACHINE_WITH_BI_SUPPORT
      - CONNECTED_DEVICE
      - LISTING
      - TLS_ENCRYPTION
      - DOMAIN_LEVEL_SEND
      - EFAX_ROUTER
      - PRORATED_CREDIT
      - NEW_HIRE
      - NAS
      - SALESFORCE_USER
      - INTERVIEW
      - ASSESSMENT
      - NU_WEBEX_CALLING_ENHANCED
      - NU_WEBEX_CALLING_PROFESSIONAL
      - WEBEX_ASSISTANT_FOR_WEBEX_MEETINGS_NU
      - NU_MEETINGS_BRIDGE_COUNTRY_CALL_BACK_AUDIO
      - FLEX_TEAMS_MESSAGING
      - ADDON_ANALYSES
      - ADDITIONAL_LISTING
      - MIGRATION_TENANT
      - MIGRATION_GROUP
      - MIGRATION_DOCUMENT
      - MIGRATION_GSUITE
      - MIGRATION_FOLDER
      - ENHANCED_USER
      - SINGLE_NAME_CERTIFICATE
      - SETUP
      - HA_DEVICE_DAY
      - WILDCARD_CERTIFICATE
      - SECURITY_PACKAGE
      - ADDITIONAL_LANGUAGE
      - VANITY_URL
      - BRANDING
      - DATA_SOURCE
      - CREATOR_USER
      - ESIGN_USER
      - READ_ONLY_USER
      - MEASURING_POINT
      - ANDON_TV
      - TABLET
      - USER_10000
      - USER_100
      - PUBLIC_IP
      - WORKLOAD
      - PUBLIC_IP_ADDRESS
      - COMPUTE_POINT
      - RESOURCE_UNIT
      - VALUE_POINT
      - ACCOUNT
      - REQUEST
      - TRANSCRIPT
      - NOTIFICATION
      - CLAIM
      - MID
      - ENGAGEMENT
      - TEAM_LICENSE_DIGITAL_TEAMBOARD
      - TEAM_LICENSE_MODULE_CONNECTIVITY
      - TEAM_LICENSE_MODULE_PROBLEM_SOLUTION
      - TEAM_LICENSE_MODULE_AUDITS
      - TEAM_LICENSE_MODULE_PROCESS_CONFIRMATION
      - TEAM_LICENSE_MODULE_QUALIFICATION_MATRIX
      - TEAM_LICENSE_MODULE_STANDARD_WORK_INSTRUCTION
      - TEAM_LICENSE_MODULE_PARETO_ANALYSIS
      - KPI
      - YEAR_KPI_ARCHIVAL
      - CORPORATE_CLOUD_HOSTING
      - ON_PREMISES_HOSTING
      - SUPPORT_SERVICE_HOUR
      - CLASS
      - EXPERT
      - SPINDLE_HOUR
      - ADDON_ADMINISTRATION
      - ADDON_CONFIGURATION
      - ADDON_PLANNING
      - ADDON_PLANNING_OBJECTS
      - ADDON_MASTER_DATA
      - ADDON_CAPACITY_PLANS_CALENDAR
      - ADDON_CONFLICT_RADAR
      - ADDON_GAP_LIST
      - ADDON_DASHBOARD
      - ADDON_PLANNING_READ_ONLY
      - ADDON_UTILIZATION_POOLS
      - ADDON_FIXED_SCHEDULES
      - ADDON_ASSEMBLY_GROUPS
      - ADDON_ORDER_ON_HOLD
      - ADDON_PARALLEL_RESSOURCES
      - ADDON_MULTI_FUNCTIONAL_RESSOURCES
      - ADDON_PLANEUS_TV_PER_TERMINAL
      - ADDON_MASTER_DATA_WORK_PROCEDURES
      - ADDON_MANUAL_IMPORT
      - ADDON_AUTOMATIC_IMPORT
      - ADDON_REPORTING_BASIC
      - ADDON_REPORTING_ADVANCED
      - ADDON_REPORT_RESOURCES_AVAILABILITY_PER_DAY
      - ADDON_REPORT_OEE
      - ADDON_REPORT_ON_TIME_DELIVERY_HISTORY
      - ADDON_REPORT_PROCESS_PERFORMANCE_HISTORY
      - ADDON_REPORT_UTILIZATION_PER_RESOURCE
      - ADDON_REPORT_REPORTING_PLUG_IN
      - ADDON_EXTERNAL_PARTNERS_BASIC_LICENSE
      - ADDON_WORKBENCH_PACK_OF_5
      - ADDON_WORKBENCH_PACK_OF_10
      - ADDON_WORKBENCH_PACK_OF_15
      - CLIENT
      - VIRTUAL_MACHINE
      - MODEL_TRANSFORMATION
      - CASE_REFRESH
      - CASE_VIEW
      - CASE_DOCUMENT_DOWNLOAD
      - VERIFICATION
      - ADDON_CORPORATE_BRANDING
      - CLIENT_TAX_FILINGS
      - CLIENT_COMPLIANCE_SERVICES
      - PROPOSAL
      - UK_ID_CHECK
      - INTERNATIONAL_ID_CHECK
      - CREDIT_SCREEN
      - UK_COMPANY_REPORT
      - NON_UK_COMPANY_REPORT
      - HR_SCREEN
      - COMPANY_FORMATION
      - CLIENT_ACCOUNTS
      - SMARTKIT
      - WORKFLOW
      - EDITOR
      - WORKER
      - ADDON_POTENTIAL_ANALYSIS
      - TRAINING_PACKAGE_SMALL
      - TRAINING_PACKAGE_LARGE
      - TOOL_PATH_OPTIMIZATION
      - CLIENT_VAT_FILINGS
      - BUNDLE
      - PACKAGE
      - VM
      - INCIDENT
      - SEND
      - INTEGRATION
      - BILLABLE_HOUR
      - TB
      - SOURCE
      - TRAINING
      - SITE
      - CONSULTING_UNIT
      - CAPACITY
      - MIGRATION
      - WORKSHOP
      - ONBOARDING
      - BENEFIT_ELIGIBLE_EMPLOYEE
      - SEAT
      - MS365_SEAT
      - MS_EXCHANGE_MAILBOX
      - GWORKSPACE_SEAT
      - INTERNET_LINE
      - BACKUP_LINE
      - USER_PACK_50
      - USER_PACK_100
      - CIRCUIT
      - NAC
      - INFRASTRUCTURE
      - TEN_THOUSAND_TEST_RUNS
      - ONE_THOUSAND_TEST_RUNS
      - INGESTED_OR_SCANNED_GB
      - MILLION_LOG_EVENTS
      - GB_OUTBOUND_PER_DESTINATION
      - DESTINATION
      - COMMITTER
      - INGESTED_GB
      - CPU
      - ONE_THOUSAND_SESSIONS
      - MILLION_RECORDS
      - GB_OF_ANALYZED_LOGS
      - ACTIVE_FUNCTION
      - MILLION_TRACED_INVOCATIONS
      - ACTIVE_APPLICATION_INSTANCES
      - HUNDRED_TEST_RUNS
      - ADDITIONAL_PARALLELIZATION
      - TASK
      - ONE_HUNDRED_WORKFLOW_EXECUTIONS
      - SCANNED_GB
      - USE_CASE
      - ONE_THOUSAND_ERROR_EVENTS
      - PERFORMANCE_GOAL
      - SCHOOL
      - MICROSOFT_365_TENANT
      - MARKETPLACE
      - LIEN_PROCESSED
      - DISBURSEMENT
      - A_LA_CARTE
      - SECURE
      - SECURE_PLUS
      - SECURE_EXTRA
      - PHASR
      - ENCRYPTION
      - EMAIL_SECURITY
      - MOBILE_SECURITY
      - EXCHANGE
      - ATS
      - EDR
      - EDR_RETENTION_90D
      - EDR_RETENTION_180D
      - EDR_RETENTION_1Y
      - INTEGRITY_MON
      - INTEGRITY_MON_RETENTION_90D
      - INTEGRITY_MON_RETENTION_180D
      - INTEGRITY_MON_RETENTION_1Y
      - MDR_FOUNDATIONS
      - PATCH_MANAGEMENT
      - VIRTUAL_ENV_VS
      - VIRTUAL_ENV_VDI
      - CONTAINER_PROTECTION
      - XDR_IDENTITY_SENSOR
      - XDR_PRODUCTIVITY_SENSOR
      - XDR_NETWORK_SENSOR
      - XDR_CLOUD_SENSOR
      - COMPLIANCE_MANAGER
      - EASM
      - SUPERVISOR
      - GB_OF_PROVISIONED_VM_RAM_PER_HOUR
      - GB_OF_USED_VM_STORAGE_PER_HOUR
      - GB_OF_USED_S3_STORAGE_PER_HOUR
      - VIRTUAL_ENVIRONMENT_VE_PER_MONTH
      - STORAGE_100_GB_PER_MONTH
      - GB_RAM_UNDER_MANAGEMENT_PER_MONTH
      - GB_OF_VM_RAM_PER_HOUR
      - BUSINESS_CLIENT
      - SELF_EMPLOYED_CLIENT
      - LANDLORD_CLIENT
      - DATA_HEALTH_AND_INSIGHT_ADDON
      - SWITCH_DAY
      - ACCESS_POINT_DAY
      - DATABASE
      - FUNCTION
      - APP_SERVICE
      - FIREWALL
      - EDR_SA_MDR_FOUNDATIONS
      - EDR_SA
      - FED_USF_CHARGE
      - SERVICE_FEE
      - SERVICE_FEE_AP
      - SERVICE_FEE_SWITCH
      - SERVICE_FEE_ROUTER
      - USER_LICENCE_DAY
      - DEVICE_DAY
      - VM_DAY
      - ROUTER_DAY
      - FSE
      - ON_SITE_SERVICE
      - BASIC
      - BASIC_PLUS
      - STANDARD
      - STANDARD_PLUS
      - ADVANCED
      - ADVANCED_PLUS
      - PREMIUM_PLUS
      - XXS
      - XS
      - SMALL
      - MEDIUM
      - LARGE
      - XL
      - XXL
      - XXXL
      - CUSTOM
      - ENHANCED
      - INCIDENT_RESPONSE_SERVICE
      - JIRA_CONNECTOR
      - SHAREPOINT_CONNECTOR
      - CONFLUENCE_CONNECTOR
      - PRIVATE_ACCESS
      - INTERNET_ACCESS
      - OBJECTIVE_FEEDBACK_QUESTION
      - STAFFBASE_CONNECTOR
      - CONSULTING_UNIT_AP
      - CONSULTING_UNIT_ROUTER
      - CONSULTING_UNIT_SWITCH
      - OBJECT
      - VALIDATION
      - ADVANCED_ELECTRONIC_SIGNATURE
      - QUALIFIED_ELECTRONIC_SIGNATURE
      - PERSONAL_IDENTIFICATION
      - API_BASED_SIGNATURE
      - ON_CALL_DUTY
      - VSBU
      - PAID_USER
      - REMOTE_SEAL_SIGNATURE
    InvoiceListingWS:
      allOf:
      - $ref: '#/components/schemas/ResourceSupport'
      - type: object
        title: InvoiceListing
        properties:
          company:
            $ref: '#/components/schemas/LinkWS'
          creationDate:
            description: Creation date for the invoice.
            type: number
            nullable: true
          orderIds:
            type: array
            description: Array of Order IDs
            items:
              type: string
          currency:
            $ref: '#/components/schemas/Currency'
          dueDate:
            description: Due date for the invoice.
            type: number
            nullable: true
          invoiceId:
            description: Invoice ID.
            type: number
            nullable: true
          referenceNumber:
            description: Reference number.
            type: string
            nullable: true
          status:
            $ref: '#/components/schemas/InvoiceStatus'
          total:
            description: Invoice total.
            type: number
            nullable: true
          user:
            $ref: '#/components/schemas/LinkWS'
        example:
          company:
            href: '...'
            id: '...'
          creationDate: 12345
          currency: DKK
          dueDate: 12345
          invoiceId: 12345
          links:
          - href: '...'
            rel: '...'
          - href: '...'
            rel: '...'
          referenceNumber: '...'
          status: PAID
          total: 12345
          user:
            href: '...'
            id: '...'
    PaymentWS:
      allOf:
      - $ref: '#/components/schemas/ResourceSupport'
      - type: object
        title: Payment
        properties:
          amount:
            description: Payment amount.
            type: number
            nullable: true
          company:
            $ref: '#/components/schemas/LinkWS'
          currency:
            $ref: '#/components/schemas/Currency'
          date:
            description: Payment date.
            type: number
            nullable: true
          gatewayResponse:
            $ref: '#/components/schemas/GatewayResponseWS'
          id:
            description: Payment number.
            type: number
            nullable: true
          method:
            $ref: '#/components/schemas/PaymentMethod'
          result:
            $ref: '#/components/schemas/PaymentResult'
          transactionId:
            description: Transaction ID.
            type: string
            nullable: true
          user:
            $ref: '#/components/schemas/LinkWS'
        example:
          amount: 12345
          company:
            href: '...'
            id: '...'
          currency: INR
          date: 12345
          gatewayResponse:
            avs: true
            code: '...'
            cvv: true
            message: '...'
          id: 12345
          links:
          - href: '...'
            rel: '...'
          - href: '...'
            rel: '...'
          method: PAYPAL
          result: GATEWAY_NOT_AVAILABLE
          transactionId: '...'
          user:
            href: '...'
            id: '...'
    OrderWS:
      allOf:
      - $ref: '#/components/schemas/BaseOrderWS'
      - type: object
        title: Order
        properties:
          activated:
            description: True if the subscription has been activated
            type: boolean
          contract:
            $ref: '#/components/schemas/OrderContractWS'
          customAttributes:
            description: List of custom attributes associated with this order
            type: array
            items:
              $ref: '#/components/schemas/ChannelCustomAttributeWS'
          discount:
            $ref: '#/components/schemas/LinkWS'
          discountId:
            description: The unique identifier for the discount applied to this order
            type: number
            nullable: true
          nextOrder:
            $ref: '#/components/schemas/LinkWS'
          oneTimeOrders:
            description: List of one time orders associated with this subscription order
            type: array
            items:
              $ref: '#/components/schemas/OrderListingWS'
          orderLines:
            description: List of order lines for this subscription order
            type: array
            items:
              $ref: '#/components/schemas/OrderLineWS'
          parameters:
            description: List of custom parameters associated with this order
            type: array
            items:
              $ref: '#/components/schemas/ParameterWS'
          paymentPlan:
            $ref: '#/components/schemas/PaymentPlanWS'
          paymentPlanId:
            description: The unique identifier for the payment plan for this order
            type: number
            nullable: true
          previousOrder:
            $ref: '#/components/schemas/LinkWS'
        example:
          _embedded:
            property1: {}
            property2: {}
          activated: true
          company:
            href: '...'
            id: '...'
          contract: {}
          currency: '...'
          customAttributes:
          - attributeType: TEXT
            name: '...'
            value: '...'
            valueKeys:
            - '...'
            - '...'
          - attributeType: MULTISELECT
            name: '...'
            value: '...'
            valueKeys:
            - '...'
            - '...'
          discount:
            href: '...'
            id: '...'
          discountId: 12345
          endDate: 12345
          endOfDiscountDate: 12345
          frequency: '...'
          id: 12345
          links:
          - href: '...'
            rel: '...'
          - href: '...'
            rel: '...'
          nextBillingDate: 12345
          nextOrder:
            href: '...'
            id: '...'
          oneTimeOrders:
          - _embedded:
              property1: {}
              property2: {}
            company:
              href: '...'
              id: '...'
            currency: '...'
            endDate: 12345
            endOfDiscountDate: 12345
            frequency: '...'
            id: 12345
            links:
            - href: '...'
              rel: '...'
            - href: '...'
              rel: '...'
            nextBillingDate: 12345
            paymentPlan:
              href: '...'
              id: '...'
            referenceCode: '...'
            salesSupportUser:
              href: '...'
              id: '...'
            startDate: 12345
            status: '...'
            totalPrice: 12345
            type: '...'
            user:
              href: '...'
              id: '...'
          - _embedded:
              property1: {}
              property2: {}
            company:
              href: '...'
              id: '...'
            currency: '...'
            endDate: 12345
            endOfDiscountDate: 12345
            frequency: '...'
            id: 12345
            links:
            - href: '...'
              rel: '...'
            - href: '...'
              rel: '...'
            nextBillingDate: 12345
            paymentPlan:
              href: '...'
              id: '...'
            referenceCode: '...'
            salesSupportUser:
              href: '...'
              id: '...'
            startDate: 12345
            status: '...'
            totalPrice: 12345
            type: '...'
            user:
              href: '...'
              id: '...'
          orderLines:
          - {}
          - {}
          parameters:
          - name: '...'
            value: '...'
          - name: '...'
            value: '...'
          paymentPlan:
            allowCustomUsage: true
            contract:
              alignWithParentCycleStartDate: true
              autoExtensionPricingId: 12345
              blockContractDowngrades: true
              blockContractUpgrades: true
              blockSwitchToShorterContract: true
              cancellationPeriodLimit: 12345
              endOfContractGracePeriod: 12345
              gracePeriod: {}
              minimumServiceLength: 12345
              terminationFee: {}
            cost:
            - amount: {}
              blockContractDecrease: true
              blockContractIncrease: true
              blockOriginalContractDecrease: true
              editionPricingItemId: 12345
              id: 12345
              increment: 12345
              maxUnits: 12345
              meteredUsage: true
              minUnits: 12345
              pricePerIncrement: true
              pricingStrategy: '...'
              unit: '...'
              unitDependency: '...'
            - amount: {}
              blockContractDecrease: true
              blockContractIncrease: true
              blockOriginalContractDecrease: true
              editionPricingItemId: 12345
              id: 12345
              increment: 12345
              maxUnits: 12345
              meteredUsage: true
              minUnits: 12345
              pricePerIncrement: true
              pricingStrategy: '...'
              unit: '...'
              unitDependency: '...'
            discount:
              amount: {}
              availableRedemptions: 12345
              description: '...'
              expirationDate: 12345
              numOfBillingCycles: 12345
              percentage: 12345
              pricingUnit: CALLING_FEATURE
              startDate: 12345
            frequency: '...'
            href: '...'
            id: 12345
            isPrimaryPrice: true
            keepBillDateOnUsageChange: true
            primaryPrice: true
            separatePrepaid: true
            tld: '...'
            uuid: '...'
          paymentPlanId: 12345
          previousOrder:
            href: '...'
            id: '...'
          referenceCode: '...'
          salesSupportUser:
            href: '...'
            id: '...'
          startDate: 12345
          status: '...'
          totalPrice: 12345
          type: '...'
          user:
            href: '...'
            id: '...'
        nullable: true
    PlanCostWS:
      description: Plan cost
      type: object
      title: PlanCost
      properties:
        amount:
          $ref: '#/components/schemas/PriceWS'
        blockContractDecrease:
          description: Block contract decrease
          type: boolean
        blockContractIncrease:
          description: Block contract increase
          type: boolean
        blockOriginalContractDecrease:
          description: Block original contract decrease
          type: boolean
        editionPricingItemId:
          type: number
        id:
          description: ID
          type: number
        increment:
          description: Increment amount
          type: number
        maxUnits:
          description: Max unit to buy
          type: number
        meteredUsage:
          description: Is metered usage
          type: boolean
        minUnits:
          description: Minimum unit to buy
          type: number
        pricePerIncrement:
          description: Price per increment
          type: boolean
        pricingStrategy:
          description: Pricing strategy
          type: string
        unit:
          description: Unit
          type: string
          nullable: true
        unitDependency:
          description: Unit dependency
          type: string
      example:
        amount:
          AUD: 12345
          BRL: 12345
          CAD: 12345
          CHF: 12345
          CNY: 12345
          DKK: 12345
          EUR: 12345
          GBP: 12345
          GTQ: 12345
          INR: 12345
          JPY: 12345
          KRW: 12345
          MXN: 12345
          MYR: 12345
          NOK: 12345
          NZD: 12345
          PHP: 12345
          SAR: 12345
          SEK: 12345
          SGD: 12345
          USD: 12345
          ZAR: 12345
        blockContractDecrease: true
        blockContractIncrease: true
        blockOriginalContractDecrease: true
        editionPricingItemId: 12345
        id: 12345
        increment: 12345
        maxUnits: 12345
        meteredUsage: true
        minUnits: 12345
        pricePerIncrement: true
        pricingStrategy: '...'
        unit: '...'
        unitDependency: '...'
    OrderListingWS:
      allOf:
      - $ref: '#/components/schemas/BaseOrderWS'
      - type: object
        title: OrderListing
        properties:
          paymentPlan:
            $ref: '#/components/schemas/LinkWS'
        example:
          _embedded:
            property1: {}
            property2: {}
          company:
            href: '...'
            id: '...'
          currency: '...'
          endDate: 12345
          endOfDiscountDate: 12345
          frequency: '...'
          id: 12345
          links:
          - href: '...'
            rel: '...'
          - href: '...'
            rel: '...'
          nextBillingDate: 12345
          paymentPlan:
            href: '...'
            id: '...'
          referenceCode: '...'
          salesSupportUser:
            href: '...'
            id: '...'
          startDate: 12345
          status: '...'
          totalPrice: 12345
          type: '...'
          user:
            href: '...'
            id: '...'
    OrderUnitContractWS:
      type: object
      title: OrderUnitContractWS
      properties:
        unit:
          description: The unit type
          type: string
          nullable: true
        blockContractIncrease:
          description: Determines whether to block quantity increases for this unit
          type: boolean
        blockOriginalContractDecrease:
          description: Determines whether to block quantity decreases for this unit if the new quantity would be smaller than the quantity specified in the original contract
          type: boolean
        blockContractDecrease:
          description: Determines whether to block quantity decreases for this unit
          type: boolean
      example:
        unit: USER
        blockContractIncrease: true
        blockOriginalContractDecrease: false
        blockContractDecrease: false
      nullable: true
    PaymentMethod:
      type: string
      description: The supported payment methods
      title: PaymentMethod
      enum:
      - CREDIT_CARD
      - PAYPAL
      - MANUAL
      - EXTERNAL_INVOICE
      - MARKETPLACE_CREDITS
    InvoiceStatus:
      type: string
      title: InvoiceStatus
      enum:
      - PAID
      - UNPAID
      - CARRIED
      - VOIDED
    PaymentPlanWS:
      description: Payment plan for a product edition
      type: object
      title: PaymentPlan
      properties:
        allowCustomUsage:
          description: Custom usage allowed
          type: boolean
        contract:
          $ref: '#/components/schemas/ContractWS'
        cost:
          description: List of plan costs
          type: array
          items:
            $ref: '#/components/schemas/PlanCostWS'
        discount:
          $ref: '#/components/schemas/ProductDiscountDetailsWS'
        frequency:
          description: 'Billing frequency: MONTHLY, QUARTERLY, SIX_MONTHS, YEARLY, TWO_YEARS, THREE_YEARS, DAILY'
          type: string
        href:
          description: URL to payment plan details
          type: string
        id:
          description: ID
          type: number
        isPrimaryPrice:
          description: Is primary price
          type: boolean
        keepBillDateOnUsageChange:
          description: Keep bill date on usage change
          type: boolean
        separatePrepaid:
          description: Separate prepaid
          type: boolean
        tld:
          description: If plan is part of a domain reseller product, this is the tld this plan offers
          type: string
        uuid:
          description: Unique identifier
          type: string
          nullable: true
      example:
        allowCustomUsage: true
        contract:
          alignWithParentCycleStartDate: true
          autoExtensionPricingId: 12345
          blockContractDowngrades: true
          blockContractUpgrades: true
          blockSwitchToShorterContract: true
          cancellationPeriodLimit: 12345
          endOfContractGracePeriod: 12345
          gracePeriod:
            length: 12345
            unit: '...'
          minimumServiceLength: 12345
          terminationFee:
            description: '...'
            flatFee: {}
            percentageFee: 12345
            type: '...'
        cost:
        - amount:
            AUD: 12345
            BRL: 12345
            CAD: 12345
            CHF: 12345
            CNY: 12345
            DKK: 12345
            EUR: 12345
            GBP: 12345
            GTQ: 12345
            INR: 12345
            JPY: 12345
            KRW: 12345
            MXN: 12345
            MYR: 12345
            NOK: 12345
            NZD: 12345
            PHP: 12345
            SAR: 12345
            SEK: 12345
            SGD: 12345
            USD: 12345
            ZAR: 12345
          blockContractDecrease: true
          blockContractIncrease: true
          blockOriginalContractDecrease: true
          editionPricingItemId: 12345
          id: 12345
          increment: 12345
          maxUnits: 12345
          meteredUsage: true
          minUnits: 12345
          pricePerIncrement: true
          pricingStrategy: '...'
          unit: '...'
          unitDependency: '...'
        - amount:
            AUD: 12345
            BRL: 12345
            CAD: 12345
            CHF: 12345
            CNY: 12345
            DKK: 12345
            EUR: 12345
            GBP: 12345
            GTQ: 12345
            INR: 12345
            JPY: 12345
            KRW: 12345
            MXN: 12345
            MYR: 12345
            NOK: 12345
            NZD: 12345
            PHP: 12345
            SAR: 12345
            SEK: 12345
            SGD: 12345
            USD: 12345
            ZAR: 12345
          blockContractDecrease: true
          blockContractIncrease: true
          blockOriginalContractDecrease: true
          editionPricingItemId: 12345
          id: 12345
          increment: 12345
          maxUnits: 12345
          meteredUsage: true
[...]
