openapi: 3.0.0
info:
  description: The Companies API allows developers to manage marketplace companies and their user memberships.
  title: Companies AI Embed Product API
  license:
    name: Apache License, Version 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  version: v296.0-SNAPSHOT
servers:
- url: https://marketplace.appdirect.com/api
- url: https://virtserver.swaggerhub.com
tags:
- name: Product
  x-displayName: Products
paths:
  /channel/v1/applications:
    get:
      description: Retrieve all products in the production catalog, including products that are not marked as visible on either the marketplace or network.
      tags:
      - Product
      summary: Retrieve buyable products
      x-appdirect-required-scopes:
        ROLE_PARTNER_READ:
        - Allows access to read all marketplace data.
        ROLE_CHANNEL_ADMIN:
        - Allows access as a Marketplace Manager for the marketplace.
        ROLE_RESELLER_MANAGER:
        - Allows access as a Reseller Manager for the marketplace.
        ROLE_RESELLER:
        - Allows access as a Reseller for the marketplace.
      operationId: resource_Product_readProducts_GET
      parameters:
      - description: The page number. Defaults to 0.
        name: page
        in: query
        schema:
          type: string
          default: '0'
      - description: The maximum number of products to return. The default is 20.
        name: size
        in: query
        schema:
          type: string
          default: '20'
      - description: 'The field by which to sort results. The default is NAME. RATING: Sort by the rating in descending order. POPULARITY: Sort by product popularity, from most to least popular. Popularity is calculated from the number of purchases. NEWEST_FIRST: Sort by product creation date/time. NAME: Sort by the product name in alphabetic order.'
        name: sortField
        in: query
        schema:
          type: string
          enum:
          - RATING
          - POPULARITY
          - NEWEST_FIRST
          - NAME
          default: NAME
      - description: Sort order, either ASC (ascending) or DESC (descending). The default is ASC.
        name: sortOrder
        in: query
        schema:
          type: string
          enum:
          - ASC
          - DESC
          default: ASC
      - description: Search text.
        name: searchText
        in: query
        schema:
          type: string
      - description: Product category IDs. If specified, only products belonging to these categories are returned.
        name: categoryId
        in: query
        explode: true
        schema:
          type: array
          items:
            type: number
      responses:
        '200':
          description: Success
          headers:
            X-Total-Count:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedProductListingWS'
              examples:
                response:
                  value:
                    links:
                    - rel: next
                      href: http://dockerdev.appdirect.com:8080/api/channel/v1/applications?page=1&size=3&sortField=NAME&sortOrder=ASC
                    content:
                    - href: http://dockerdev.appdirect.com:8080/api/marketplace/v1/products/4644
                      id: 4644
                      uuid: cf6ab187-628b-4571-8089-d97319d68801
                      url: http://dockerdev.appdirect.com:8080/apps/4644/sb-platform-product-apphelp-business-cloud-helpdesk
                      name: '[SB] Platform Product AppHelp Business Cloud HelpDesk'
                      productType: WEB_APP
                      iconUrl: https://ad-dev-dump1.s3.amazonaws.com/app_resources/4644/thumbs_64/img5679336365844850048.png
                      profileLogoUrl: https://ad-dev-dump1.s3.amazonaws.com/app_resources/4644/thumbs_112/img7862680650740192899.png
                      iconSrcset:
                        default: https://ad-dev-dump1.s3.amazonaws.com/app_resources/4644/thumbs_64/img5679336365844850048.png
                      profileLogoSrcset:
                        default: https://ad-dev-dump1.s3.amazonaws.com/app_resources/4644/thumbs_112/img7862680650740192899.png
                      description: Whether you need advice on managing a SaaS or cloud application, deploying and configuring a backup system, or help setting up BYOD for the office, our Business Cloud HelpDesk experts are available 24x7x365 to assist with any cloud or IT support need your business has.
                      overview: As your business adopts more software and devices to operate and run, it's critical that you have access to quick, effective technical support to assist with the use and troubleshooting of your devices and cloud applications. AppHelp IT HelpDesk gives you an easy and affordable way to address SaaS and IT needs, without having to own your own IT staff. Need help installing software? Configuring backups? Recovering lost files? AppHelp IT HelpDesk has you covered
                      startingPrice: $60.00
                      channelStartingPrice:
                        prices:
                          MXN:
                            price: 0
                            duration: ONE_TIME
                          CAD:
                            price: 60
                            duration: ONE_TIME
                          USD:
                            price: 60
                            duration: ONE_TIME
                          EUR:
                            price: 60
                            duration: ONE_TIME
                          IDR:
                            price: 0
                            duration: ONE_TIME
                          GBP:
                            price: 60
                            duration: ONE_TIME
                        free: false
                        freeTrial: true
                      billingFrequency: ONE_TIME
                      publishedOn: 1519248071000
                      developerName: RP QA
                      vendorName: Appdirect
                      rating: null
                      numRatings: null
                      showRating: true
                      overviewImageUrl: https://ad-dev-dump1.s3.amazonaws.com/app_resources/4644/overview/img7694979340532479102.png
                      overviewImageSrcset:
                        default: https://ad-dev-dump1.s3.amazonaws.com/app_resources/4644/overview/img7694979340532479102.png
                      blurb: Support for cloud apps and devices
                      buyable: true
                      importable: false
                      free: false
                      freeTrialOrEditionPresent: true
                      referable: false
                      hasLyncToPhone: false
                      downloadFileSize: null
                      hidePricings: false
                      collectLeads: false
                      addon: false
                      featured: false
                      featuredSliderPosition: null
                      popular: false
                      popularity: null
                      staffPick: false
                      staffPickSliderPosition: null
                      discountDetails: null
                      lastModified: 1519248072000
                      sortRank: 3
                      tags:
                      - type: CATEGORY
                        id: 6
                        name: Web Development
                        badge: null
                        showBadge: false
                        showOnNavigation: true
                        children: []
                        description: null
                      bundleUrls: []
                      supportedLanguages:
                      - en
                      productRibbon: {}
                      merchandisingBadges: []
                      supportedCountries: []
                      links:
                      - rel: self
                        href: http://dockerdev.appdirect.com:8080/api/marketplace/v1/products/4644?country=&currency=
                    - href: http://dockerdev.appdirect.com:8080/api/marketplace/v1/products/4645
                      id: 4645
                      uuid: 9b997bfc-c68c-4ee3-b9f2-66d634ee993f
                      url: http://dockerdev.appdirect.com:8080/apps/4645/uqa-platform-product-apphelp-business-cloud-helpdesk
                      name: '[UQA] Platform Product AppHelp Business Cloud HelpDesk'
                      productType: WEB_APP
                      iconUrl: https://ad-dev-dump1.s3.amazonaws.com/app_resources/4645/thumbs_64/img6332905770460652831.png
                      profileLogoUrl: https://ad-dev-dump1.s3.amazonaws.com/app_resources/4645/thumbs_112/img6663136721171420581.png
                      iconSrcset:
                        default: https://ad-dev-dump1.s3.amazonaws.com/app_resources/4645/thumbs_64/img6332905770460652831.png
                      profileLogoSrcset:
                        default: https://ad-dev-dump1.s3.amazonaws.com/app_resources/4645/thumbs_112/img6663136721171420581.png
                      description: Whether you need advice on managing a SaaS or cloud application, deploying and configuring a backup system, or help setting up BYOD for the office, our Business Cloud HelpDesk experts are available 24x7x365 to assist with any cloud or IT support need your business has.
                      overview: As your business adopts more software and devices to operate and run, it's critical that you have access to quick, effective technical support to assist with the use and troubleshooting of your devices and cloud applications. AppHelp IT HelpDesk gives you an easy and affordable way to address SaaS and IT needs, without having to own your own IT staff. Need help installing software? Configuring backups? Recovering lost files? AppHelp IT HelpDesk has you covered
                      startingPrice: $60.00
                      channelStartingPrice:
                        prices:
                          MXN:
                            price: 60
                            duration: ONE_TIME
                          CAD:
                            price: 60
                            duration: ONE_TIME
                          USD:
                            price: 60
                            duration: ONE_TIME
                          EUR:
                            price: 60
                            duration: ONE_TIME
                          IDR:
                            price: 0
                            duration: ONE_TIME
                          GBP:
                            price: 60
                            duration: ONE_TIME
                        free: false
                        freeTrial: true
                      billingFrequency: ONE_TIME
                      publishedOn: 1519248113000
                      developerName: AppHelp
                      vendorName: Appdirect
                      rating: null
                      numRatings: null
                      showRating: true
                      overviewImageUrl: https://ad-dev-dump1.s3.amazonaws.com/app_resources/4645/overview/img6165482937306752085.png
                      overviewImageSrcset:
                        default: https://ad-dev-dump1.s3.amazonaws.com/app_resources/4645/overview/img6165482937306752085.png
                      blurb: Support for cloud apps and devices
                      buyable: true
                      importable: false
                      free: false
                      freeTrialOrEditionPresent: true
                      referable: false
                      hasLyncToPhone: false
                      downloadFileSize: null
                      hidePricings: false
                      collectLeads: false
                      addon: false
                      featured: false
                      featuredSliderPosition: null
                      popular: false
                      popularity: null
                      staffPick: false
                      staffPickSliderPosition: null
                      discountDetails: null
                      lastModified: 1519248114000
                      sortRank: 3
                      tags:
                      - type: CATEGORY
                        id: 6
                        name: Web Development
                        badge: null
                        showBadge: false
                        showOnNavigation: true
                        children: []
                        description: null
                      bundleUrls: []
                      supportedLanguages:
                      - en
                      productRibbon: {}
                      merchandisingBadges: []
                      supportedCountries: []
                      links:
                      - rel: self
                        href: http://dockerdev.appdirect.com:8080/api/marketplace/v1/products/4645?country=&currency=
                    - href: http://dockerdev.appdirect.com:8080/api/marketplace/v1/products/3732
                      id: 3732
                      uuid: 531b7811-2372-47a3-8d04-40e66205d2db
                      url: http://dockerdev.appdirect.com:8080/apps/3732/1-month-contract-recurring-addon-v2
                      name: 1 Month Contract Recurring Addon V2
                      productType: WEB_APP
                      iconUrl: null
                      profileLogoUrl: null
                      iconSrcset: {}
                      profileLogoSrcset: {}
                      description: 1 Month Contract Recurring Addon V2
                      overview: null
                      startingPrice: ''
                      channelStartingPrice:
                        prices: {}
                        free: false
                        freeTrial: false
                      billingFrequency: MONTHLY
                      publishedOn: 1500463144000
                      developerName: developer+channeladmin
                      vendorName: developer+channeladmin
                      rating: null
                      numRatings: null
                      showRating: true
                      overviewImageUrl: null
                      overviewImageSrcset: {}
                      blurb: null
                      buyable: true
                      importable: false
                      free: false
                      freeTrialOrEditionPresent: false
                      referable: false
                      hasLyncToPhone: false
                      downloadFileSize: null
                      hidePricings: false
                      collectLeads: false
                      addon: true
                      featured: false
                      featuredSliderPosition: null
                      popular: false
                      popularity: 0
                      staffPick: false
                      staffPickSliderPosition: null
                      discountDetails: null
                      lastModified: 1500540244000
                      sortRank: 3
                      tags: []
                      bundleUrls: []
                      supportedLanguages:
                      - en
                      productRibbon: {}
                      merchandisingBadges: []
                      supportedCountries: []
                      links:
                      - rel: self
                        href: http://dockerdev.appdirect.com:8080/api/marketplace/v1/products/3732?country=&currency=
                    page:
                      size: 3
                      totalElements: 932
                      totalPages: 311
                      number: 0
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url 'https://marketplace.appdirect.com/api/channel/v1/applications?page=SOME_STRING_VALUE&size=SOME_STRING_VALUE&sortField=SOME_STRING_VALUE&sortOrder=SOME_STRING_VALUE&searchText=SOME_STRING_VALUE&categoryId=SOME_ARRAY_VALUE'"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://marketplace.appdirect.com/api/channel/v1/applications',\n  qs: {\n    page: 'SOME_STRING_VALUE',\n    size: 'SOME_STRING_VALUE',\n    sortField: 'SOME_STRING_VALUE',\n    sortOrder: 'SOME_STRING_VALUE',\n    searchText: 'SOME_STRING_VALUE',\n    categoryId: 'SOME_ARRAY_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/channel/v1/applications?page=SOME_STRING_VALUE&size=SOME_STRING_VALUE&sortField=SOME_STRING_VALUE&sortOrder=SOME_STRING_VALUE&searchText=SOME_STRING_VALUE&categoryId=SOME_ARRAY_VALUE\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"
  /marketplace/v1/products/{applicationId}:
    get:
      description: This request returns all details about a specific product on your marketplace. The product in the response contains invisible editions if you are using OAuth to access the endpoint and the current user has either a Marketplace Manager role or a Sales Support role.</br>Maximum of 5 requests per second per caller.</br>To receive language-specific content in your response, ensure that your marketplace supports the specified language. Also ensure that you have a version of your product in the specified language.
      tags:
      - Product
      summary: Retrieve a product
      operationId: resource_Product_readProduct_GET
      parameters:
      - description: Application ID
        name: applicationId
        in: path
        required: true
        schema:
          type: number
      - description: Specify the locale context. Supports both web standard ISO format with hyphen (en-US) and Java standard format with underscore (en_US)
        name: locale
        in: query
        schema:
          type: string
      responses:
        '200':
          description: product information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductWS'
              examples:
                response:
                  value:
                    href: http://localhost/api/marketplace/v1/products/348
                    id: 348
                    uuid: c3775161-9ca4-4b5d-bf9f-3f8785063962
                    publishedApp: null
                    workingApp:
                      id: '347'
                      href: http://localhost/api/marketplace/v1/products/347
                    name: MockApp-4367741647933991053
                    type: WEB_APP
                    provider:
                      uuid: 4a74d22c-8391-4c8c-8fc5-807a193a613e
                      name: Appdirect
                      url: appdirect.com
                    listing:
                      myAppLogoIconUrl: null
                      imageUrl: null
                      profileImageUrl: null
                      blurb: App Blurb
                      overview: null
                      rating: null
                      reviewCount: 0
                    overview:
                      splashTitle: null
                      splashDescription: App Description
                      imageUrl: null
                      demoUrl: null
                      documentationUrl: null
                      downloadDocumentationUrl: null
                      systemRequirements: null
                      downloadFileSize: null
                      benefits: []
                      versions: {}
                    support:
                      email: null
                      phone: null
                      knowledgebaseUrl: null
                      description: null
                    privacyUrl: null
                    termsUrl: null
                    referUrl: null
                    hostedLocation: null
                    lastModified: 1461792768086
                    pricing:
                      pricingSummary: null
                      footnotes: []
                      bullets: []
                      editions:
                      - id: 348
                        uuid: e01e484b-4894-4136-8afc-8d1d50d8c04d
                        rank: 1
                        name: jEGpImFXPG
                        primary: false
                        trial:
                          length: 1
                          unit: MONTH
                        expiredTrialGracePeriod: null
                        bundleOnly: false
                        targetAudience: null
                        code: OS5WH
                        defaultFreeTrial: false
                        invisible: false
                        leadGen: false
                        lastModified: 1461792767969
                        revenueType: RECURRING
                        restricted: false
                        freeTrialDuration: 1
                        freeTrialType: MONTH
                        customerContractRestricted: false
                        plans:
                        - href: http://localhost/api/marketplace/v1/products/348/editions/348/paymentPlans/688
                          id: 688
                          uuid: null
                          frequency: MONTHLY
                          contract:
                            minimumServiceLength: 3
                            cancellationPeriodLimit: null
                            endOfContractGracePeriod: null
                            blockSwitchToShorterContract: false
                            blockContractDowngrades: false
                            blockContractUpgrades: false
                            gracePeriod: null
                            terminationFee: null
                            autoExtensionPricingId: 688
                          allowCustomUsage: false
                          keepBillDateOnUsageChange: false
                          separatePrepaid: false
                          isPrimaryPrice: false
                          costs:
                          - unit: USER
                            unitDependency: null
                            minUnits: 0
                            maxUnits: null
                            meteredUsage: false
                            increment: 1
                            pricePerIncrement: false
                            blockContractDecrease: false
                            blockContractIncrease: false
                            blockOriginalContractDecrease: false
                            amount:
                              USD: 10
                          discount: null
                          primaryPrice: false
                        - href: http://localhost/api/marketplace/v1/products/348/editions/348/paymentPlans/689
                          id: 689
                          uuid: null
                          frequency: MONTHLY
                          contract:
                            minimumServiceLength: 6
                            cancellationPeriodLimit: null
                            endOfContractGracePeriod: null
                            blockSwitchToShorterContract: false
                            blockContractDowngrades: false
                            blockContractUpgrades: false
                            gracePeriod: null
                            terminationFee: null
                            autoExtensionPricingId: 689
                          allowCustomUsage: false
                          keepBillDateOnUsageChange: false
                          separatePrepaid: false
                          isPrimaryPrice: false
                          costs:
                          - unit: USER
                            unitDependency: null
                            minUnits: 0
                            maxUnits: null
                            meteredUsage: false
                            increment: 1
                            pricePerIncrement: false
                            blockContractDecrease: false
                            blockContractIncrease: false
                            blockOriginalContractDecrease: false
                            amount:
                              USD: 10
                          discount: null
                          primaryPrice: false
                        bullets: []
                        items: []
                        customizations: []
                    publishedOn: 1461792767968
                    rating: null
                    numRatings: null
                    buyable: false
                    free: false
                    freeTrialOrEditionPresent: true
                    referable: false
                    hidePricings: false
                    collectLeads: false
                    collectLeadsWithPurchaseEnabled: false
                    newSubscriptionEnabled: true
                    changeSubscriptionAllowed: true
                    displayQuestions: true
                    displayReviews: true
                    oneClickPurchasable: false
                    autoUpgradeToPaid: false
                    downloadFileSize: null
                    startingPrice:
                      unit: USER
                      billingFrequency: MONTHLY
                      amount:
                        USD: 0
                      discount: null
                    highestPercentageDiscount: null
                    highestFixedDiscount: {}
                    bundledPlanIds: null
                    customIntegration: null
                    usageType: MULTI_USER
                    linkedImportableApplicationUuid: null
                    liveChatEnabled: false
                    liveChatAvailable: false
                    resources: []
                    screenshots: []
                    addonOfferings: []
                    featuredCustomers: []
                    featuredMedia: []
                    features: []
                    tags: []
                    supportedLanguages:
                    - en
                    orderFormFields: []
            application/xml:
              schema:
                $ref: '#/components/schemas/ProductWS'
        '429':
          description: Too many requests
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url 'https://marketplace.appdirect.com/api/marketplace/v1/products/%7BapplicationId%7D?locale=SOME_STRING_VALUE'"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://marketplace.appdirect.com/api/marketplace/v1/products/%7BapplicationId%7D',\n  qs: {locale: 'SOME_STRING_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/marketplace/v1/products/%7BapplicationId%7D?locale=SOME_STRING_VALUE\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"
  /marketplace/v1/vendors/{vendorUuid}/products:
    get:
      description: Lists all products offered by the specified vendor. On the product profile page, the results appear in the Related Products list, in ascending order by product ID. To retrieve the vendor ID, use the [List all companies](#list-all-companies) endpoint (vendor companies have the "vendor" property set to "true").
      tags:
      - Product
      summary: List all products by vendor
      operationId: resource_Product_readVendorProducts_GET
      parameters:
      - description: ID of the vendor company
        name: vendorUuid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: Success
                type: array
                items:
                  $ref: '#/components/schemas/ProductListingWS'
              examples:
                response:
                  value:
                  - href: http://localhost/api/marketplace/v1/products/365
                    id: 365
                    uuid: f7a480c9-ddaf-4645-bbf2-94cdf94a476a
                    url: http://localhost/apps/365
                    name: MockApp3254535959504925520
                    productType: WEB_APP
                    iconUrl: null
                    profileLogoUrl: null
                    description: App Description
                    overview: null
                    startingPrice: $0.00/User/Mo
                    billingFrequency: MONTHLY
                    publishedOn: 1461792770306
                    developerName: Appdirect
                    vendorName: Appdirect
                    rating: null
                    numRatings: null
                    overviewImageUrl: null
                    blurb: App Blurb
                    buyable: false
                    free: false
                    freeTrialOrEditionPresent: true
                    referable: false
                    hasLyncToPhone: false
                    downloadFileSize: null
                    hidePricings: false
                    collectLeads: false
                    addon: false
                    featured: false
                    featuredSliderPosition: null
                    popular: false
                    popularity: null
                    staffPick: false
                    staffPickSliderPosition: null
                    discountDetails: null
                    lastModified: 1461792770406
                    sortRank: 5
                    tags: []
                    bundleUrls: []
                    supportedLanguages:
                    - en
            application/xml:
              schema:
                description: Success
                type: array
                items:
                  $ref: '#/components/schemas/ProductListingWS'
        '404':
          description: Vendor not found
          content:
            application/json:
              examples:
                response:
                  value: {}
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url https://marketplace.appdirect.com/api/marketplace/v1/vendors/%7BvendorUuid%7D/products"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://marketplace.appdirect.com/api/marketplace/v1/vendors/%7BvendorUuid%7D/products'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/marketplace/v1/vendors/%7BvendorUuid%7D/products\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"
  /marketplace/v1/products/{applicationId}/status:
    get:
      description: This call returns the status of a product on your marketplace.
      tags:
      - Product
      summary: Retrieve a product status
      operationId: resource_Product_readStatus_GET
      parameters:
      - description: Application id
        name: applicationId
        in: path
        required: true
        schema:
          type: number
      responses:
        '200':
          description: products status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusWS'
              examples:
                response:
                  value:
                    assigned: false
                    pending: false
                    requested: false
                    pendingAppType: SUGGESTED
                    companyEntitlementId: null
                    editionId: null
                    ownerUuid: null
                    ownerFullName: null
                    ownerAdmin: false
                    partOfExistingBundle: false
                    companyEntitlementPending: false
                    freeTrialAllowed: true
                    companyWide: false
                    purchaseRestrictions: []
            application/xml:
              schema:
                $ref: '#/components/schemas/StatusWS'
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url https://marketplace.appdirect.com/api/marketplace/v1/products/%7BapplicationId%7D/status"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://marketplace.appdirect.com/api/marketplace/v1/products/%7BapplicationId%7D/status'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/marketplace/v1/products/%7BapplicationId%7D/status\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"
  /marketplace/v1/products/{applicationId}/recommendations:
    get:
      description: 'This call lists all  products that other customers have bought in addition to the one specified.

        Returns recommendations for additional purchases (currently simply returning what others who have bought the product have also bought).

        This may be augmented later to include additional recommendation strategies but always in the context of a single product'
      tags:
      - Product
      summary: List all product recommendations
      operationId: resource_Product_readProductRecommendations_GET
      parameters:
      - description: Application id
        name: applicationId
        in: path
        required: true
        schema:
          type: number
      responses:
        '200':
          description: List of recommended applications
          content:
            application/json:
              schema:
                description: List of recommended applications
                type: array
                items:
                  $ref: '#/components/schemas/ProductListingWS'
            application/xml:
              schema:
                description: List of recommended applications
                type: array
                items:
                  $ref: '#/components/schemas/ProductListingWS'
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url https://marketplace.appdirect.com/api/marketplace/v1/products/%7BapplicationId%7D/recommendations"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://marketplace.appdirect.com/api/marketplace/v1/products/%7BapplicationId%7D/recommendations'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/marketplace/v1/products/%7BapplicationId%7D/recommendations\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"
  /marketplace/v1/listing:
    get:
      description: This call lists products based on specific parameters such as attribute, category, date, or type.
      tags:
      - Product
      summary: List all products
      operationId: resource_Product_readAppListing_GET
      parameters:
      - description: Only return products for these attribute ids
        name: a
        in: query
        explode: true
        schema:
          type: array
          items:
            type: number
      - description: Search products published after this date in milliseconds
        name: approvalAfter
        in: query
        schema:
          type: number
      - description: Search products published before this date in milliseconds
        name: approvalBefore
        in: query
        schema:
          type: number
      - description: Filter products last modified after this date (epoch milliseconds). Use with publishedBefore to define a date range.
        name: publishedAfter
        in: query
        schema:
          type: number
      - description: Filter products last modified before this date (epoch milliseconds). Use with publishedAfter to define a date range.
        name: publishedBefore
        in: query
        schema:
          type: number
      - description: Only return products for these categories
        name: c
        in: query
        explode: true
        schema:
          type: array
          items:
            type: number
      - description: Limit number of products returned
        name: count
        in: query
        schema:
          type: string
          default: '500'
      - description: Only return products for these characteristics
        name: filter
        in: query
        explode: true
        schema:
          type: array
          items:
            enum:
            - DISCOUNT
            - FEATURED
            - FREE
            - FREE_TRIAL
            - PAID
            - POPULAR
            - STAFFPICK
            type: string
      - description: Only return products for these sub category ids
        name: s
        in: query
        explode: true
        schema:
          type: array
          items:
            type: number
      - description: Ordering type
        name: order
        in: query
        schema:
          type: string
          enum:
          - ALPHABETICAL
          - NEWEST_FIRST
          - NEWEST_PUBLISHED
          - POPULARITY
          - RATING
      - name: pl
        in: query
        explode: true
        schema:
          type: array
          items:
            type: number
      - name: platform
        in: query
        explode: true
        schema:
          type: array
          items:
            type: string
      - description: Search term used to search on different fields of an product
        name: q
        in: query
        schema:
          type: string
      - description: Only return products for these category ids
        name: s
        in: query
        explode: true
        schema:
          type: array
          items:
            type: number
      - description: Start to return product after this offset
        name: start
        in: query
        schema:
          type: integer
      - description: Only return product for these product types
        name: type
        in: query
        explode: true
        schema:
          type: array
          items:
            enum:
            - APPDIRECT_SERVICE
            - BUNDLE
            - CLOUDFOUNDRY_DEPLOYABLE
            - CLOUD_SERVICES
            - DESIGN_ELEMENT
            - DOMAIN_REGISTRATION
            - DOMAIN_RESELLER
            - DOWNLOAD
            - DOWNLOADABLE_BUNDLE
            - DOWNLOAD_WITH_FULL_PROFILE
            - EMBEDDED_VIDEO
            - EXTERNAL
            - MODULE
            - OPEN_SOURCE
            - RACKSPACE_IMAGE
            - STANDING_CLOUD
            - STATIC
            - SUPPORT
            - TEMPLATE
            - WEB_APP
            - WEB_APP_MANUAL_SETUP
            - WEB_APP_STACKED
            type: string
      - description: Only return products for the specified vendor IDs
        name: vendor
        in: query
        explode: true
        schema:
          type: array
          items:
            type: string
      - description: Specify the locale context
        name: locale
        in: query
        schema:
          type: string
      responses:
        '200':
          description: List of products
          headers:
            X-Total-Count:
              schema:
                type: integer
          content:
            application/json:
              schema:
                description: List of products
                type: array
                items:
                  $ref: '#/components/schemas/ProductListingWS'
              examples:
                response:
                  value:
                  - href: http://localhost/api/marketplace/v1/products/336
                    id: 336
                    uuid: 9b96574b-1686-44c4-a84d-f79f28d2b79f
                    url: http://localhost/apps/336
                    name: MockApp6205935388023038001
                    productType: WEB_APP
                    iconUrl: null
                    profileLogoUrl: null
                    description: App Description
                    overview: null
                    startingPrice: $0.00/User/Mo
                    billingFrequency: MONTHLY
                    publishedOn: 1461792766320
                    developerName: Appdirect
                    vendorName: Appdirect
                    rating: null
                    numRatings: null
                    overviewImageUrl: null
                    blurb: App Blurb
                    buyable: false
                    free: false
                    freeTrialOrEditionPresent: true
                    referable: false
                    hasLyncToPhone: false
                    downloadFileSize: null
                    hidePricings: false
                    collectLeads: false
                    addon: false
                    featured: false
                    featuredSliderPosition: null
                    popular: false
                    popularity: null
                    staffPick: false
                    staffPickSliderPosition: null
                    discountDetails: null
                    lastModified: 1461792766422
                    sortRank: 5
                    tags: []
                    bundleUrls: []
                    supportedLanguages:
                    - en
            application/xml:
              schema:
                description: List of products
                type: array
                items:
                  $ref: '#/components/schemas/ProductListingWS'
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url 'https://marketplace.appdirect.com/api/marketplace/v1/listing?a=SOME_ARRAY_VALUE&approvalAfter=SOME_NUMBER_VALUE&approvalBefore=SOME_NUMBER_VALUE&publishedAfter=SOME_NUMBER_VALUE&publishedBefore=SOME_NUMBER_VALUE&c=SOME_ARRAY_VALUE&count=SOME_STRING_VALUE&filter=SOME_ARRAY_VALUE&s=SOME_ARRAY_VALUE&s=SOME_ARRAY_VALUE&order=SOME_STRING_VALUE&pl=SOME_ARRAY_VALUE&platform=SOME_ARRAY_VALUE&q=SOME_STRING_VALUE&start=SOME_INTEGER_VALUE&type=SOME_ARRAY_VALUE&vendor=SOME_ARRAY_VALUE&locale=SOME_STRING_VALUE'"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://marketplace.appdirect.com/api/marketplace/v1/listing',\n  qs: {\n    a: 'SOME_ARRAY_VALUE',\n    approvalAfter: 'SOME_NUMBER_VALUE',\n    approvalBefore: 'SOME_NUMBER_VALUE',\n    publishedAfter: 'SOME_NUMBER_VALUE',\n    publishedBefore: 'SOME_NUMBER_VALUE',\n    c: 'SOME_ARRAY_VALUE',\n    count: 'SOME_STRING_VALUE',\n    filter: 'SOME_ARRAY_VALUE',\n    s: ['SOME_ARRAY_VALUE', 'SOME_ARRAY_VALUE'],\n    order: 'SOME_STRING_VALUE',\n    pl: 'SOME_ARRAY_VALUE',\n    platform: 'SOME_ARRAY_VALUE',\n    q: 'SOME_STRING_VALUE',\n    start: 'SOME_INTEGER_VALUE',\n    type: 'SOME_ARRAY_VALUE',\n    vendor: 'SOME_ARRAY_VALUE',\n    locale: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/marketplace/v1/listing?a=SOME_ARRAY_VALUE&approvalAfter=SOME_NUMBER_VALUE&approvalBefore=SOME_NUMBER_VALUE&publishedAfter=SOME_NUMBER_VALUE&publishedBefore=SOME_NUMBER_VALUE&c=SOME_ARRAY_VALUE&count=SOME_STRING_VALUE&filter=SOME_ARRAY_VALUE&s=SOME_ARRAY_VALUE&s=SOME_ARRAY_VALUE&order=SOME_STRING_VALUE&pl=SOME_ARRAY_VALUE&platform=SOME_ARRAY_VALUE&q=SOME_STRING_VALUE&start=SOME_INTEGER_VALUE&type=SOME_ARRAY_VALUE&vendor=SOME_ARRAY_VALUE&locale=SOME_STRING_VALUE\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"
  /marketplace/v1/addons:
    get:
      description: Lists add-on products visible on the current marketplace. An "add-on" is a separate catalog product linked to a parent product via an AppAssociation of type ADDON. Each entry contains the full add-on product payload (same shape as a /listing entry) plus a reference to the parent product. The `parentProductId` and `parentProductUuid` parameters are mutually exclusive — supplying both returns 400 Bad Request.
      tags:
      - Product
      summary: List all add-on products
      operationId: resource_Product_readAddonListing_GET
      parameters:
      - description: Pagination offset (0-based). Combined with count, start + count is capped at 10,000.
        name: start
        in: query
        schema:
          type: integer
          default: 0
      - description: Maximum number of add-ons to return per page. Defaults to 50; capped at 500. Clients performing bulk synchronisation should opt in to a larger page size explicitly (e.g. count=500).
        name: count
        in: query
        schema:
          type: integer
          default: 50
      - description: Filter by parent product numeric ID. Mutually exclusive with parentProductUuid.
        name: parentProductId
        in: query
        schema:
          type: number
      - description: Filter by parent product UUID. Mutually exclusive with parentProductId.
        name: parentProductUuid
        in: query
        schema:
          type: string
      - description: Country code, forwarded to product display logic
        name: country
        in: query
        schema:
          type: string
      - description: Currency code, forwarded to product display logic
        name: currency
        in: query
        schema:
          type: string
      - description: Locale (e.g. en_US). Falls back to the channel default if not specified.
        name: locale
        in: query
        schema:
          type: string
      responses:
        '200':
          description: List of add-on products
          headers:
            X-Total-Count:
              description: Total number of add-on products matching the query (across all pages)
              schema:
                type: integer
          content:
            application/json:
              schema:
                description: List of add-on products
                type: array
                items:
                  $ref: '#/components/schemas/AddonListingWS'
              examples:
                response:
                  value:
                  - product:
                      href: http://localhost/api/marketplace/v1/products/501
                      id: 501
                      uuid: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                      url: http://localhost/apps/501
                      name: Cloud Storage Add-On
                      productType: WEB_APP
                      iconUrl: null
                      profileLogoUrl: null
                      description: Additional cloud storage for your workspace
                      overview: null
                      startingPrice: $5.00/User/Mo
                      billingFrequency: MONTHLY
                      publishedOn: 1714000000000
                      developerName: Acme Corp
                      vendorName: Acme Corp
                      rating: null
                      numRatings: null
                      overviewImageUrl: null
                      blurb: Expand your storage capacity
                      buyable: true
                      free: false
                      freeTrialOrEditionPresent: false
                      referable: false
                      hasLyncToPhone: false
                      downloadFileSize: null
                      hidePricings: false
                      collectLeads: false
                      addon: true
                      featured: false
                      featuredSliderPosition: null
                      popular: false
                      popularity: null
                      staffPick: false
                      staffPickSliderPosition: null
                      discountDetails: null
                      lastModified: 1714000000000
                      sortRank: 1
                      tags: []
                      bundleUrls: []
                      supportedLanguages:
                      - en
                    parentProduct:
                      id: 200
                      uuid: f0e1d2c3-b4a5-6789-0abc-def012345678
                      name: Workspace Suite
                      href: http://localhost/api/marketplace/v1/products/200
                      editionId: 300
                      editionUuid: 11223344-5566-7788-99aa-bbccddeeff00
            application/xml:
              schema:
                description: List of add-on products
                type: array
                items:
                  $ref: '#/components/schemas/AddonListingWS'
        '400':
          description: Bad Request — both parentProductId and parentProductUuid were supplied
          content:
            application/json:
              examples:
                response:
                  value:
                    status: 400
                    message: Only one of parentProductId or parentProductUuid may be provided.
        '404':
          description: Not Found — the specified parent product does not exist on the current channel
          content:
            application/json:
              examples:
                response:
                  value:
                    status: 404
                    message: Parent product not found for uuid=nonexistent-uuid on the current channel.
        '429':
          description: Too many requests
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url 'https://marketplace.appdirect.com/api/marketplace/v1/addons?start=SOME_INTEGER_VALUE&count=SOME_INTEGER_VALUE&parentProductId=SOME_NUMBER_VALUE&parentProductUuid=SOME_STRING_VALUE&country=SOME_STRING_VALUE&currency=SOME_STRING_VALUE&locale=SOME_STRING_VALUE'"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://marketplace.appdirect.com/api/marketplace/v1/addons',\n  qs: {\n    start: 'SOME_INTEGER_VALUE',\n    count: 'SOME_INTEGER_VALUE',\n    parentProductId: 'SOME_NUMBER_VALUE',\n    parentProductUuid: 'SOME_STRING_VALUE',\n    country: 'SOME_STRING_VALUE',\n    currency: 'SOME_STRING_VALUE',\n    locale: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/marketplace/v1/addons?start=SOME_INTEGER_VALUE&count=SOME_INTEGER_VALUE&parentProductId=SOME_NUMBER_VALUE&parentProductUuid=SOME_STRING_VALUE&country=SOME_STRING_VALUE&currency=SOME_STRING_VALUE&locale=SOME_STRING_VALUE\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"
  /channel/v1/stagingCatalog:
    get:
      description: This call lists all products in the Staging Catalog of your marketplace.
      tags:
      - Product
      summary: Read staging catalog
      operationId: resource_Product_readStagingCatalog_GET
      parameters:
      - description: The status of the application, optional.
        name: appStatus
        in: query
        schema:
          type: string
          enum:
          - DEVELOPMENT
          - PENDING
          - PRODUCTION
      - description: The page number. Optional, defaults to 0.
        name: page
        in: query
        schema:
          type: string
          default: '0'
      - description: The product type, optional.
        name: productType
        in: query
        schema:
          type: string
          enum:
          - APPDIRECT_SERVICE
          - BUNDLE
          - CLOUDFOUNDRY_DEPLOYABLE
          - CLOUD_SERVICES
          - DESIGN_ELEMENT
          - DOMAIN_REGISTRATION
          - DOMAIN_RESELLER
          - DOWNLOAD
          - DOWNLOADABLE_BUNDLE
          - DOWNLOAD_WITH_FULL_PROFILE
          - EMBEDDED_VIDEO
          - EXTERNAL
          - MODULE
          - OPEN_SOURCE
          - RACKSPACE_IMAGE
          - STANDING_CLOUD
          - STATIC
          - SUPPORT
          - TEMPLATE
          - WEB_APP
          - WEB_APP_MANUAL_SETUP
          - WEB_APP_STACKED
      - description: The search text, optional.
        name: searchText
        in: query
        schema:
          type: string
      - description: (Optional) ID of the vendor company
        name: vendorUuid
        in: query
        schema:
          type: string
      - description: The number of application returned. Optional, defaults to 20.
        name: size
        in: query
        schema:
          type: string
          default: '20'
      - description: The order. Optional, default to ascending.
        name: sortOrder
        in: query
        schema:
          type: string
          enum:
          - ASC
          - DESC
          default: ASC
      - description: The sort field. Optional, defaults to the creation date of the application.
        name: sortProperty
        in: query
        schema:
          type: string
          default: createdOn
      responses:
        '200':
          description: A paginated list of Staging products.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedStagingProductWS'
              examples:
                response:
                  value:
                    links: []
                    content:
                    - href: http://appdirect/api/marketplace/v1/products/4
                      uuid: 659172ed-de2b-4668-bef1-2305543981c2
                      publishedApp: null
                      workingApp: null
                      name: test
                      type: TEMPLATE
                      provider:
                        uuid: d83b2364-6cfb-4f53-afab-195732ed1064
                        name: Appdirect
                        url: appdirect.com
                      listing:
                        myAppLogoIconUrl: null
                        imageUrl: null
                        profileImageUrl: null
                        myAppLogoIconSrcset: {}
                        imageSrcset: {}
                        profileImageSrcset: {}
                        blurb: null
                        overview: null
                        rating: null
                        reviewCount: 0
                        mobileBundleId: null
                        mobileAppStoreId: null
                      overview:
                        splashTitle: null
                        splashDescription: null
                        imageUrl: null
                        imageSrcset: {}
                        demoUrl: null
                        documentationUrl: null
                        downloadDocumentationUrl: null
                        systemRequirements: null
                        downloadFileSize: null
                        benefits: []
                        versions: {}
                      support:
                        email: null
                        phone: null
                        knowledgebaseUrl: null
                        description: null
                      privacyUrl: null
                      termsUrl: null
                      referUrl: null
                      hostedLocation: null
                      lastModified: 1487267935599
                      pricing:
                        pricingSummary: null
                        footnotes: []
                        bullets: []
                        editions:
                        - id: 4
                          uuid: d4e94846-2483-429a-8312-5e0ffd2bb3ac
                          rank: 1
                          name: 65PdwyUfbf
                          primary: false
                          trial:
                            length: 0
                            unit: DAY
                          expiredTrialGracePeriod: null
                          bundleOnly: false
                          targetAudience: null
                          code: 739C6527-7C18-45cf-B567-E886800C3532
                          defaultFreeTrial: false
                          invisible: false
                          leadGen: false
                          lastModified: 1487267935792
                          revenueType: RECURRING
                          restricted: false
                          freeTrialDuration: 0
                          freeTrialType: DAY
                          customerContractRestricted: false
                          plans:
                          - href: http://appdirect/api/marketplace/v1/products/4/editions/4/paymentPlans/6
                            id: 6
                            uuid: bc8bd303-14e1-4b3f-9dc4-bc5fd408a3e3
                            frequency: MONTHLY
                            contract: null
                            allowCustomUsage: false
                            keepBillDateOnUsageChange: false
                            separatePrepaid: false
                            isPrimaryPrice: false
                            costs:
                            - id: 6
                              unit: USER
                              unitDependency: null
                              minUnits: 0
                              maxUnits: null
                              meteredUsage: false
                              increment: 1
                              pricePerIncrement: false
                              blockContractDecrease: false
                              blockContractIncrease: false
                              blockOriginalContractDecrease: false
                              amount:
                                USD: 10
                              pricingStrategy: UNIT
                            discount: null
                            primaryPrice: false
                          bullets: []
                          items: []
                          customizations: []
                      publishedOn: 1487267935599
                      rating: null
                      numRatings: null
                      buyable: false
                      free: false
                      freeTrialOrEditionPresent: false
                      referable: false
                      hidePricings: false
                      collectLeads: false
                      collectLeadsWithPurchaseEnabled: false
                      newSubscriptionEnabled: true
                      changeSubscriptionAllowed: true
                      displayQuestions: false
                      displayReviews: false
                      oneClickPurchasable: false
                      autoUpgradeToPaid: false
                      downloadFileSize: null
                      startingPrice:
                        unit: null
                        billingFrequency: null
                        amount: {}
                        discount: null
                      highestPercentageDiscount: null
                      highestFixedDiscount: null
                      bundledPlanIds: null
                      customIntegration: null
                      usageType: MULTI_USER
                      linkedImportableApplicationUuid: null
                      liveChatEnabled: false
                      liveChatAvailable: false
                      showThirdPartyLegalDisclosure: false
                      showSelfServiceRestriction: false
                      integrationConfiguration:
                        productSettings: null
                        domainManagementEnabled: false
                      addon: false
                      resources: []
                      screenshots: []
                      addonOfferings: []
                      featuredCustomers: []
                      featuredMedia: []
                      features: []
                      tags: []
                      supportedLanguages:
                      - en
                      applicationStatus: NEW
                      vendorUUID: d83b2364-6cfb-4f53-afab-195732ed1064
                      links:
                      - rel: self
                        href: http://appdirect/api/marketplace/v1/products/4
                      id: 4
                    - href: http://appdirect/api/marketplace/v1/products/5
                      uuid: ca3ff213-2436-4c51-bc35-006083ab2411
                      publishedApp:
                        id: '6'
                        href: http://appdirect/api/marketplace/v1/products/6
                      workingApp: null
                      name: MockApp-6924690453261933046
                      type: WEB_APP
                      provider:
                        uuid: 6a91b983-7faa-4629-96ad-59036439034a
                        name: Jp4CqQsc5sXUxq0j
                        url: null
                      listing:
                        myAppLogoIconUrl: null
                        imageUrl: null
                        profileImageUrl: null
                        myAppLogoIconSrcset: {}
                        imageSrcset: {}
                        profileImageSrcset: {}
                        blurb: null
                        overview: null
                        rating: null
                        reviewCount: 0
                        mobileBundleId: null
                        mobileAppStoreId: null
                      overview:
                        splashTitle: null
                        splashDescription: null
                        imageUrl: null
                        imageSrcset: {}
                        demoUrl: null
                        documentationUrl: null
                        downloadDocumentationUrl: null
                        systemRequirements: null
                        downloadFileSize: null
                        benefits: []
                        versions: {}
                      support:
                        email: null
                        phone: null
                        knowledgebaseUrl: null
                        description: null
                      privacyUrl: null
                      termsUrl: null
                      referUrl: null
                      hostedLocation: null
                      lastModified: 1487267936024
                      pricing:
                        pricingSummary: null
                        footnotes: []
                        bullets: []
                        editions:
                        - id: 5
                          uuid: 1b0417a8-7f5b-43ab-8761-3c2c58d985ad
                          rank: 1
                          name: dEnkTi8Hjp
                          primary: false
                          trial:
                            length: 1
                            unit: MONTH
                          expiredTrialGracePeriod: null
                          bundleOnly: false
                          targetAudience: null
                          code: CiMjK
                          defaultFreeTrial: false
                          invisible: false
                          leadGen: false
                          lastModified: 1487267936025
                          revenueType: RECURRING
                          restricted: false
                          freeTrialDuration: 1
                          freeTrialType: MONTH
                          customerContractRestricted: false
                          plans:
                          - href: http://appdirect/api/marketplace/v1/products/5/editions/5/paymentPlans/7
                            id: 7
                            uuid: aae2ed68-ed82-45f9-98c9-cca791d6c9d3
                            frequency: MONTHLY
                            contract:
                              minimumServiceLength: 3
                              cancellationPeriodLimit: null
                              endOfContractGracePeriod: null
                              blockSwitchToShorterContract: false
                              blockContractDowngrades: false
                              blockContractUpgrades: false
                              alignWithParentCycleStartDate: false
                              gracePeriod: null
                              terminationFee: null
                              autoExtensionPricingId: 7
                            allowCustomUsage: false
                            keepBillDateOnUsageChange: false
                            separatePrepaid: false
                            isPrimaryPrice: false
                            costs:
                            - id: 7
                              unit: USER
                              unitDependency: null
                              minUnits: 0
                              maxUnits: null
                              meteredUsage: false
                              increment: 1
                              pricePerIncrement: false
                              blockContractDecrease: false
                              blockContractIncrease: false
                              blockOriginalContractDecrease: false
                              amount:
                                USD: 10
                              pricingStrategy: UNIT
                            discount: null
                            primaryPrice: false
                          - href: http://appdirect/api/marketplace/v1/products/5/editions/5/paymentPlans/8
                            id: 8
                            uuid: a24e51eb-7560-48fd-9e22-7fb85b32d081
                            frequency: MONTHLY
                            contract:
                              minimumServiceLength: 6
                              cancellationPeriodLimit: null
                              endOfContractGracePeriod: null
                              blockSwitchToShorterContract: false
                              blockContractDowngrades: false
                              blockContractUpgrades: false
                              alignWithParentCycleStartDate: false
                              gracePeriod: null
                              terminationFee: null
                              autoExtensionPricingId: 8
                            allowCustomUsage: false
                            keepBillDateOnUsageChange: false
                            separatePrepaid: false
                            isPrimaryPrice: false
                            costs:
                            - id: 8
                              unit: USER
                              unitDependency: null
                              minUnits: 0
                              maxUnits: null
                              meteredUsage: false
                              increment: 1
                              pricePerIncrement: false
                              blockContractDecrease: false
                              blockContractIncrease: false
                              blockOriginalContractDecrease: false
                              amount:
                                USD: 10
                              pricingStrategy: UNIT
                            discount: null
                            primaryPrice: false
                          bullets: []
                          items: []
                          customizations: []
                      publishedOn: 1487267935827
                      rating: null
                      numRatings: null
                      buyable: true
                      free: false
                      freeTrialOrEditionPresent: true
                      referable: false
                      hidePricings: false
                      collectLeads: false
                      collectLeadsWithPurchaseEnabled: false
                      newSubscriptionEnabled: true
                      changeSubscriptionAllowed: true
                      displayQuestions: false
                      displayReviews: false
                      oneClickPurchasable: true
                      autoUpgradeToPaid: false
                      downloadFileSize: null
                      startingPrice:
                        unit: USER
                        billingFrequency: MONTHLY
                        amount:
                          USD: 0
                        discount: null
                      highestPercentageDiscount: null
                      highestFixedDiscount: null
                      bundledPlanIds: null
                      customIntegration: null
                      usageType: MULTI_USER
                      linkedImportableApplicationUuid: null
                      liveChatEnabled: false
                      liveChatAvailable: false
                      showThirdPartyLegalDisclosure: false
                      showSelfServiceRestriction: false
                      integrationConfiguration:
                        productSettings: null
                        domainManagementEnabled: false
                      addon: false
                      resources: []
                      screenshots: []
                      addonOfferings: []
                      featuredCustomers: []
                      featuredMedia: []
                      features: []
                      tags: []
                      supportedLanguages:
                      - en
                      applicationStatus: LAUNCHED
                      vendorUUID: 6a91b983-7faa-4629-96ad-59036439034a
                      links:
                      - rel: self
                        href: http://appdirect/api/marketplace/v1/products/5
                      id: 5
                    page:
                      size: 20
                      totalElements: 2
                      totalPages: 1
                      number: 0
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url 'https://marketplace.appdirect.com/api/channel/v1/stagingCatalog?appStatus=SOME_STRING_VALUE&page=SOME_STRING_VALUE&productType=SOME_STRING_VALUE&searchText=SOME_STRING_VALUE&vendorUuid=SOME_STRING_VALUE&size=SOME_STRING_VALUE&sortOrder=SOME_STRING_VALUE&sortProperty=SOME_STRING_VALUE'"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://marketplace.appdirect.com/api/channel/v1/stagingCatalog',\n  qs: {\n    appStatus: 'SOME_STRING_VALUE',\n    page: 'SOME_STRING_VALUE',\n    productType: 'SOME_STRING_VALUE',\n    searchText: 'SOME_STRING_VALUE',\n    vendorUuid: 'SOME_STRING_VALUE',\n    size: 'SOME_STRING_VALUE',\n    sortOrder: 'SOME_STRING_VALUE',\n    sortProperty: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/channel/v1/stagingCatalog?appStatus=SOME_STRING_VALUE&page=SOME_STRING_VALUE&productType=SOME_STRING_VALUE&searchText=SOME_STRING_VALUE&vendorUuid=SOME_STRING_VALUE&size=SOME_STRING_VALUE&sortOrder=SOME_STRING_VALUE&sortProperty=SOME_STRING_VALUE\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"
components:
  schemas:
    ChannelPrice:
      type: object
      title: ChannelPrice
      properties:
        duration:
          $ref: '#/components/schemas/PricingDuration'
        price:
          type: number
      example:
        duration: DAILY
        price: 12345
    FeatureCharacteristicWS:
      description: Product feature characteristic
      type: object
      title: FeatureCharacteristic
      properties:
        abovePicture:
          description: Is characteristic above feature
          type: boolean
        highlight:
          description: List of feature highlights
          type: array
          items:
            $ref: '#/components/schemas/CharacteristicHighlightWS'
        id:
          type: number
        position:
          description: Order how the characteristic appear versus the others
          type: number
        title:
          description: Describe a characteristic of a feature
          type: string
          maxLength: 256
          minLength: 0
      example:
        abovePicture: true
        highlight:
        - displayCheck: true
          highlight: '...'
          id: 12345
        - displayCheck: true
          highlight: '...'
          id: 12345
        id: 12345
        position: 12345
        title: '...'
    Tag:
      description: Represents a category, subcategory, industry, customer tag, attribute or attribute group
      type: object
      title: Tag
      properties:
        badge:
          description: Badge image URL
          type: string
        description:
          description: Description
          type: string
          nullable: true
        id:
          description: ID
          type: number
        name:
          description: Name
          type: string
        showBadge:
          description: Show badge
          type: boolean
        showOnNavigation:
          description: Show tag on naviagtion for filtering
          type: boolean
        tag:
          description: Children tags
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        type:
          description: Type
          type: string
      example:
        badge: '...'
        description: '...'
        id: 12345
        name: '...'
        showBadge: true
        showOnNavigation: true
        tag:
        - badge: '...'
          description: '...'
          id: 12345
          name: '...'
          showBadge: true
          showOnNavigation: true
          tag:
          - {}
          - {}
          type: '...'
        - badge: '...'
          description: '...'
          id: 12345
          name: '...'
          showBadge: true
          showOnNavigation: true
          tag:
          - {}
          - {}
          type: '...'
        type: '...'
    ProductListingWS:
      description: Product information used for the listing on the marketplace
      type: object
      title: ProductListing
      properties:
        addon:
          description: Is an add-on product
          type: boolean
        billingFrequency:
          description: Billing frequency
          type: string
        blurb:
          description: Short description
          type: string
          nullable: true
        bundleUrl:
          description: List of bundle URLs
          type: array
          items:
            type: string
        buyable:
          description: Is buyable
          type: boolean
        channelStartingPrice:
          $ref: '#/components/schemas/ChannelStartingPrice'
        collectLeads:
          description: Collect lead
          type: boolean
        description:
          description: Description
          type: string
          nullable: true
        developerName:
          description: Developer name
          type: string
        discountDetails:
          $ref: '#/components/schemas/DiscountDetailsWS'
        downloadFileSize:
          description: Download file size for downloadable product
          type: number
          nullable: true
        featured:
          description: Is featured
          type: boolean
        featuredSliderPosition:
          description: Featured slider position
          type: number
          nullable: true
        free:
          description: Is free
          type: boolean
        freeTrialOrEditionPresent:
          description: Is free trial or edition present
          type: boolean
        hasLyncToPhone:
          description: Has lync to phone add-on
          type: boolean
        hidePricings:
          description: Hide pricings
          type: boolean
        href:
          description: URL to get product detail
          type: string
        iconSrcset:
          description: Icon Srcset
          type: object
          additionalProperties:
            type: string
        iconUrl:
          description: Icon URL
          type: string
          nullable: true
        id:
          description: ID
          type: number
        language:
          description: List of supported languages
          type: array
          items:
            type: string
        lastModified:
          description: Last modified date
          type: number
        name:
          description: Name
          type: string
        numRatings:
          description: Number of ratings
          type: number
          nullable: true
        overview:
          description: Overview
          type: string
          nullable: true
        overviewImageSrcset:
          description: Overview image Srcset
          type: object
          additionalProperties:
            type: string
        overviewImageUrl:
          description: Overview image URL
          type: string
          nullable: true
        popular:
          description: Is populare
          type: boolean
        popularity:
          description: Poplarity rank
          type: number
          nullable: true
        productRibbon:
          $ref: '#/components/schemas/ProductRibbonWS'
        productType:
          description: Product type
          type: string
        profileLogoSrcset:
          description: Profile logo Srcset
          type: object
          additionalProperties:
            type: string
        profileLogoUrl:
          description: Profile logo URL
          type: string
          nullable: true
        publishedOn:
          description: Publication date
          type: number
        rating:
          description: User-submitted total rating
          type: number
          nullable: true
        referable:
          description: Is a referable product
          type: boolean
        showRating:
          description: Must show the rating
          type: boolean
        sortRank:
          description: Sort rank
          type: number
        staffPick:
          description: Is staff pick
          type: boolean
        staffPickSliderPosition:
          description: Staff pick slider position
          type: number
          nullable: true
        startingPrice:
          description: Starting price
          type: string
        tag:
          description: List of tags
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        url:
          description: URL to product profile
          type: string
          nullable: true
        uuid:
          description: Unique identifier
          type: string
        vendorName:
          description: Vendor company name
          type: string
      example:
        addon: true
        billingFrequency: '...'
        blurb: '...'
        bundleUrl:
        - '...'
        - '...'
        buyable: true
        channelStartingPrice:
          free: true
          freeTrial: true
          prices:
            property1:
              duration: THREE_YEARS
              price: 12345
            property2:
              duration: THREE_YEARS
              price: 12345
        collectLeads: true
        description: '...'
        developerName: '...'
        discountDetails:
          discountedStartingPrice: '...'
          highestFixedDiscount:
            AUD: 12345
            BRL: 12345
            CAD: 12345
            CHF: 12345
            CNY: 12345
            DKK: 12345
            EUR: 12345
            GBP: 12345
            GTQ: 12345
            INR: 12345
            JPY: 12345
            KRW: 12345
            MXN: 12345
            MYR: 12345
            NOK: 12345
            NZD: 12345
            PHP: 12345
            SAR: 12345
            SEK: 12345
            SGD: 12345
            USD: 12345
            ZAR: 12345
          highestPercentageDiscount: 12345
          startingPricePercentageDiscount: 12345
        downloadFileSize: 12345
        featured: true
        featuredSliderPosition: 12345
        free: true
        freeTrialOrEditionPresent: true
        hasLyncToPhone: true
        hidePricings: true
        href: '...'
        iconSrcset:
          property1: '...'
          property2: '...'
        iconUrl: '...'
        id: 12345
        language:
        - '...'
        - '...'
        lastModified: 12345
        name: '...'
        numRatings: 12345
        overview: '...'
        overviewImageSrcset:
          property1: '...'
          property2: '...'
        overviewImageUrl: '...'
        popular: true
        popularity: 12345
        productRibbon: {}
        productType: '...'
        profileLogoSrcset:
          property1: '...'
          property2: '...'
        profileLogoUrl: '...'
        publishedOn: 12345
        rating: 12345
        referable: true
        showRating: true
        sortRank: 12345
        staffPick: true
        staffPickSliderPosition: 12345
        startingPrice: '...'
        tag:
        - badge: '...'
          description: '...'
          id: 12345
          name: '...'
          showBadge: true
          showOnNavigation: true
          tag:
          - {}
          - {}
          type: '...'
        - badge: '...'
          description: '...'
          id: 12345
          name: '...'
          showBadge: true
          showOnNavigation: true
          tag:
          - {}
          - {}
          type: '...'
        url: '...'
        uuid: '...'
        vendorName: '...'
    ProductDiscountDetailsWS:
      description: Discount detail on a product pricing
      type: object
      title: ProductDiscountDetails
      properties:
        amount:
          $ref: '#/components/schemas/PriceWS'
        availableRedemptions:
          description: Number of time the discount can be used
          type: number
        description:
          description: Description
          type: string
          nullable: true
        expirationDate:
          description: Expiration date of the discount
          type: number
        numOfBillingCycles:
          description: Number of billing cycle the discount is applicable
          type: number
        percentage:
          description: Discount in percentage
          type: number
        pricingUnit:
          $ref: '#/components/schemas/PricingUnit'
        startDate:
          description: Start date of the discount
          type: number
      example:
        amount:
          AUD: 12345
          BRL: 12345
          CAD: 12345
          CHF: 12345
          CNY: 12345
          DKK: 12345
          EUR: 12345
          GBP: 12345
          GTQ: 12345
          INR: 12345
          JPY: 12345
          KRW: 12345
          MXN: 12345
          MYR: 12345
          NOK: 12345
          NZD: 12345
          PHP: 12345
          SAR: 12345
          SEK: 12345
          SGD: 12345
          USD: 12345
          ZAR: 12345
        availableRedemptions: 12345
        description: '...'
        expirationDate: 12345
        numOfBillingCycles: 12345
        percentage: 12345
        pricingUnit: TIER3_STANDARD_LINE
        startDate: 12345
      nullable: true
    SourceWS:
      description: Media source that a vendor can cite in their product marketing profile
      type: object
      title: Source
      properties:
        id:
          description: ID
          type: number
        logoUrl:
          description: Logo URL
          type: string
        name:
          description: Name
          type: string
      example:
        id: 12345
        logoUrl: '...'
        name: '...'
    AppEditionWS:
      description: Edition associated with a product
      type: object
      title: AppEdition
      properties:
        appId:
          description: Application ID
          type: number
        appName:
          description: Application name
          type: string
        editionId:
          description: Edition ID
          type: number
        editionName:
          description: Edition name
          type: string
      example:
        appId: 12345
        appName: '...'
        editionId: 12345
        editionName: '...'
    EditionBulletWS:
      description: Bullet point to display for an edition
      type: object
      title: EditionBullet
      properties:
        content:
          description: Content
          type: string
        tooltip:
          description: Tooltip
          type: string
      example:
        content: '...'
        tooltip: '...'
    AttributeType:
      type: string
      title: AttributeType
      enum:
      - TEXT
      - MULTISELECT
    PricingUnit:
      type: string
      title: PricingUnit
      enum:
      - USER
      - GIGABYTE
      - GMV
      - MEGABYTE
      - PROSPECT_SCORE
      - HOUR
      - MINUTE
      - INVOICE
      - UNIT
      - PROJECT
      - PROPERTY
      - ITEM
      - WORD
      - EMAIL
      - CONTACT
      - CALL
      - CREDIT
      - ROOM
      - HOST
      - AGENT
      - OPERATOR
      - PROVIDER
      - MANAGER
      - TESTER
      - JVM
      - SERVER
      - WEB_USE_MINUTE
      - AUDIO_USE_MINUTE
      - PIECE
      - EMPLOYEE_PAY_PERIOD
      - EMPLOYEE_PER_PAY_PERIOD
      - COMPUTER
      - NOT_APPLICABLE
      - ONE_TIME_SETUP
      - DATA_POINTS
      - TIER1_API_CALLS
      - TIER2_API_CALLS
      - ADVISORY_HOURS
      - OVERAGE_AUDIO_MINUTE
      - EMPLOYEE
      - CONNECTION
      - PUSH_USER
      - THOUSAND_EMAILS_PER_DAY
      - PUSH_NOTIFICATION_DEVICES
      - API_CALLS
      - SMS_TEXT_MESSAGE
      - CONTACTS_1000
      - CONTRACT_FEE
      - TRANSFER_FEE
      - REACTIVATION_FEE
      - RECIPIENT
      - ADDITIONAL_1000_CONTACTS_BLOCK
      - SCHEDULE_PLAN
      - EMAILS_1000
      - EMAILS_2500
      - EMAILS_100000
      - MOBILE_DEVICE
      - PAYSLIP
      - PAYSLIP_CORRECTION
      - STORE
      - WEBSITE
      - EPAPER
      - PAGE
      - POSTAGE_AND_PRINT
      - INTERNATIONAL_POSTAGE_AND_PRINT
      - TIER1_TOP_LEVEL_DOMAIN
      - TIER2_TOP_LEVEL_DOMAIN
      - DEDICATED_IP
      - ENABLELCM
      - MAXCOMPONENTS
      - DATA_MANAGEMENT_USER
      - SPECIALIST_USER
      - PROFESSIONAL_USER
      - MATERIALITY_MATRIX
      - STAKEHOLDER_MANAGEMENT
      - SCORECARD
      - STANDARD_MAPPING
      - DONATION_MANAGEMENT
      - DOCUMENT
      - PACKAGE_SMALL
      - PACKAGE_LARGE
      - MEMBER
      - ATTENDEE
      - MAILING
      - RESPONSE
      - EXTERNAL_INVOICE_FEE
      - CLIENT_TEST
      - IMAGE_TRANSFORMATION
      - TOTAL_IMAGE
      - LICENSE
      - MAILBOX
      - FREE_40_INCH_HDTV_PC
      - FREE_46_INCH_HDTV_PC
      - FREE_46_INCH_HDTV_PC_MOUNTING
      - EMPLOYEE_PER_WEEK
      - REGISTER
      - END_USER
      - CORE
      - DEVICE
      - PORT
      - MEASURER
      - PUBLISHED_MEASUREMENT
      - NODE
      - SERVER_RULE
      - VPN_LP
      - PROXY_LP
      - DESKTOP_CONNECT_LP
      - CAMERA
      - MAIN_SOUND_ZONE
      - SUB_SOUND_ZONE
      - POST
      - REPORT
      - BOX
      - SESSION
      - DISPLAY
      - TRUCKROLL
      - TRANSACTION_FEE
      - SENDING_API_CALL
      - LOOKUP_API_CALL
      - ANALYTICS_API_CALL
      - MIGRATION_INSTANCE
      - NFON_SETUP_PER_PHONE_EXTENSION
      - NFON_SETUP_PER_PHONE_EXTENSION_PLUS
      - NFON_SETUP_PER_EFAX_EXTENSION
      - NFON_PHONE_EXTENSION
      - NFON_PHONE_EXTENSION_PLUS
      - NFON_EFAX_EXTENSION
      - NFON_CALL_CENTER_MONITORING
      - NFON_NMEETING
      - NFON_MOBILE_NFON_DEVICE
      - NFON_ISOFTPHONE_MAC
      - NFON_NSOFTPHONE_STANDARD_WINDOWS
      - NFON_NSOFTPHONE_PREMIUM_WINDOWS
      - NFON_NCTI_STANDARD_WINDOWS
      - NFON_NCTI_STANDARD_CRM_WINDOWS
      - NFON_NCTI_STANDARD_MAC
      - NFON_NSOFTPHONE_STANDARD_WINDOWS_OR_MOBILE
      - WESUSTAIN_PERFORMANCE
      - WESUSTAIN_STAKEHOLDER_REPUTATION
      - WESUSTAIN_WEAPP
      - FAX
      - FAX_LINE
      - ROOM_LINE
      - DEPARTMENT_LINE
      - INTERNATIONAL_LICENSE
      - INTERNATIONAL_DEPARTMENT_LINE
      - INTERNATIONAL_ROOM_LINE
      - INTERNATIONAL_LINE
      - CALLING_CREDIT
      - LINE
      - TOLLFREE_ROOM_LINE
      - TOLLFREE_DEPARTMENT_LINE
      - TAXES_AND_FEES
      - LEAD
      - OPPORTUNITY
      - CAMPAIGN
      - CASE
      - CUSTOMER
      - TIER1_STANDARD_LINE
      - TIER1_ROOM_LINE
      - TIER1_TOLLFREE_ROOM_LINE
      - TIER1_TOLLFREE_DEPARTMENT_LINE
      - TIER1_FAX_LINE
      - TIER1_DEPARTMENT_LINE
      - TIER2_STANDARD_LINE
      - TIER2_ROOM_LINE
      - TIER2_DEPARTMENT_LINE
      - TIER3_STANDARD_LINE
      - TIER3_ROOM_LINE
      - TIER3_DEPARTMENT_LINE
      - TIER4_STANDARD_LINE
      - TIER4_ROOM_LINE
      - TIER4_DEPARTMENT_LINE
      - CLUSTER
      - NODE_4VCPU
      - FIVE_HUNDRED_GB_SSD
      - TWELVE_TB_NETWORK_IO
      - JBOSS_EAP
      - JBOSS_FUSE
      - JBOSS_A_MQ
      - JBOSS_BRMS
      - JBOSS_BPM_SUITE
      - JBOSS_DATA_GRID
      - JBOSS_DATA_VIRT
      - USER_LICENSE
      - ADDITIONAL_NUMBER_LICENSE
      - ROOM_PHONE_LICENSE
      - UBERCONFERENCE_PRO_LICENSE
      - UBERCONFERENCE_PRO_LICENSE_UNBUNDLED
      - INSTANCE
      - INDOOR_CAMERA
      - OUTDOOR_CAMERA
      - VINGATE_LP_LICENCE
      - ADMINISTRATOR
      - MOBILE_USER
      - G_SUITE
      - T1
      - PHONE
      - AUTO_ATTENDANT
      - HUNT_GROUP
      - VOICEMAIL_BOX
      - TOLL_FREE_NUMBER
      - INBOUND_LONG_DISTANCE_MINUTE
      - OUTBOUND_LONG_DISTANCE_MINUTE
      - INBOUND_OUTBOUND_LONG_DISTANCE_MINUTE
      - SET_TOP_BOX
      - MODEM
      - ACCESS_POINT
      - CALLING_FEATURE
      - IAD_DEVICE
      - ANALOG_LINE
      - PRI
      - SBC_DEVICE
      - ROUTER
      - INTERNATIONAL_MINUTE
      - PHONE_LINE
      - DYNAMIC_IP_ADDRESS
      - STATIC_IP_ADDRESS
      - GATEWAY
      - REMOTE_CONTROL
      - TIER1_STANDARD_SEAT
      - TIER2_STANDARD_SEAT
      - TIER3_STANDARD_SEAT
      - TIER4_STANDARD_SEAT
      - TIER1_TOLL_FREE_SEAT
      - MILLION_MESSAGES
      - MESSAGE
      - WEEKLY
      - PHONE_NUMBER
      - GUEST
      - REVISION_SAFE_DATAROOM
      - GROUP_SESSION
      - MAILBOX_AD_SYNC
      - PHONE_SUPPORT
      - EXTRA_10TB
      - EXTRA_50TB
      - EXTRA_200TB
      - MAP_VIEW
      - SVM
      - CHANNEL
      - NUMBER_PRINTER_TABLET
      - NUMBER_ONSITE_SERVER
      - NUMBER_VISITS
      - ONSITE_TECHNICIAN_PC
      - ONSITE_TECHNICIAN_SERVER
      - SHORTER_REACTION_TIMES
      - E_COMMERCE_INTEGRATION
      - LOCATION
      - TRAINING_SESSION
      - GIGABYTES_PER_HOUR
      - FINANCIAL_PLANNING
      - ONSITE_WORKPLACE
      - INTERNAL_TOOLS_ACCESS
      - DUTY_SERVICE
      - TERABYTE
      - HOST_UNIT_HOURS
      - WEB_CHECKS
      - ACTIVE_USERS
      - ACTIVE_EMPLOYEE
      - PC_OF_NET_RECURRING_FEE
      - ACTIVE_VENDOR
      - ADVERTISEMENT
      - ADVERTISER_SPENDS
      - ANNUAL_FUNDRAISING_INCOME
      - ANNUAL_SUBSCRIPTION
      - APPLIANCE
      - ASSET
      - ASSETS_UNDER_MANAGEMENT
      - BUSINESS_PARTNERS
      - CASH_FLOWS
      - COMPONENT
      - CONNECTED_SYSTEMS
      - CONTRACTS
      - COSTS
      - DATA_STREAMS
      - DATABASE_SIZE
      - EXTERNAL_SERVICE_CALLS
      - FILE
      - FIXED
      - FLAT
      - FLAT_FEE_BASED_ON_ASSETS
      - FLEET_PLANNING_ORDERS
      - FORMS
      - GIGABYTE_DATABASE_SIZES
      - INSTALLATION
      - INSTALLED_CAPACITY
      - JOB_POSTING
      - LEARNER
      - LOGON
      - MANAGED_SYSTEM
      - MASTER_DATA_OBJECT
      - MASTER_RECORDS
      - MBPS
      - MONITORED_USER
      - MPLS
      - ORDER
      - OUTPATIENT_DAYS
      - PAGE_VIEW
      - PATIENT_CARE_DAY
      - PATIENT_TREATED
      - PLANT
      - POINTS_OF_DELIVERY
      - PREMIUM
      - PROCESS
      - PRODUCTS
      - RECORDS
      - RENTAL_UNIT
      - RESOURCES
      - REVENUE
      - SALES_ORDER
      - SALES_PORTFOLIOS
      - SERVICE_ORDERS
      - SITE_VISITS
      - SPENDS
      - SPEND_VOLUMES
      - STREAM
      - STUDENT
      - SUBSCRIBER
      - SUPPLIERS
      - TICKETS
      - TOTAL_ANNUAL_BUDGET
      - TUNNEL
      - VIRTUAL_USERS
      - SAP_SYSTEM
      - POSITION_TYPES
      - OVERAGE_FEES
      - OVERAGE_FEE_TRANSACTION
      - OVERAGE_FEES_DOCUMENT
      - OVERAGE_FEES_ITEM
      - EVENT
      - BUSINESS_EVENT
      - LEGAL_TENDER
      - ANNUAL_REVENUE
      - AD_SYNC
      - FULL_DATA_RESTORE
      - USED_STORAGE_100GB
      - COMPANY
      - ADDITIONAL_USER
      - VISIT
      - VIDEO
      - ELECTRONIC_PAYMENT
      - CHECK_PAYMENT
      - EXPRESS_PAY_ELECTRONIC_PAYMENT
      - EXPRESS_PAY_CHECK_PAYMENT
      - DATA_ENTRY_SERVICE
      - MONTHLY_VISIT
      - SCRUB_TRANSACTION
      - DEVICE_LICENSE
      - SERVER_LICENSE
      - BASE_LICENSE
      - SERVICE_CALL
      - SUPPORT_INCIDENT_TICKET
      - CUSTOM_REPORT_BUILDING_TRAINING
      - QUOTA
      - DOMESTIC_TRANSACTION
      - BEE
      - BEE_FLEET
      - BEE_BEACON_AMBIENT_LIGHT
      - BEE_BEACON_TEMPERATURE_HUMIDITY
      - CONTACTS_100
      - TEMPLATE
      - TEMPLATE_PACKS_10
      - PACK
      - SMS_TEXT_MESSAGE_10
      - VIRTUAL_SERVER
      - PHYSICAL_SERVER
      - WORKSTATION
      - CHATS
      - MATCH_LIST
      - CERTIFICATE_12_MONTHS
      - CERTIFICATE_24_MONTHS
      - PRIVACY
      - PAGE_VIEWS_100000
      - VOICE_OUT
      - EXAM
      - PARTICIPANT
      - ENCRYPTION_ADDON
      - ESS
      - ETI
      - ATP_ADDON
      - PBE_ADDO
      - NETI_ADDON
      - HUNDRED_SMS_REMINDER
      - CALENDAR_SYNC
      - PAYMENT_INTERFACE
      - MULTILINGUAL_ONLINE_EVENT_BOOKING
      - SOCKET
      - OFFER
      - FREELANCER
      - SOAP
      - DATEV_LEXWARE_INTERFACE
      - TOKEN
      - SERVICE_MONTH
      - VIDEO_PACKAGE_50_HOURS
      - INTERFACE
      - TEST_CASE
      - MINUTES_15
      - MINUTES_30
      - CONNECTED_ACCESS_POINT
      - DAY
      - SATURDAY_SURCHARGE
      - NIGHT_SURCHARGE
      - SUNDAY_SURCHARGE
      - PUBLIC_HOLIDAY_SURCHARGE
      - BASIC_PACKAGE
      - STANDARD_PACKAGE
      - PREMIUM_PACKAGE
      - REPORTS_MODULE
      - WORKFLOW_MODULE
      - NBV_250K
      - NBV
      - INVENTORY
      - ADDITIONAL_COMPANY
      - TRANSACTION
      - PREMIUM_CREDIT_REPORTS
      - ADDITIONAL_CONNECTION
      - STOCK_UNIT
      - MONTHLY_USAGE_FEE
      - USAGE_FEE
      - MONTHLY_CHARGES
      - STANDARD_USER
      - ADDITIONAL_UNIT
      - COMMISSION
      - KITTING
      - WOP
      - SFDC
      - NAMED_USER_LICENSE
      - BARCODING_AND_WAREHOUSING
      - MODULE
      - MANUFACTURING_MODULE
      - MRP
      - CONSOLE_MODULE
      - CONSOLIDATIONS
      - MULTI_CURRENCY
      - ADDON_LICENSE
      - INBOUND_PAGE
      - OUTBOUND_PAGE
      - OPPORTUNITY_RETENTION
      - SOCIAL_SENTIMENT
      - DEMAND_PRICE
      - SETUP_FEE
      - SHAREPOINT
      - INTEGRATION_MAINTENANCE
      - VIEWER
      - MANAGEMENT_USER
      - SQ_FT
      - LOCATION_UPTO_10_EMPLOYEES
      - LOCATION_UPTO_20_EMPLOYEES
      - LOCATION_UPTO_30_EMPLOYEES
      - LOCATION_UPTO_60_EMPLOYEES
      - LOCATION_UPTO_99_EMPLOYEES
      - M365_ONLINE
      - WEB_HOSTING_SERVER
      - STANDARD_EDITION_GIGABYTE
      - STORAGE_GIGABYTE
      - EGRESS_GIGABYTE
      - FEE_HW_DEFECT_NO_WARRANTY_CASE
      - SIM_CARD
      - SIM_CARDS_10
      - APPLICATION_CONNECTOR
      - ADDITIONAL_API_CALLS
      - USED_STORAGE_PER_GB
      - CERTIFICATION
      - MACHINE
      - CALCULATION_USER
      - MAILBOX_S
      - MAILBOX_M
      - MAILBOX_L
      - STORAGE
      - GROUP
      - VEHICLE
      - ENDPOINT
      - MANAGED_SERVICE
      - SOC
      - ONLINE_PLAN
      - ENTERPRISE_PLAN
      - FLOATING_LICENSE
      - USER_PER_LICENSE
      - CONCURRENT_USER_PER_LICENSE
      - DASHBOARD
      - IT_INTERFACE
      - CONNECTABLE_IOT_DEVICE_VIA_USB
      - CONNECTABLE_IOT_DEVICE_VIA_TULIP_GATEWAY
      - CONNECTABLE_MACHINE_PER_LICENSE
      - OBJECT_TO_BE_CHECKED
      - MACHINE_WITH_BI_SUPPORT
      - CONNECTED_DEVICE
      - LISTING
      - TLS_ENCRYPTION
      - DOMAIN_LEVEL_SEND
      - EFAX_ROUTER
      - PRORATED_CREDIT
      - NEW_HIRE
      - NAS
      - SALESFORCE_USER
      - INTERVIEW
      - ASSESSMENT
      - NU_WEBEX_CALLING_ENHANCED
      - NU_WEBEX_CALLING_PROFESSIONAL
      - WEBEX_ASSISTANT_FOR_WEBEX_MEETINGS_NU
      - NU_MEETINGS_BRIDGE_COUNTRY_CALL_BACK_AUDIO
      - FLEX_TEAMS_MESSAGING
      - ADDON_ANALYSES
      - ADDITIONAL_LISTING
      - MIGRATION_TENANT
      - MIGRATION_GROUP
      - MIGRATION_DOCUMENT
      - MIGRATION_GSUITE
      - MIGRATION_FOLDER
      - ENHANCED_USER
      - SINGLE_NAME_CERTIFICATE
      - SETUP
      - HA_DEVICE_DAY
      - WILDCARD_CERTIFICATE
      - SECURITY_PACKAGE
      - ADDITIONAL_LANGUAGE
      - VANITY_URL
      - BRANDING
      - DATA_SOURCE
      - CREATOR_USER
      - ESIGN_USER
      - READ_ONLY_USER
      - MEASURING_POINT
      - ANDON_TV
      - TABLET
      - USER_10000
      - USER_100
      - PUBLIC_IP
      - WORKLOAD
      - PUBLIC_IP_ADDRESS
      - COMPUTE_POINT
      - RESOURCE_UNIT
      - VALUE_POINT
      - ACCOUNT
      - REQUEST
      - TRANSCRIPT
      - NOTIFICATION
      - CLAIM
      - MID
      - ENGAGEMENT
      - TEAM_LICENSE_DIGITAL_TEAMBOARD
      - TEAM_LICENSE_MODULE_CONNECTIVITY
      - TEAM_LICENSE_MODULE_PROBLEM_SOLUTION
      - TEAM_LICENSE_MODULE_AUDITS
      - TEAM_LICENSE_MODULE_PROCESS_CONFIRMATION
      - TEAM_LICENSE_MODULE_QUALIFICATION_MATRIX
      - TEAM_LICENSE_MODULE_STANDARD_WORK_INSTRUCTION
      - TEAM_LICENSE_MODULE_PARETO_ANALYSIS
      - KPI
      - YEAR_KPI_ARCHIVAL
      - CORPORATE_CLOUD_HOSTING
      - ON_PREMISES_HOSTING
      - SUPPORT_SERVICE_HOUR
      - CLASS
      - EXPERT
      - SPINDLE_HOUR
      - ADDON_ADMINISTRATION
      - ADDON_CONFIGURATION
      - ADDON_PLANNING
      - ADDON_PLANNING_OBJECTS
      - ADDON_MASTER_DATA
      - ADDON_CAPACITY_PLANS_CALENDAR
      - ADDON_CONFLICT_RADAR
      - ADDON_GAP_LIST
      - ADDON_DASHBOARD
      - ADDON_PLANNING_READ_ONLY
      - ADDON_UTILIZATION_POOLS
      - ADDON_FIXED_SCHEDULES
      - ADDON_ASSEMBLY_GROUPS
      - ADDON_ORDER_ON_HOLD
      - ADDON_PARALLEL_RESSOURCES
      - ADDON_MULTI_FUNCTIONAL_RESSOURCES
      - ADDON_PLANEUS_TV_PER_TERMINAL
      - ADDON_MASTER_DATA_WORK_PROCEDURES
      - ADDON_MANUAL_IMPORT
      - ADDON_AUTOMATIC_IMPORT
      - ADDON_REPORTING_BASIC
      - ADDON_REPORTING_ADVANCED
      - ADDON_REPORT_RESOURCES_AVAILABILITY_PER_DAY
      - ADDON_REPORT_OEE
      - ADDON_REPORT_ON_TIME_DELIVERY_HISTORY
      - ADDON_REPORT_PROCESS_PERFORMANCE_HISTORY
[...]
