openapi: 3.0.0
info:
  description: The Companies API allows developers to manage marketplace companies and their user memberships.
  title: Companies AI Embed AppResellerReconciliation API
  license:
    name: Apache License, Version 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  version: v296.0-SNAPSHOT
servers:
- url: https://marketplace.appdirect.com/api
- url: https://virtserver.swaggerhub.com
tags:
- name: AppResellerReconciliation
  x-displayName: Reconciliation (Reseller)
paths:
  /reseller/v1/reconciliation/transfers:
    get:
      summary: List transfers
      description: Retrieves all transfers
      tags:
      - AppResellerReconciliation
      operationId: readTransfers
      x-appdirect-required-scopes:
        ROLE_RESELLER:
        - Allows Resellers to access their transfers
      parameters:
      - in: query
        name: number
        description: Page number
        required: false
        schema:
          type: integer
          default: 1
      - in: query
        name: size
        description: Number of results per page
        required: false
        schema:
          type: integer
          default: 10
      responses:
        '200':
          description: A pageable list of transfers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferList'
              examples:
                response:
                  value:
                    content:
                    - id: 2319ee21-185c-485e-bcb0-18328b49b58f
                      transferRequestId: 3
                      status: COMPLETE
                      accountReceivable: 0
                      accountPayable: 52
                      netReceivable: 0
                      netPayable: 52
                      currency: USD
                      transferDate: 1572451157602
                    - id: 43a9d114-7157-4e91-a2ed-7c683aba068e
                      transferRequestId: 2
                      status: COMPLETE
                      accountReceivable: 0
                      accountPayable: 15
                      netReceivable: 0
                      netPayable: 15
                      currency: USD
                      transferDate: 1572378298608
                    - id: 875ce19f-1dfb-4ff8-aad0-f4c2fe866d44
                      transferRequestId: 1
                      status: COMPLETE
                      accountReceivable: 13.5
                      accountPayable: 59
                      netReceivable: 0
                      netPayable: 45.5
                      currency: USD
                      transferDate: 1572359937730
                    page:
                      size: 3
                      number: 1
                      totalElements: 3
                      totalPages: 1
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url 'https://marketplace.appdirect.com/api/reseller/v1/reconciliation/transfers?number=SOME_INTEGER_VALUE&size=SOME_INTEGER_VALUE'"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://marketplace.appdirect.com/api/reseller/v1/reconciliation/transfers',\n  qs: {number: 'SOME_INTEGER_VALUE', size: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/reseller/v1/reconciliation/transfers?number=SOME_INTEGER_VALUE&size=SOME_INTEGER_VALUE\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"
  /reseller/v1/reconciliation/transfers/{transferId}:
    get:
      summary: Retrieve transfer details
      description: Retrieves the summary of a transfer, which includes the date of the transfer, the transfer status, currency, net payable and net receivable
      tags:
      - AppResellerReconciliation
      operationId: readTransfer
      x-appdirect-required-scopes:
        ROLE_RESELLER:
        - Allows Resellers to access their transfer details
      parameters:
      - in: path
        name: transferId
        description: Transfer ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The overview of the transfer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
              examples:
                response:
                  value:
                    id: 2319ee21-185c-485e-bcb0-18328b49b58f
                    transferRequestId: 3
                    status: COMPLETE
                    accountReceivable: 0
                    accountPayable: 52
                    netReceivable: 0
                    netPayable: 52
                    currency: USD
                    transferDate: 1572451157602
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url https://marketplace.appdirect.com/api/reseller/v1/reconciliation/transfers/%7BtransferId%7D"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://marketplace.appdirect.com/api/reseller/v1/reconciliation/transfers/%7BtransferId%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/reseller/v1/reconciliation/transfers/%7BtransferId%7D\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"
  /reseller/v1/reconciliation/transfers/{transferId}/details:
    get:
      summary: List transfer ledger lines
      description: Retrieves the ledger lines of a transfer
      tags:
      - AppResellerReconciliation
      operationId: readTransferDetails
      x-appdirect-required-scopes:
        ROLE_RESELLER:
        - Allows Resellers to access their transfer ledger lines
      parameters:
      - in: path
        name: transferId
        description: Transfer ID
        required: true
        schema:
          type: string
      - in: query
        name: number
        description: Page number
        required: false
        schema:
          type: integer
          default: 1
      - in: query
        name: size
        description: Number of results per page
        required: false
        schema:
          type: integer
          default: 5
      responses:
        '200':
          description: The ledger lines of the transfer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferDetailsList'
              examples:
                response:
                  value:
                    content:
                    - id: 72
                      currency: USD
                      credit: 52
                      debit: 0
                      customer: Appdirect
                      product: FEATURED_WEBAPP
                    page:
                      size: 1
                      number: 1
                      totalElements: 1
                      totalPages: 1
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url 'https://marketplace.appdirect.com/api/reseller/v1/reconciliation/transfers/%7BtransferId%7D/details?number=SOME_INTEGER_VALUE&size=SOME_INTEGER_VALUE'"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://marketplace.appdirect.com/api/reseller/v1/reconciliation/transfers/%7BtransferId%7D/details',\n  qs: {number: 'SOME_INTEGER_VALUE', size: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://marketplace.appdirect.com/api/reseller/v1/reconciliation/transfers/%7BtransferId%7D/details?number=SOME_INTEGER_VALUE&size=SOME_INTEGER_VALUE\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"
components:
  schemas:
    TransferDetailsList:
      type: object
      title: TransferDetailsList
      required:
      - content
      - page
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/TransferDetails'
        page:
          $ref: '#/components/schemas/PageMetadata'
      example:
        content:
        - id: 13
          currency: USD
          credit: 0
          debit: 10
          customer: Telko Co.
          product: Cablevision
        - id: 14
          currency: USD
          credit: 100
          debit: 0
          customer: Telko Co.
          product: airtel
        - id: 15
          currency: USD
          credit: 300
          debit: 0
          customer: Telko Co.
          product: Office 365 for Business
        page:
          size: 3
          number: 1
          totalElements: 3
          totalPages: 1
    TransferList:
      type: object
      title: TransferList
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/Transfer'
        page:
          $ref: '#/components/schemas/PageMetadata'
      example:
        content:
        - id: 7b55beda-4878-4ac9-8e65-2b84d889b705
          transferRequestId: 4
          transferId: 4
          status: COMPLETE
          currency: USD
          accountReceivable: 95.99
          accountPayable: 0
          netReceivable: 95.99
          netPayable: 0
          transferDate: 145234540
        - id: bee32a9b-048c-402d-9b87-f27ff1ffaa52
          transferRequestId: 4
          transferId: 4
          status: COMPLETE
          currency: USD
          accountReceivable: 95.99
          accountPayable: 0
          netReceivable: 95.99
          netPayable: 0
          transferDate: 145234540
        - id: cc7c58f8-343a-4f3c-8ade-d1b6342190ca
          transferRequestId: 3
          transferId: 3
          status: RECONCILED
          currency: USD
          accountReceivable: 95.99
          accountPayable: 0
          netReceivable: 95.99
          netPayable: 0
          transferDate: 145234540
        page:
          size: 3
          number: 1
          totalElements: 3
          totalPages: 1
    ErrorResponse:
      type: object
      title: ErrorResponse
      description: Error details
      properties:
        status:
          type: integer
          description: Original HTTP error code, which should be consistent with the response HTTP code
          minimum: 100
          maximum: 599
        code:
          type: string
          description: The error code, in screaming snake case, for example VALIDATION_ERROR
          pattern: ^[A-Z]+(_[A-Z]+)*$
        message:
          type: string
          description: Descriptive error message for debugging
        moreInfo:
          type: string
          format: uri
          description: Link to documentation for more information
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorPaymentDetail'
      required:
      - status
      - code
      example:
        status: 400
        code: VALIDATION_ERROR
        message: Missing required parameters
    ErrorPaymentDetail:
      type: object
      title: ErrorPaymentDetail
      description: A detail element of an ErrorResponse
      properties:
        field:
          type: string
          description: The element in the request payload that caused the error
        code:
          type: string
          description: The error code, in screaming snake case, for example PAYLOAD_VALIDATION_ERROR
          pattern: ^[A-Z]+(_[A-Z]+)*$
        message:
          type: string
          description: Descriptive error message for debugging
        moreInfo:
          type: string
          format: uri
          description: Link to documentation for more information
      required:
      - code
      example:
        code: INVALID_REQUEST
        message: Missing parameter
    TransferDetails:
      type: object
      title: TransferDetails
      properties:
        id:
          description: The detail ID
          type: integer
          format: int64
        currency:
          description: The currency of the detail line
          type: string
        credit:
          description: The amount the reseller receives for the sale
          type: number
        debit:
          description: The amount the reseller owes for the sale
          type: number
        customer:
          description: The customer company for whom the product was purchased
          type: string
        product:
          description: The name of the product
          type: string
      example:
        id: 1
        currency: USD
        credit: 100
        debit: 0
        customer: Telko Co.
        product: Cablevision
    Transfer:
      type: object
      title: Transfer
      properties:
        id:
          description: The transfer ID
          type: string
        transferRequestId:
          description: The transfer request ID
          type: integer
        status:
          description: The status of the transfer
          type: string
          enum:
          - NEW
          - SUBMITTED
          - PENDING
          - COMPLETE
          - FAILED
          - OVERDUE
          - CANCELED
        accountReceivable:
          description: Account receivable
          type: number
        accountPayable:
          description: Account payable
          type: number
        netReceivable:
          description: Net receivable
          type: number
        netPayable:
          description: Net payable
          type: number
        currency:
          description: The currency of the transfer, using the ISO-4217 currency code
          type: string
          pattern: ^[A-Z]{3}$
          enum:
          - USD
          - CAD
          - EUR
          - JPY
          - GBP
          - KRW
          - CHF
          - SEK
          - SGD
          - MYR
          - AUD
          - MXN
          - INR
          - BRL
          - DKK
          - NZD
          - NOK
          - ZAR
          - PHP
          - CNY
          - SAR
          - GTQ
          - IDR
          - ARS
          - COP
          - PEN
        transferDate:
          description: The date on which the transfer was made
          type: number
      example:
        id: c9c9efd0-a1ae-43af-88d6-c6add4de42da
        transferRequestId: 4
        transferId: 4
        status: COMPLETE
        currency: USD
        accountReceivable: 95.99
        accountPayable: 0
        netReceivable: 95.99
        netPayable: 0
        transferDate: 145234540
    PageMetadata:
      type: object
      title: PageMetadata
      required:
      - number
      - size
      - totalElements
      - totalPages
      properties:
        number:
          description: Page number
          type: number
        size:
          description: Size of the page to be returned
          type: number
        totalElements:
          description: Total number of elements
          type: number
        totalPages:
          description: Total number of pages
          type: number
      example:
        number: 12345
        size: 12345
        totalElements: 12345
        totalPages: 12345
