openapi: 3.0.0
info:
  description: >-
    The Companies API allows developers to manage marketplace companies and
    their user memberships.
  title: Companies
  license:
    name: Apache License, Version 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  version: v296.0-SNAPSHOT
servers:
  - url: https://marketplace.appdirect.com/api
  - url: https://virtserver.swaggerhub.com
tags:
  - name: Bundle
    x-displayName: Bundles
  - name: checkoutItemDetails
    description: Retrieves product details such as branding, pricing, and so on.
    x-displayName: Checkout Items
  - name: Companies
    x-displayName: Companies
  - name: AppResellerAccount
    x-displayName: Companies (Reseller)
  - name: AppResellerCompanyAssociation
    x-displayName: Company Association
  - name: CompanyMemberships
    x-displayName: Company Memberships
  - name: InboundEvents
    x-displayName: Content Events
  - name: CurrencyExchangeRate
    x-displayName: Currency Exchange Rate
  - description: |-
      API endpoint to manage notification templates (email and sms) that are
      used to communicate with users on the marketplace when a event
      occurs on the marketplace that requires a notification to users.
    name: CustomerNotification
    x-displayName: Customer Notifications
  - description: |-
      API endpoint to manage default notification templates (email and sms)
      When a partner have not customized a notification template, the default
      template will be used to send notification to users if it exists for the
      required notification template type and required locale.
    name: DefaultNotificationTemplateApi
    x-displayName: Default Notification Template Api
  - name: Discount
    x-displayName: Discounts
  - name: Domains
    x-displayName: Domains
  - name: Edition
    x-displayName: Editions
  - name: Event
    x-displayName: Events
  - name: Group
    x-displayName: Groups
  - name: Invitation
    x-displayName: Invitations
  - name: Invoice
    x-displayName: Invoices
  - name: AppResellerLeads
    x-displayName: Leads v2
  - name: Marketplace Product Settings
    x-displayName: Marketplace Product Settings
  - name: Integration
    x-displayName: Metered Usage
  - name: MyApps
    x-displayName: MyApps
  - name: Navigation
    x-displayName: Navigation
  - name: AppResellerOpportunities
    x-displayName: Opportunities
  - name: PaymentInstrument
    x-displayName: Payment Instruments
  - name: Payment Methods
    x-displayName: Payment Methods
  - name: AppResellerPaymentMethod
    x-displayName: Payment Methods (Reseller)
  - name: PaymentPlan
    x-displayName: Payment Plans
  - name: Payment
    x-displayName: Payments v1
  - name: Payments v2
    x-displayName: Payments v2
  - name: Answer
    x-displayName: Product Answers
  - name: Comment
    x-displayName: Product Comments
  - name: ProductContext
    x-displayName: Product Context
  - name: Product Management API
    x-displayName: Product Management API
  - name: Question
    x-displayName: Product Questions
  - name: Review
    x-displayName: Product Reviews
  - name: DataUploader
    x-displayName: Product Uploader
  - name: Product
    x-displayName: Products
  - name: PurchaseOrder
    x-displayName: Purchase Orders
  - name: AppResellerOrder
    x-displayName: Purchase Orders (Reseller)
  - name: AppResellerQuoteVersion
    x-displayName: Quote Versions
  - name: Reconciliation
    x-displayName: Reconciliation
  - name: AppResellerReconciliation
    x-displayName: Reconciliation (Reseller)
  - name: Reporting
    x-displayName: Reports v1
  - name: Reporting V2
    x-displayName: Reports V2
  - name: AppResellerCatalog
    x-displayName: Reseller Catalog
  - name: Search
    x-displayName: Search
  - name: SegmentFolders
    x-displayName: Segment Folders
  - name: Settings
    x-displayName: Settings
  - name: ShoppingCart
    description: Operations related to shopping carts
    x-displayName: ShoppingCart
  - name: SubscriptionAssignments
    x-displayName: Subscription Assignments
  - name: AppResellerAssignment
    x-displayName: Subscription Assignments (Reseller)
  - name: Subscriptions
    x-displayName: Subscriptions
  - name: AppResellerSubscription
    x-displayName: Subscriptions (Reseller)
  - name: Sync
    x-displayName: Sync
  - name: UserAccounts
    x-displayName: User Accounts
  - name: User
    x-displayName: Users
paths:
  /account/v2/companies/{companyUuid}/activities:
    get:
      description: >-
        Retrieve company or user activities.


        The displayType parameter dictates whether activities for the given user
        or activities for the whole company are returned.
      tags:
        - Companies
      summary: Read activities
      operationId: resource_Company_readCompanyActivities_GET
      x-appdirect-required-scopes:
        ROLE_USER:
          - Allows access as an end user in the company.
        ROLE_RESELLER:
          - Allows access as a Reseller for the company.
        ROLE_SALES_SUPPORT:
          - Allows access as a Sales Support agent for the marketplace.
        ROLE_CHANNEL_SUPPORT:
          - Allows access as a Customer Support agent for the marketplace.
        ROLE_CHANNEL_ADMIN:
          - Allows access as a Marketplace Manager for the marketplace.
        ROLE_CORPORATE_ADMIN:
          - Allows access as a Network Manager for the marketplace.
        ROLE_PARTNER_READ:
          - Allows access to read all marketplace data.
      parameters:
        - description: Unique identifier of company in the API request
          name: companyUuid
          in: path
          required: true
          schema:
            type: string
        - description: Scope
          name: displayType
          in: query
          schema:
            type: string
            enum:
              - EVERYONE
              - ONLY_ME
            default: ONLY_ME
        - description: Zero-based page index
          name: page
          in: query
          schema:
            type: integer
            default: 0
        - description: The size of the page to be returned
          name: size
          in: query
          schema:
            type: integer
            default: 12
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                response:
                  value:
                    links: []
                    content:
                      - verb: COMPANY_ACTIVATED
                        timestamp:
                          - 2016
                          - 12
                          - 2
                          - 17
                          - 25
                          - 56
                          - 414
                        object:
                          id: 26
                          uuid: 222cf5ff-7795-4ece-b612-83ef6b72bb30
                          name: Company 6032459369
                          externalId: null
                          companyLinkMasked: false
                          type: COMPANY
                        subject:
                          id: 30
                          uuid: 8487f55b-05be-4c0e-97d8-021e5ca4008b
                          name: Susan Doe
                          email: susan.doe@company5087848592.com
                          externalId: null
                          activated: true
                          deleted: false
                          userRemovedFromCompanyObject: false
                          userRemovedFromCompanyTarget: false
                          personalInfoMasked: false
                          profileLinkMasked: false
                          type: USER
                        target:
                          id: 194379
                          uuid: a0504b87-f21f-40fe-9de1-e8479776a26f
                          name: Matts Company
                          externalId: null
                          companyLinkMasked: false
                          type: COMPANY
                        actor:
                          id: 1344
                          uuid: 966216bb-bb4e-4766-8849-fd72eead20ce
                          name: C2801919_first last
                          email: c2801919@appdirect.com
                          externalId: null
                          activated: false
                          deleted: false
                          userRemovedFromCompanyObject: false
                          userRemovedFromCompanyTarget: false
                          personalInfoMasked: false
                          profileLinkMasked: false
                          roleChanges: null
                          type: USER
                        context:
                          description: Documentation Center 283
                          header: Documentation Center 283
                          imageUrl: >-
                            https://d33na3ni6eqf5j.cloudfront.net/importable_app_resources/81858cea-627f-45ee-8906-67d5a23dd3bf/list.png?b5960593b97c0fdd95bc9b81c08e70bb
                        origin: MARKETPLACE
                        links: []
                      - verb: USER_JOINED
                        timestamp:
                          - 2016
                          - 12
                          - 2
                          - 17
                          - 25
                          - 56
                          - 401
                        object:
                          id: 26
                          uuid: 222cf5ff-7795-4ece-b612-83ef6b72bb30
                          name: Company 6032459369
                          externalId: null
                          companyLinkMasked: false
                          type: COMPANY
                        subject:
                          id: 30
                          uuid: 8487f55b-05be-4c0e-97d8-021e5ca4008b
                          name: Susan Doe
                          email: susan.doe@company5087848592.com
                          externalId: null
                          activated: true
                          deleted: false
                          userRemovedFromCompanyObject: false
                          userRemovedFromCompanyTarget: false
                          personalInfoMasked: false
                          profileLinkMasked: false
                          type: USER
                        target:
                          id: 149379
                          uuid: 70904b87-a2bf-40fe-9de1-e8479776a26f
                          name: Global Company
                          externalId: null
                          companyLinkMasked: false
                          type: COMPANY
                        actor:
                          id: 1434
                          uuid: ac6216bb-bb4e-4766-8849-fd72eead20ce
                          name: Adam Smith
                          email: c3945627346@appdirect.com
                          externalId: null
                          activated: false
                          deleted: false
                          userRemovedFromCompanyObject: false
                          userRemovedFromCompanyTarget: false
                          personalInfoMasked: false
                          profileLinkMasked: false
                          roleChanges: null
                          type: USER
                        context:
                          description: Documentation Center 283
                          header: Documentation Center 283
                          imageUrl: >-
                            https://d33na3ni6eqf5j.cloudfront.net/importable_app_resources/81858cea-627f-45ee-8906-67d5a23dd3bf/list.png?b5960593b97c0fdd95bc9b81c08e70bb
                        origin: null
                        links: []
                    page:
                      size: 2
                      totalElements: 2
                      totalPages: 1
                      number: 0
        '401':
          description: Unauthorized
        '404':
          description: Company not found
      x-codeSamples:
        - lang: Shell + Curl
          source: |-
            curl --request GET \
              --url 'https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/activities?displayType=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&size=SOME_INTEGER_VALUE'
        - lang: Node + Request
          source: |
            const request = require('request');

            const options = {
              method: 'GET',
              url: 'https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/activities',
              qs: {
                displayType: 'SOME_STRING_VALUE',
                page: 'SOME_INTEGER_VALUE',
                size: 'SOME_INTEGER_VALUE'
              }
            };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Java + Okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/activities?displayType=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&size=SOME_INTEGER_VALUE")
              .get()
              .build();

            Response response = client.newCall(request).execute();
  /account/v2/companies/{companyUuid}/memberships/{userUuid}:
    get:
      description: Retrieve a marketplace user's company membership information.
      tags:
        - CompanyMemberships
      summary: Read company membership
      operationId: resource_Company_readCompanyMembership_GET
      x-appdirect-required-scopes:
        ROLE_USER:
          - Allows access as an end user in the company
        ROLE_RESELLER:
          - Allows access as a Reseller for the company.
        ROLE_RESELLER_MANAGER:
          - >-
            Allows access as a Reseller Manager for the marketplace. Only
            memberships with the Reseller role or that are linked to Reseller
            companies can be retrieved.
        ROLE_SALES_SUPPORT:
          - Allows access as a Sales Support agent for the marketplace.
        ROLE_CHANNEL_SUPPORT:
          - Allows access as a Customer Support agent for the marketplace.
        ROLE_CHANNEL_ADMIN:
          - Allows access as a Marketplace Manager for the marketplace.
        ROLE_CORPORATE_ADMIN:
          - Allows access as a Network Manager for the marketplace.
        ROLE_PARTNER_READ:
          - Allows access to read all marketplace data.
      parameters:
        - description: Unique identifier of company in the API request
          name: companyUuid
          in: path
          required: true
          schema:
            type: string
        - description: Unique identifier of user in the API request
          name: userUuid
          in: path
          required: true
          schema:
            type: string
        - description: >-
            Optional. Default is true. When set to true, companies will be
            included in the API response. When set to false, companies will not
            be included.
          name: includeCompanies
          required: false
          in: query
          schema:
            type: boolean
        - description: >-
            Optional. Default is true. When set to true, user custom attributes
            will be included in the API response. When set to false, user custom
            attributes will not be included.
          name: includeUserCustomAttributes
          required: false
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                response:
                  value:
                    user:
                      uuid: 6de203c1-a583-455a-ba95-3797edc262d0
                      email: jude.simpson@company5833088198.com
                      userName: jude.simpson
                      firstName: Jude
                      lastName: Simpson
                      picture: >-
                        http://appdirect/profilePics/img2147417701652580695.png?184b58e358f087154d94329f9000b28a
                      activated: true
                      allowLogin: true
                      ldapId: '1'
                      boostUser:
                        apsUid: murnu8w
                      currency: null
                      customAttributes:
                        - attributeType: TEXT
                          hint: commission_hint
                          label: Commission_Payout_ID
                          name: C5125859
                          value: value
                      roles:
                        - ROLE_USER
                      metadata:
                        apsUid: murnu8w
                      links:
                        - rel: self
                          href: >-
                            http://appdirect/api/account/v2/users/6de203c1-a583-455a-ba95-3797edc262d0
                        - rel: memberships
                          href: >-
                            http://appdirect/api/account/v2/users/6de203c1-a583-455a-ba95-3797edc262d0/memberships
                    company:
                      uuid: 4be3ce24-a702-46b9-a789-f15ce822a9ef
                      name: Company 5261852235
                      picture: http://localhost:8080/profilePics/http://cdn/company.png
                      vendor: true
                      reseller: true
                      phoneNumber: '9259221234'
                      defaultRole: DEVELOPER
                      enabled: true
                      customAttributes:
                        - name: Geographic Region
                          attributeType: TEXT
                          label: Geographic Region
                          hint: US West, US Central, or US East
                          value: US
                        - name: Company Details
                          attributeType: MULTISELECT
                          label: Label Names
                          hint: ''
                          valueKeys:
                            - great option
                      links:
                        - rel: self
                          href: >-
                            http://appdirect/api/account/v2/companies/4be3ce24-a702-46b9-a789-f15ce822a9ef
                        - rel: memberships
                          href: >-
                            http://appdirect/api/account/v2/companies/4be3ce24-a702-46b9-a789-f15ce822a9ef/memberships
                    enabled: true
                    lastUsed: false
                    roles:
                      - ROLE_BILLING_ADMIN
                      - ROLE_SYS_ADMIN
                    position: Business Analyst
                    mosiUser:
                      username: adazuretest@sdasd21321.onmicrosoft.com
                    metadata:
                      mosi_username: adazuretest@sdasd21321.onmicrosoft.com
                    links:
                      - rel: self
                        href: >-
                          http://appdirect/api/account/v2/companies/4be3ce24-a702-46b9-a789-f15ce822a9ef/memberships/6de203c1-a583-455a-ba95-3797edc262d0
                      - rel: user
                        href: >-
                          http://appdirect/api/account/v2/users/6de203c1-a583-455a-ba95-3797edc262d0
                      - rel: company
                        href: >-
                          http://appdirect/api/account/v2/companies/4be3ce24-a702-46b9-a789-f15ce822a9ef
        '401':
          description: Unauthorized
        '404':
          description: Company/User/Membership not found
      x-codeSamples:
        - lang: Shell + Curl
          source: |-
            curl --request GET \
              --url 'https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships/%7BuserUuid%7D?includeCompanies=SOME_BOOLEAN_VALUE&includeUserCustomAttributes=SOME_BOOLEAN_VALUE'
        - lang: Node + Request
          source: |
            const request = require('request');

            const options = {
              method: 'GET',
              url: 'https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships/%7BuserUuid%7D',
              qs: {
                includeCompanies: 'SOME_BOOLEAN_VALUE',
                includeUserCustomAttributes: 'SOME_BOOLEAN_VALUE'
              }
            };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Java + Okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships/%7BuserUuid%7D?includeCompanies=SOME_BOOLEAN_VALUE&includeUserCustomAttributes=SOME_BOOLEAN_VALUE")
              .get()
              .build();

            Response response = client.newCall(request).execute();
    put:
      description: >-
        Update a marketplace user's company membership.


        Updates the following roles based on the provided user company
        membership data: Product Support, Sales Support, Reseller Manager,
        Customer Support, Reseller, Billing Admin, Company Admin, Developer.

        This also enables/disables the membership based on provided user company
        membership data.


        **Note: You cannot set the Marketplace Manager role through the API.**
      tags:
        - CompanyMemberships
      summary: Update company membership
      operationId: resource_Company_updateCompanyMembership_PUT
      x-appdirect-required-scopes:
        ROLE_SYS_ADMIN:
          - Allows access as a Company Admin for the company.
        ROLE_RESELLER:
          - Allows access as a Reseller for the company.
        ROLE_SALES_SUPPORT:
          - Allows access as a Sales Support agent for the marketplace.
        ROLE_CHANNEL_SUPPORT:
          - Allows access as a Customer Support agent for the marketplace.
        ROLE_CHANNEL_ADMIN:
          - Allows access as a Marketplace Manager for the marketplace.
        ROLE_CORPORATE_ADMIN:
          - Allows access as a Network Manager for the marketplace.
        ROLE_PARTNER:
          - Allows access to read and write all marketplace data.
      parameters:
        - description: Unique identifier of company in the API request
          name: companyUuid
          in: path
          required: true
          schema:
            type: string
        - description: Unique identifier of user in the API request
          name: userUuid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserCompanyMembershipAccountV2'
        description: Update User company membership data
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                response:
                  value:
                    user:
                      uuid: a38ef2d2-cdad-483c-ba86-fa6186d12263
                      email: guy.smith24@yopmail.com
                      userName: guy.smith24@yopmail.com
                      firstName: Guy
                      lastName: Smith
                      picture: null
                      activated: true
                      allowLogin: true
                      ldapId: null
                      boostUser:
                        apsUid: murnu8w
                      roles:
                        - ROLE_USER
                      currency: null
                      customAttributes: []
                      metadata:
                        apsUid: murnu8w
                      links:
                        - rel: self
                          href: >-
                            http://localhost:8080/api/account/v2/users/a38ef2d2-cdad-483c-ba86-fa6186d12263
                        - rel: memberships
                          href: >-
                            http://localhost:8080/api/account/v2/users/a38ef2d2-cdad-483c-ba86-fa6186d12263/memberships
                    company:
                      uuid: 6b4bd452-895d-4098-aa56-e6046b238e0f
                      name: Appdirect
                      picture: null
                      vendor: true
                      reseller: true
                      phoneNumber: '9259221234'
                      defaultRole: DEVELOPER
                      enabled: true
                      customAttributes:
                        - name: Geographic Region
                          attributeType: TEXT
                          label: email
                          hint: US West, US Central, or US East
                          value: US1
                      links:
                        - rel: self
                          href: >-
                            http://localhost:8080/api/account/v2/companies/6b4bd452-895d-4098-aa56-e6046b238e0f
                        - rel: memberships
                          href: >-
                            http://localhost:8080/api/account/v2/companies/6b4bd452-895d-4098-aa56-e6046b238e0f/memberships
                    enabled: true
                    lastUsed: false
                    roles:
                      - ROLE_BILLING_ADMIN
                      - ROLE_DEVELOPER
                      - ROLE_SYS_ADMIN
                      - ROLE_CHANNEL_ADMIN
                      - ROLE_CHANNEL_PRODUCT_SUPPORT
                      - ROLE_CHANNEL_SUPPORT
                      - ROLE_SALES_SUPPORT
                      - ROLE_RESELLER
                      - ROLE_RESELLER_MANAGER
                    position: null
                    mosiUser: null
                    metadata:
                      mosi_username: null
                    links:
                      - rel: self
                        href: >-
                          http://localhost:8080/api/account/v2/companies/6b4bd452-895d-4098-aa56-e6046b238e0f/memberships/a38ef2d2-cdad-483c-ba86-fa6186d12263
                      - rel: user
                        href: >-
                          http://localhost:8080/api/account/v2/users/a38ef2d2-cdad-483c-ba86-fa6186d12263
                      - rel: company
                        href: >-
                          http://localhost:8080/api/account/v2/companies/6b4bd452-895d-4098-aa56-e6046b238e0f
        '401':
          description: Unauthorized
        '404':
          description: Company/User/Membership not found
      x-codeSamples:
        - lang: Shell + Curl
          source: |-
            curl --request PUT \
              --url https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships/%7BuserUuid%7D \
              --header 'content-type: application/json' \
              --data '{"enabled":true,"roles":["ROLE_BILLING_ADMIN","ROLE_DEVELOPER","ROLE_SYS_ADMIN"]}'
        - lang: Node + Request
          source: |
            const request = require('request');

            const options = {
              method: 'PUT',
              url: 'https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships/%7BuserUuid%7D',
              headers: {'content-type': 'application/json'},
              body: {
                enabled: true,
                roles: ['ROLE_BILLING_ADMIN', 'ROLE_DEVELOPER', 'ROLE_SYS_ADMIN']
              },
              json: true
            };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Java + Okhttp
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"enabled\":true,\"roles\":[\"ROLE_BILLING_ADMIN\",\"ROLE_DEVELOPER\",\"ROLE_SYS_ADMIN\"]}");

            Request request = new Request.Builder()
              .url("https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships/%7BuserUuid%7D")
              .put(body)
              .addHeader("content-type", "application/json")
              .build();

            Response response = client.newCall(request).execute();
    delete:
      description: >-
        Delete a marketplace user's company membership.


        If this is the only company the user was member of, user is marked as
        deleted.

        A user that has active entitlements, owns products or is externally
        managed can't be deleted.
      tags:
        - CompanyMemberships
      summary: Delete company membership
      operationId: resource_Company_deleteCompanyMembership_DELETE
      x-appdirect-required-scopes:
        ROLE_SYS_ADMIN:
          - Allows access as a Company Admin for the company.
        ROLE_RESELLER:
          - Allows access as a Reseller for the company.
        ROLE_SALES_SUPPORT:
          - Allows access as a Sales Support agent for the marketplace.
        ROLE_CHANNEL_SUPPORT:
          - Allows access as a Customer Support agent for the marketplace.
        ROLE_CHANNEL_ADMIN:
          - Allows access as a Marketplace Manager for the marketplace.
        ROLE_CORPORATE_ADMIN:
          - Allows access as a Network Manager for the marketplace.
        ROLE_PARTNER:
          - Allows access to read and write all marketplace data.
      parameters:
        - description: Unique identifier of company in the API request
          name: companyUuid
          in: path
          required: true
          schema:
            type: string
        - description: Unique identifier of user in the API request
          name: userUuid
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Company/User/Membership not found
        '409':
          description: Active subscriptions found
      x-codeSamples:
        - lang: Shell + Curl
          source: |-
            curl --request DELETE \
              --url https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships/%7BuserUuid%7D
        - lang: Node + Request
          source: |
            const request = require('request');

            const options = {
              method: 'DELETE',
              url: 'https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships/%7BuserUuid%7D'
            };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Java + Okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships/%7BuserUuid%7D")
              .delete(null)
              .build();

            Response response = client.newCall(request).execute();
    patch:
      description: >-
        Enable or disable marketplace user's company membership.


        This only changes the user company membership's enabled status; all
        other attributes are ignored.
      tags:
        - CompanyMemberships
      summary: Enable/Disable company membership
      operationId: resource_Company_partialUpdateCompanyMembership_PATCH
      x-appdirect-required-scopes:
        ROLE_SYS_ADMIN:
          - Allows access as a Company Admin for the company.
        ROLE_RESELLER:
          - Allows access as a Reseller for the company.
        ROLE_SALES_SUPPORT:
          - Allows access as a Sales Support agent for the marketplace.
        ROLE_CHANNEL_SUPPORT:
          - Allows access as a Customer Support agent for the marketplace.
        ROLE_CHANNEL_ADMIN:
          - Allows access as a Marketplace Manager for the marketplace.
        ROLE_CORPORATE_ADMIN:
          - Allows access as a Network Manager for the marketplace.
        ROLE_PARTNER:
          - Allows access to read and write all marketplace data.
      parameters:
        - description: Unique identifier of company in the API request
          name: companyUuid
          in: path
          required: true
          schema:
            type: string
        - description: Unique identifier of user in the API request
          name: userUuid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchUserCompanyMembershipAccountV2'
        description: User company membership data
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                response:
                  value:
                    user:
                      uuid: 9cc60e5e-5a46-4efb-9d53-afc6ee0586cd
                      email: susan.gonsalez@company4486527851.com
                      userName: susan.gonsalez
                      firstName: Susan
                      lastName: Gonsalez
                      picture: null
                      activated: true
                      allowLogin: true
                      ldapId: null
                      boostUser: null
                      roles:
                        - ROLE_USER
                      metadata:
                        apsUid: null
                      links:
                        - rel: self
                          href: >-
                            http://appdirect/api/account/v2/users/9cc60e5e-5a46-4efb-9d53-afc6ee0586cd
                        - rel: memberships
                          href: >-
                            http://appdirect/api/account/v2/users/9cc60e5e-5a46-4efb-9d53-afc6ee0586cd/memberships
                    company:
                      uuid: 88542fbc-f801-4588-9525-e615146889f7
                      name: Company 1079194187
                      picture: http://localhost:8080/profilePics/http://cdn/company.png
                      vendor: false
                      phoneNumber: '9259221234'
                      defaultRole: USER
                      enabled: true
                      links:
                        - rel: self
                          href: >-
                            http://appdirect/api/account/v2/companies/88542fbc-f801-4588-9525-e615146889f7
                        - rel: memberships
                          href: >-
                            http://appdirect/api/account/v2/companies/88542fbc-f801-4588-9525-e615146889f7/memberships
                    enabled: true
                    lastUsed: false
                    roles:
                      - ROLE_BILLING_ADMIN
                      - ROLE_SYS_ADMIN
                    position: null
                    mosiUser: null
                    metadata:
                      mosi_username: null
                    links:
                      - rel: self
                        href: >-
                          http://appdirect/api/account/v2/companies/88542fbc-f801-4588-9525-e615146889f7/memberships/9cc60e5e-5a46-4efb-9d53-afc6ee0586cd
                      - rel: user
                        href: >-
                          http://appdirect/api/account/v2/users/9cc60e5e-5a46-4efb-9d53-afc6ee0586cd
                      - rel: company
                        href: >-
                          http://appdirect/api/account/v2/companies/88542fbc-f801-4588-9525-e615146889f7
        '401':
          description: Unauthorized
        '404':
          description: Company/User/Membership not found
        '409':
          description: Active subscriptions found
      x-codeSamples:
        - lang: Shell + Curl
          source: |-
            curl --request PATCH \
              --url https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships/%7BuserUuid%7D \
              --header 'content-type: application/json' \
              --data '{"enabled":true}'
        - lang: Node + Request
          source: |
            const request = require('request');

            const options = {
              method: 'PATCH',
              url: 'https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships/%7BuserUuid%7D',
              headers: {'content-type': 'application/json'},
              body: {enabled: true},
              json: true
            };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Java + Okhttp
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"enabled\":true}");

            Request request = new Request.Builder()
              .url("https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships/%7BuserUuid%7D")
              .patch(body)
              .addHeader("content-type", "application/json")
              .build();

            Response response = client.newCall(request).execute();
  /account/v2/companies/{companyUuid}/memberships/active:
    post:
      description: >-
        Create a marketplace user with membership in the given company.


        The created user is active, and is associated with the specified company
        (membership).

        User is set with a temporary password; the password is emailed to the
        recipients specified in the request body.


        The domain part of the user's email address must match one of the
        verified domains associated with the company the user will be created
        in.


        **Note: You cannot set the Marketplace Manager role through the API.**
      tags:
        - CompanyMemberships
      summary: Create company membership (Add User)
      operationId: resource_Company_createActiveUser_POST
      x-appdirect-required-scopes:
        ROLE_SYS_ADMIN:
          - Allows access as a Company Admin for the company.
        ROLE_CHANNEL_ADMIN:
          - Allows access as a Marketplace Manager for the marketplace.
        ROLE_CORPORATE_ADMIN:
          - Allows access as a Network Manager for the marketplace.
        ROLE_PARTNER:
          - Allows access to read and write all marketplace data.
      parameters:
        - description: Unique identifier of company in the API request
          name: companyUuid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiveUserCreationAccountV2'
        description: User creation data
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                response:
                  value:
                    user:
                      uuid: e16171eb-d89c-4842-9550-2f9cf3ef4cee
                      email: guy.smith@company9411805586.com
                      userName: guy.smith@company9411805586.com
                      firstName: Guy
                      lastName: Smith
                      picture: null
                      activated: true
                      allowLogin: true
                      ldapId: null
                      boostUser: null
                      roles:
                        - ROLE_USER
                      currency: null
                      customAttributes: []
                      metadata:
                        apsUid: null
                      links:
                        - rel: self
                          href: >-
                            http://appdirect/api/account/v2/users/e16171eb-d89c-4842-9550-2f9cf3ef4cee
                        - rel: memberships
                          href: >-
                            http://appdirect/api/account/v2/users/e16171eb-d89c-4842-9550-2f9cf3ef4cee/memberships
                    company:
                      uuid: ece062bd-0c74-4d44-996c-743c3e71f8e1
                      name: Company 4492834930
                      picture: http://localhost:8080/profilePics/http://cdn/company.png
                      vendor: false
                      reseller: true
                      phoneNumber: '9259221234'
                      defaultRole: USER
                      enabled: true
                      customAttributes:
                        - name: Geographic Region
                          attributeType: TEXT
                          label: Geographic Region
                          hint: US West, US Central, or US East
                          value: US
                        - name: Company Details
                          attributeType: MULTISELECT
                          label: Label Names
                          hint: ''
                          valueKeys:
                            - great option
                      links:
                        - rel: self
                          href: >-
                            http://appdirect/api/account/v2/companies/ece062bd-0c74-4d44-996c-743c3e71f8e1
                        - rel: memberships
                          href: >-
                            http://appdirect/api/account/v2/companies/ece062bd-0c74-4d44-996c-743c3e71f8e1/memberships
                    enabled: true
                    lastUsed: false
                    roles:
                      - ROLE_USER
                    position: null
                    mosiUser: null
                    metadata:
                      mosi_username: null
                    links:
                      - rel: self
                        href: >-
                          http://appdirect/api/account/v2/companies/ece062bd-0c74-4d44-996c-743c3e71f8e1/memberships/e16171eb-d89c-4842-9550-2f9cf3ef4cee
                      - rel: user
                        href: >-
                          http://appdirect/api/account/v2/users/e16171eb-d89c-4842-9550-2f9cf3ef4cee
                      - rel: company
                        href: >-
                          http://appdirect/api/account/v2/companies/ece062bd-0c74-4d44-996c-743c3e71f8e1
        '401':
          description: Unauthorized
        '404':
          description: Company not found
      x-codeSamples:
        - lang: Shell + Curl
          source: |-
            curl --request POST \
              --url https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships/active \
              --header 'content-type: application/json' \
              --data '{"user":{"email":"guy.smith@company9411805586.com","firstName":"Guy","lastName":"Smith","roles":["ROLE_DEVELOPER"]},"temporaryPassword":"Temporary Password","recipientEmails":["manager@company9411805586.com","itteam@company9411805586.com"]}'
        - lang: Node + Request
          source: |
            const request = require('request');

            const options = {
              method: 'POST',
              url: 'https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships/active',
              headers: {'content-type': 'application/json'},
              body: {
                user: {
                  email: 'guy.smith@company9411805586.com',
                  firstName: 'Guy',
                  lastName: 'Smith',
                  roles: ['ROLE_DEVELOPER']
                },
                temporaryPassword: 'Temporary Password',
                recipientEmails: ['manager@company9411805586.com', 'itteam@company9411805586.com']
              },
              json: true
            };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Java + Okhttp
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"user\":{\"email\":\"guy.smith@company9411805586.com\",\"firstName\":\"Guy\",\"lastName\":\"Smith\",\"roles\":[\"ROLE_DEVELOPER\"]},\"temporaryPassword\":\"Temporary
            Password\",\"recipientEmails\":[\"manager@company9411805586.com\",\"itteam@company9411805586.com\"]}");

            Request request = new Request.Builder()
              .url("https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships/active")
              .post(body)
              .addHeader("content-type", "application/json")
              .build();

            Response response = client.newCall(request).execute();
  /account/v2/companies/{companyUuid}/memberships:
    get:
      description: List a marketplace company's user memberships.
      tags:
        - CompanyMemberships
      summary: List company memberships
      operationId: resource_Company_readCompanyMemberships_GET
      x-appdirect-required-scopes:
        ROLE_USER:
          - Allows access as an end user in the company.
        ROLE_RESELLER:
          - Allows access as a Reseller for the company.
        ROLE_SALES_SUPPORT:
          - Allows access as a Sales Support agent for the marketplace.
        ROLE_CHANNEL_SUPPORT:
          - Allows access as a Customer Support agent for the marketplace.
        ROLE_CHANNEL_ADMIN:
          - Allows access as a Marketplace Manager for the marketplace.
        ROLE_CORPORATE_ADMIN:
          - Allows access as a Network Manager for the marketplace.
        ROLE_PARTNER_READ:
          - Allows access to read all marketplace data.
      parameters:
        - description: Unique identifier of company in the API request
          name: companyUuid
          in: path
          required: true
          schema:
            type: string
        - description: >-
            If specified, returns only memberships associated with users having
            the specified active status
          name: active
          in: query
          schema:
            type: boolean
        - description: >-
            If specified, returns only memberships with the specified enabled
            status
          name: enabled
          in: query
          schema:
            type: boolean
        - description: >-
            If specified, returns only memberships with the specified role
            enabled
          name: roleName
          in: query
          schema:
            type: string
        - description: >-
            If specified, returns only memberships that are a part of the
            specified group
          name: groupUuid
          in: query
          schema:
            type: string
        - description: Zero-based page index
          name: page
          in: query
          schema:
            type: integer
            default: 0
        - description: Search term used to search on different fields of a membership
          name: searchText
          in: query
          schema:
            type: string
        - description: The size of the page to be returned
          name: size
          in: query
          schema:
            type: integer
            default: 50
        - description: The property to sort by
          name: sortField
          in: query
          schema:
            type: string
            enum:
              - DATE
              - FIRST_NAME
              - LAST_NAME
            default: DATE
        - description: Ordering type
          name: sortOrder
          in: query
          schema:
            type: string
            enum:
              - ASC
              - DESC
            default: ASC
        - description: >-
            Optional. Default is true. When set to true, companies will be
            included in the API response. When set to false, companies will not
            be included.
          name: includeCompanies
          required: false
          in: query
          schema:
            type: boolean
        - description: >-
            Optional. Default is true. When set to true, user custom attributes
            will be included in the API response. When set to false, user custom
            attributes will not be included.
          name: includeUserCustomAttributes
          required: false
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                response:
                  value:
                    links: []
                    content:
                      - user:
                          uuid: d6e7c0d2-e86a-4ea2-a6c9-c1bbeb2410f0
                          email: john.simpson@company58330881982.com
                          userName: john.simpson
                          firstName: John
                          lastName: Simpson
                          picture: >-
                            http://appdirect/profilePics/img2147417701652580695.png?184b58e358f087154d94329f9000b28a
                          activated: true
                          allowLogin: true
                          ldapId: '1'
                          currency: null
                          customAttributes:
                            - attributeType: TEXT
                              hint: commission_hint
                              label: Commission_Payout_ID
                              name: C5125859
                              value: value
                          boostUser:
                            apsUid: murnu8w
                          roles:
                            - ROLE_USER
                          metadata:
                            apsUid: murnu8w
                          links:
                            - rel: self
                              href: >-
                                http://appdirect/api/account/v2/users/d6e7c0d2-e86a-4ea2-a6c9-c1bbeb2410f0
                            - rel: memberships
                              href: >-
                                http://appdirect/api/account/v2/users/d6e7c0d2-e86a-4ea2-a6c9-c1bbeb2410f0/memberships
                        company:
                          uuid: 4be3ce24-a702-46b9-a789-f15ce822a9ef
                          name: Company 5261852235
                          picture: >-
                            http://localhost:8080/profilePics/http://cdn/company.png
                          vendor: true
                          reseller: true
                          phoneNumber: '9259221234'
                          defaultRole: DEVELOPER
                          enabled: true
                          customAttributes:
                            - name: Geographic Region
                              attributeType: TEXT
                              label: Geographic Region
                              hint: US West, US Central, or US East
                              value: US
                            - name: Company Details
                              attributeType: MULTISELECT
                              label: Label Names
                              hint: ''
                              valueKeys:
                                - great option
                          links:
                            - rel: self
                              href: >-
                                http://appdirect/api/account/v2/companies/4be3ce24-a702-46b9-a789-f15ce822a9ef
                            - rel: memberships
                              href: >-
                                http://appdirect/api/account/v2/companies/4be3ce24-a702-46b9-a789-f15ce822a9ef/memberships
                        enabled: true
                        lastUsed: false
                        roles:
                          - ROLE_BILLING_ADMIN
                          - ROLE_SYS_ADMIN
                        position: Project Team Lead
                        mosiUser:
                          username: agcompanybill1@testl3816.onmicrosoft.com
                        metadata:
                          mosi_username: agcompanybill1@testl3816.onmicrosoft.com
                        links:
                          - rel: self
                            href: >-
                              http://appdirect/api/account/v2/companies/4be3ce24-a702-46b9-a789-f15ce822a9ef/memberships/d6e7c0d2-e86a-4ea2-a6c9-c1bbeb2410f0
                          - rel: user
                            href: >-
                              http://appdirect/api/account/v2/users/d6e7c0d2-e86a-4ea2-a6c9-c1bbeb2410f0
                          - rel: company
                            href: >-
                              http://appdirect/api/account/v2/companies/4be3ce24-a702-46b9-a789-f15ce822a9ef
                      - user:
                          uuid: 6de203c1-a583-455a-ba95-3797edc262d0
                          email: jude.simpson@company5833088198.com
                          userName: jude.simpson
                          firstName: Jude
                          lastName: Simpson
                          picture: null
                          activated: true
                          allowLogin: true
                          ldapId: null
                          boostUser: null
                          currency: null
                          customAttributes: []
                          roles:
                            - ROLE_USER
                          metadata:
                            apsUid: null
                          links:
                            - rel: self
                              href: >-
                                http://appdirect/api/account/v2/users/6de203c1-a583-455a-ba95-3797edc262d0
                            - rel: memberships
                              href: >-
                                http://appdirect/api/account/v2/users/6de203c1-a583-455a-ba95-3797edc262d0/memberships
                        company:
                          uuid: 4be3ce24-a702-46b9-a789-f15ce822a9ef
                          name: Company 5261852235
                          picture: >-
                            http://localhost:8080/profilePics/http://cdn/company.png
                          vendor: true
                          reseller: true
                          phoneNumber: '9259221234'
                          defaultRole: DEVELOPER
                          enabled: true
                          customAttributes:
                            - name: Geographic Region
                              attributeType: TEXT
                              label: Geographic Region
                              hint: US West, US Central, or US East
                              value: US
                            - name: Company Details
                              attributeType: MULTISELECT
                              label: Label Names
                              hint: ''
                              valueKeys:
                                - great option
                          links:
                            - rel: self
                              href: >-
                                http://appdirect/api/account/v2/companies/4be3ce24-a702-46b9-a789-f15ce822a9ef
                            - rel: memberships
                              href: >-
                                http://appdirect/api/account/v2/companies/4be3ce24-a702-46b9-a789-f15ce822a9ef/memberships
                        enabled: true
                        lastUsed: false
                        roles:
                          - ROLE_BILLING_ADMIN
                          - ROLE_SYS_ADMIN
                        position: Business Analyst
                        mosiUser:
                          username: adazuretest@sdasd21321.onmicrosoft.com
                        metadata:
                          mosi_username: adazuretest@sdasd21321.onmicrosoft.com
                        links:
                          - rel: self
                            href: >-
                              http://appdirect/api/account/v2/companies/4be3ce24-a702-46b9-a789-f15ce822a9ef/memberships/6de203c1-a583-455a-ba95-3797edc262d0
                          - rel: user
                            href: >-
                              http://appdirect/api/account/v2/users/6de203c1-a583-455a-ba95-3797edc262d0
                          - rel: company
                            href: >-
                              http://appdirect/api/account/v2/companies/4be3ce24-a702-46b9-a789-f15ce822a9ef
                    page:
                      size: 50
                      totalElements: 2
                      totalPages: 1
                      number: 0
        '401':
          description: Unauthorized
        '404':
          description: Company not found
      x-codeSamples:
        - lang: Shell + Curl
          source: |-
            curl --request GET \
              --url 'https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships?active=SOME_BOOLEAN_VALUE&enabled=SOME_BOOLEAN_VALUE&roleName=SOME_STRING_VALUE&groupUuid=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&searchText=SOME_STRING_VALUE&size=SOME_INTEGER_VALUE&sortField=SOME_STRING_VALUE&sortOrder=SOME_STRING_VALUE&includeCompanies=SOME_BOOLEAN_VALUE&includeUserCustomAttributes=SOME_BOOLEAN_VALUE'
        - lang: Node + Request
          source: |
            const request = require('request');

            const options = {
              method: 'GET',
              url: 'https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships',
              qs: {
                active: 'SOME_BOOLEAN_VALUE',
                enabled: 'SOME_BOOLEAN_VALUE',
                roleName: 'SOME_STRING_VALUE',
                groupUuid: 'SOME_STRING_VALUE',
                page: 'SOME_INTEGER_VALUE',
                searchText: 'SOME_STRING_VALUE',
                size: 'SOME_INTEGER_VALUE',
                sortField: 'SOME_STRING_VALUE',
                sortOrder: 'SOME_STRING_VALUE',
                includeCompanies: 'SOME_BOOLEAN_VALUE',
                includeUserCustomAttributes: 'SOME_BOOLEAN_VALUE'
              }
            };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Java + Okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships?active=SOME_BOOLEAN_VALUE&enabled=SOME_BOOLEAN_VALUE&roleName=SOME_STRING_VALUE&groupUuid=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&searchText=SOME_STRING_VALUE&size=SOME_INTEGER_VALUE&sortField=SOME_STRING_VALUE&sortOrder=SOME_STRING_VALUE&includeCompanies=SOME_BOOLEAN_VALUE&includeUserCustomAttributes=SOME_BOOLEAN_VALUE")
              .get()
              .build();

            Response response = client.newCall(request).execute();
    post:
      description: >-
        Add a new or existing user as a member of a marketplace company.


        If no user exists with the given email address a new user account
        ([Users](#users)) will be created. Use the allowLogin body parameter to
        control if a new user account should be invited to the marketplace with
        login access or created as a managed user without login access. See
        [CreateUserAccountV2](#createuseraccountv2) for more information on the
        allowLogin parameter.


        Depending on channel configuration, an invited membership is either
        created immediately, or when the invited user accepts the invitation.


        **Note: You cannot set the Marketplace Manager role through the API.**
      tags:
        - CompanyMemberships
      summary: Create company membership
      operationId: resource_Company_createCompanyMembership_POST
      x-appdirect-required-scopes:
        ROLE_RESELLER:
          - Allows access as a Reseller for the company.
        ROLE_SALES_SUPPORT:
          - Allows access as a Sales Support agent for the marketplace.
        ROLE_CHANNEL_SUPPORT:
          - Allows access as a Customer Support agent for the marketplace.
        ROLE_SYS_ADMIN:
          - Allows access as a Company Admin for the company.
        ROLE_CHANNEL_ADMIN:
          - Allows access as a Marketplace Manager for the marketplace.
        ROLE_CORPORATE_ADMIN:
          - Allows access as a Network Manager for the marketplace.
        ROLE_PARTNER:
          - Allows access to read and write all marketplace data.
      parameters:
        - description: Unique identifier of company in the API request
          name: companyUuid
          in: path
          required: true
          schema:
            type: string
        - description: >-
            Unique identifier of the inviter in the API request. Required only
            when ROLE_PARTNER authority/scope is used to make the API request.
          name: inviterUuid
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserCompanyMembershipAccountV2'
        description: User company membership data
      responses:
        '201':
          description: Success
          content:
            application/json:
              examples:
                response:
                  value:
                    user:
                      uuid: 29c370c8-960a-43a0-8dc5-c09aadbaa101
                      email: mary.gonsalez@company3157614232.com
                      userName: mary.gonsalez@company3157614232.com
                      firstName: Mary
                      lastName: Gonsalez
                      allowLogin: true
                      picture: null
                      activated: false
                      ldapId: null
                      boostUser: null
                      roles:
                        - ROLE_USER
                      currency: null
                      customAttributes: []
                      metadata:
                        apsUid: null
                      links:
                        - rel: self
                          href: >-
                            http://localhost:8080/api/account/v2/users/29c370c8-960a-43a0-8dc5-c09aadbaa101
                        - rel: memberships
                          href: >-
                            http://localhost:8080/api/account/v2/users/29c370c8-960a-43a0-8dc5-c09aadbaa101/memberships
                    company:
                      uuid: 6b4bd452-895d-4098-aa56-e6046b238e0f
                      name: Appdirect
                      picture: null
                      vendor: true
                      reseller: true
                      phoneNumber: '9259221234'
                      defaultRole: DEVELOPER
                      enabled: true
                      customAttributes:
                        - name: Geographic Region
                          attributeType: TEXT
                          label: email
                          hint: US West, US Central, or US East
                          value: US
                      links:
                        - rel: self
                          href: >-
                            http://localhost:8080/api/account/v2/companies/6b4bd452-895d-4098-aa56-e6046b238e0f
                        - rel: memberships
                          href: >-
                            http://localhost:8080/api/account/v2/companies/6b4bd452-895d-4098-aa56-e6046b238e0f/memberships
                    enabled: true
                    lastUsed: false
                    roles:
                      - ROLE_DEVELOPER
                    position: null
                    mosiUser: null
                    metadata:
                      mosi_username: null
                    links:
                      - rel: self
                        href: >-
                          http://localhost:8080/api/account/v2/companies/6b4bd452-895d-4098-aa56-e6046b238e0f/memberships/29c370c8-960a-43a0-8dc5-c09aadbaa101
                      - rel: user
                        href: >-
                          http://localhost:8080/api/account/v2/users/29c370c8-960a-43a0-8dc5-c09aadbaa101
                      - rel: company
                        href: >-
                          http://localhost:8080/api/account/v2/companies/6b4bd452-895d-4098-aa56-e6046b238e0f
        '401':
          description: Unauthorized
        '404':
          description: Company/Inviter not found
      x-codeSamples:
        - lang: Shell + Curl
          source: |-
            curl --request POST \
              --url 'https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships?inviterUuid=SOME_STRING_VALUE' \
              --header 'content-type: application/json' \
              --data '{"user":{"email":"jane.lee@company1151609035.com","firstName":"Jane","lastName":"Lee","allowLogin":true},"roles":["ROLE_USER"]}'
        - lang: Node + Request
          source: |
            const request = require('request');

            const options = {
              method: 'POST',
              url: 'https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships',
              qs: {inviterUuid: 'SOME_STRING_VALUE'},
              headers: {'content-type': 'application/json'},
              body: {
                user: {
                  email: 'jane.lee@company1151609035.com',
                  firstName: 'Jane',
                  lastName: 'Lee',
                  allowLogin: true
                },
                roles: ['ROLE_USER']
              },
              json: true
            };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Java + Okhttp
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"user\":{\"email\":\"jane.lee@company1151609035.com\",\"firstName\":\"Jane\",\"lastName\":\"Lee\",\"allowLogin\":true},\"roles\":[\"ROLE_USER\"]}");

            Request request = new Request.Builder()
              .url("https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships?inviterUuid=SOME_STRING_VALUE")
              .post(body)
              .addHeader("content-type", "application/json")
              .build();

            Response response = client.newCall(request).execute();
  /account/v2/companies/{companyUuid}/memberships/roles:
    patch:
      description: >-
        Update role assignments for one or more company memberships (users).


        API clients acting on behalf of an end user must first call [Read
        assignable roles for company
        membership](#read-assignable-roles-for-company-membership) to retrieve
        the list of roles they are allowed to update.


        **Note: You cannot set the Marketplace Manager role through the API.**
      x-appdirect-visible: true
      tags:
        - CompanyMemberships
      summary: Update company membership roles (bulk)
      operationId: resource_Company_createCompanyMembership_PATCH
      x-appdirect-required-scopes:
        ROLE_RESELLER:
          - Allows access as a Reseller for the company.
        ROLE_SALES_SUPPORT:
          - Allows access as a Sales Support agent for the marketplace.
        ROLE_CHANNEL_SUPPORT:
          - Allows access as a Customer Support agent for the marketplace.
        ROLE_SYS_ADMIN:
          - Allows access as a Company Admin for the company.
        ROLE_CHANNEL_ADMIN:
          - Allows access as a Marketplace Manager for the marketplace.
        ROLE_CORPORATE_ADMIN:
          - Allows access as a Network Manager for the marketplace.
        ROLE_PARTNER:
          - Allows access to read and write all marketplace data.
      parameters:
        - description: Unique identifier of company in the API request
          name: companyUuid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PatchUserCompanyMembershipsAccountV2'
              example:
                - userUuid: 92a8d9f6-223d-11e8-a232-d879d2b204fc
                  rolesToAdd:
                    - ROLE_DEVELOPER
                    - ROLE_RESELLER
                  rolesToRemove:
                    - ROLE_CHANNEL_SUPPORT
                - userUuid: 673d2cda-2d1a-11e8-a232-d879d2b204fc
                  rolesToAdd:
                    - ROLE_SYS_ADMIN
        description: User company membership role data
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Company not found
      x-codeSamples:
        - lang: Shell + Curl
          source: |-
            curl --request PATCH \
              --url https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships/roles \
              --header 'content-type: application/json' \
              --data '[{"userUuid":"92a8d9f6-223d-11e8-a232-d879d2b204fc","rolesToAdd":["ROLE_DEVELOPER","ROLE_RESELLER"],"rolesToRemove":["ROLE_CHANNEL_SUPPORT"]},{"userUuid":"673d2cda-2d1a-11e8-a232-d879d2b204fc","rolesToAdd":["ROLE_SYS_ADMIN"]}]'
        - lang: Node + Request
          source: |
            const request = require('request');

            const options = {
              method: 'PATCH',
              url: 'https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships/roles',
              headers: {'content-type': 'application/json'},
              body: [
                {
                  userUuid: '92a8d9f6-223d-11e8-a232-d879d2b204fc',
                  rolesToAdd: ['ROLE_DEVELOPER', 'ROLE_RESELLER'],
                  rolesToRemove: ['ROLE_CHANNEL_SUPPORT']
                },
                {
                  userUuid: '673d2cda-2d1a-11e8-a232-d879d2b204fc',
                  rolesToAdd: ['ROLE_SYS_ADMIN']
                }
              ],
              json: true
            };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Java + Okhttp
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "[{\"userUuid\":\"92a8d9f6-223d-11e8-a232-d879d2b204fc\",\"rolesToAdd\":[\"ROLE_DEVELOPER\",\"ROLE_RESELLER\"],\"rolesToRemove\":[\"ROLE_CHANNEL_SUPPORT\"]},{\"userUuid\":\"673d2cda-2d1a-11e8-a232-d879d2b204fc\",\"rolesToAdd\":[\"ROLE_SYS_ADMIN\"]}]");

            Request request = new Request.Builder()
              .url("https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships/roles")
              .patch(body)
              .addHeader("content-type", "application/json")
              .build();

            Response response = client.newCall(request).execute();
  /account/v2/companies/{companyUuid}/memberships/{userUuid}/checklist:
    get:
      description: Retrieve a marketplace user's checklist.
      tags:
        - CompanyMemberships
      summary: Read user checklist
      operationId: resource_Company_readUserChecklist_GET
      x-appdirect-required-scopes:
        ROLE_USER:
          - Allows access as current user matches the user in path.
        ROLE_SYS_ADMIN:
          - Allows access as a Company Admin for the company.
        ROLE_RESELLER:
          - Allows access as a Reseller for the company.
        ROLE_CHANNEL_ADMIN:
          - Allows access as a Marketplace Manager for the marketplace.
        ROLE_CORPORATE_ADMIN:
          - Allows access as a Network Manager for the marketplace.
        ROLE_PARTNER_READ:
          - Allows access to read all marketplace data.
      parameters:
        - description: Unique identifier of company in the API request
          name: companyUuid
          in: path
          required: true
          schema:
            type: string
        - description: Unique identifier of user in the API request
          name: userUuid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                response:
                  value:
                    havePurchasedProduct: false
                    haveAssignedUsers: false
                    haveInvitedUsers: false
                    haveCompletedProfile: false
                    haveCompletedCompanyProfile: false
                    links: []
        '401':
          description: Unauthorized
        '404':
          description: Company/User not found
      x-codeSamples:
        - lang: Shell + Curl
          source: |-
            curl --request GET \
              --url https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships/%7BuserUuid%7D/checklist
        - lang: Node + Request
          source: |
            const request = require('request');

            const options = {
              method: 'GET',
              url: 'https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships/%7BuserUuid%7D/checklist'
            };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Java + Okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships/%7BuserUuid%7D/checklist")
              .get()
              .build();

            Response response = client.newCall(request).execute();
  /account/v2/companies/{companyUuid}/memberships/{userUuid}/invite:
    post:
      description: >-
        Invite a managed user as a member of a marketplace company. If the user
        is a member of a managed company, the managed company identifier must be
        used in this request. The operation will then also convert the managed
        company to a regular company.
      tags:
        - CompanyMemberships
      summary: Invite a managed user
      operationId: resource_Company_inviteManagedUser_POST
      x-appdirect-required-scopes:
        ROLE_RESELLER:
          - Allows access as a Reseller for the company.
        ROLE_SALES_SUPPORT:
          - Allows access as a Sales Support agent for the marketplace.
        ROLE_CHANNEL_SUPPORT:
          - Allows access as a Customer Support agent for the marketplace.
        ROLE_SYS_ADMIN:
          - Allows access as a Company Admin for the company.
        ROLE_CHANNEL_ADMIN:
          - Allows access as a Marketplace Manager for the marketplace.
        ROLE_CORPORATE_ADMIN:
          - Allows access as a Network Manager for the marketplace.
        ROLE_PARTNER:
          - Allows access to read and write all marketplace data.
      parameters:
        - description: Unique identifier of company in the API request
          name: companyUuid
          in: path
          required: true
          schema:
            type: string
        - description: Unique identifier of user in the API request
          name: userUuid
          in: path
          required: true
          schema:
            type: string
        - description: >-
            Unique identifier of the inviter in the API request. Required only
            when ROLE_PARTNER authority/scope is used to make the API request.
          name: inviterUuid
          in: query
          schema:
            type: string
      responses:
        '204':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Company/ManagedUser/Inviter not found
      x-codeSamples:
        - lang: Shell + Curl
          source: |-
            curl --request POST \
              --url 'https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships/%7BuserUuid%7D/invite?inviterUuid=SOME_STRING_VALUE'
        - lang: Node + Request
          source: |
            const request = require('request');

            const options = {
              method: 'POST',
              url: 'https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships/%7BuserUuid%7D/invite',
              qs: {inviterUuid: 'SOME_STRING_VALUE'}
            };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Java + Okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://marketplace.appdirect.com/api/account/v2/companies/%7BcompanyUuid%7D/memberships/%7BuserUuid%7D/invite?inviterUuid=SOME_STRING_VALUE")
              .post(null)
              .build();

            Response response = client.newCall(request).execute();
  /account/v2/companies:
    get:
      description: >-
        Retrieve all marketplace companies.</br></br>Rate limit: Bucket size is
        20 requests, with a leak rate of 5 requests per second.<br></br>Rate
        limit uses [leaky bucket
        algorithm](https://en.wikipedia.org/wiki/Leaky_bucket). Usage of a leaky
        bucket algorithm allows client applications to make an unlimited number
        of requests over a large time horizon but prevents excessively large
        bursts over a short one.
      tags:
        - Companies
      summary: List all companies
      operationId: resource_Company_readAllCompanies_GET
      x-appdirect-required-scopes:
        ROLE_SALES_SUPPORT:
          - Allows access as a Sales Support agent for the marketplace.
        ROLE_CHANNEL_SUPPORT:
          - Allows access as a Customer Support agent for the marketplace.
        ROLE_CHANNEL_ADMIN:
          - Allows access as a Marketplace Manager for the marketplace.
        ROLE_CORPORATE_ADMIN:
          - Allows access as a Network Manager for the marketplace.
        ROLE_PARTNER_READ:
          - Allows access to read all marketplace data.
      parameters:
        - description: Company name
          name: name
          in: query
          schema:
            type: string
        - description: >-
            Optional. Default is true. When set to true, company custom
            attributes are included in the API response. When set to false,
            company custom attributes are not included.
          name: includeCustomAttributes
          in: query
          schema:
            type: boolean
        - description: >-
            Optional. Default is true. When set to true, the purchase limit
            attributes are fetched, calculated and populated in the response.
            When set to false, the purchase limit attributes are not fetched.
          name: includePurchaseLimitData
          in: query
          schema:
            type: boolean
        - description: >-
            Optional. When set to true, only vendor companies are returned. When
            set to false, only non-vendor companies are returned. When omitted,
            all companies are returned (existing behaviour).
          name: vendor
          in: query
          schema:
            type: boolean
        - description: Zero-based page index
          name: page
          in: query
          schema:
            type: integer
            default: 0
        - description: The number of search results to return per page
          name: size
          in: query
          schema:
            type: integer
            default: 50
        - description: The property to sort by
          name: sortField
          in: query
          schema:
            type: string
            enum:
              - NAME
            default: NAME
        - description: Ordering type
          name: sortOrder
          in: query
          schema:
            type: string
            enum:
              - ASC
              - DESC
            default: DESC
        - description: >-
            Accepts a notIn filter in the form of
            ?custom.customAttributeName=notIn(customAttributeValue1,
            customAttributeValue2, customAttributeValueN...) that excludes
            companies with matching values. Before you can use the filter, you
            must first create "Text" type company custom attributes in the user
            interface. You can then specify the custom attribute name and values
            as customAttributeName and customAttributeValueN. See
            https://help.appdirect.com/platform/Default.htm#MarketplaceManager/MM-Setgscustui-create-attribs.html.
          name: custom.customAttributeName
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                response:
                  value:
                    links: []
                    content:
                      - uuid: a3f385be-e10b-444e-99d1-95cd7d4c1f5a
                        name: John & Co
                        enabled: true
                        address:
                          street1: Harris Place NW
                          street2: '907'
                          city: Calgary
                          state: AB
                          zip: T3B2V4
                          country: Canada
                        companySize: SMALL
                        customAttributes: []
                        creationDate: 1457416568000
                        industry: Finance
                        salesAgent:
                          rel: salesRepLink
                          href: >-
                            http://marketplace.local:8080/api/account/v2/users/a3f385be-e10b-444e-99d1-95cd7d4c1f5a
                        emailAddress: john.smith@example.com
                        website: example.com
                        picture: null
                        vendor: true
                        reseller: false
                        channelAdmin: true
                        salesSupport: false
                        externalId: 37ac4899-0847-41ac-8e6b-adfde0363b37
                        phoneNumber: 888-888-8888
                        defaultRole: USER
                        countryCode: US
                        links:
                          - rel: self
                            href: >-
                              http://marketplace.local:8080/api/account/v2/companies/a3f385be-e10b-444e-99d1-95cd7d4c1f5a
                          - rel: memberships
                            href: >-
                              http://marketplace.local:8080/api/account/v2/companies/a3f385be-e10b-444e-99d1-95cd7d4c1f5a/memberships
                      - uuid: 42f4e0cd-0614-4695-87ba-fcaee49fb995
                        name: John & Co
                        enabled: false
                        address:
                          street1: Harris Place NW
                          street2: '907'
                          city: Calgary
                          state: AB
                          zip: T3B2V4
                          country: Canada
                        companySize: SMALL
                        customAttributes:
                          - name: C1593404
                            attributeType: TEXT
                            label: C1593404
                            hint: ''
                            value: t1
                        creationDate: 1521573411000
                        industry: Finance
                        salesAgent:
                          rel: salesRepLink
                          href: >-
                            http://marketplace.local:8080/api/account/v2/users/a3f385be-e10b-444e-99d1-95cd7d4c1f5a
                        emailAddress: john.smith@example.com
                        website: example.com
                        picture: null
                        vendor: true
                        reseller: false
                        channelAdmin: true
                        salesSupport: false
                        externalId: b34974b2-f5d6-4326-9859-5247dc42ee60
                        phoneNumber: 888-888-8888
                        defaultRole: USER
                        countryCode: US
                        links:
                          - rel: self
                            href: >-
                              http://marketplace.local:8080/api/account/v2/companies/42f4e0cd-0614-4695-87ba-fcaee49fb995
                          - rel: memberships
                            href: >-
                              http://marketplace.local:8080/api/account/v2/companies/42f4e0cd-0614-4695-87ba-fcaee49fb995/memberships
                    page:
                      size: 50
                      totalElements: 2
                      totalPages: 1
                      number: 0
        '401':
          description: Unauthorized
      x-codeSamples:
        - lang: Shell + Curl
          source: |-
            curl --request GET \
              --url 'https://marketplace.appdirect.com/api/account/v2/companies?name=SOME_STRING_VALUE&includeCustomAttributes=SOME_BOOLEAN_VALUE&includePurchaseLimitData=SOME_BOOLEAN_VALUE&vendor=SOME_BOOLEAN_VALUE&page=SOME_INTEGER_VALUE&size=SOME_INTEGER_VALUE&sortField=SOME_STRING_VALUE&sortOrder=SOME_STRING_VALUE&custom.customAttributeName=SOME_STRING_VALUE'
        - lang: Node + Request
          source: |
            const request = require('request');

            const options = {
              method: 'GET',
              url: 'https://marketplace.appdirect.com/api/account/v2/companies',
              qs: {
                name: 'SOME_STRING_VALUE',
                includeCustomAttributes: 'SOME_BOOLEAN_VALUE',
                includePurchaseLimitData: 'SOME_BOOLEAN_VALUE',
                vendor: 'SOME_BOOLEAN_VALUE',
                page: 'SOME_INTEGER_VALUE',
                size: 'SOME_INTEGER_VALUE',
                sortField: 'SOME_STRING_VALUE',
                sortOrder: 'SOME_STRING_VALUE',
                'custom.customAttributeName': 'SOME_STRING_VALUE'
              }
            };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Java + Okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://marketplace.appdirect.com/api/account/v2/companies?name=SOME_STRING_VALUE&includeCustomAttributes=SOME_BOOLEAN_VALUE&includePurchaseLimitData=SOME_BOOLEAN_VALUE&vendor=SOME_BOOLEAN_VALUE&page=SOME_INTEGER_VALUE&size=SOME_INTEGER_VALUE&sortField=SOME_STRING_VALUE&sortOrder=SOME_STRING_VALUE&custom.customAttributeName=SOME_STRING_VALUE")
              .get()
              .build();

            Response response = client.newCall(request).execute();
    post:
      description: Create a new marketplace company
      tags:
        - Companies
      summary: Create new company
      operationId: resource_Company_createCompany_POST
      x-appdirect-required-scopes:
        ROLE_SALES_SUPPORT:
          - Allows access as a Sales Support agent for the marketplace.
        ROLE_CHANNEL_SUPPORT:
          - Allows access as a Customer Support agent for the marketplace.
        ROLE_CHANNEL_ADMIN:
          - Allows access as a Marketplace Manager for the marketplace.
        ROLE_CORPORATE_ADMIN:
          - Allows access as a Network Manager for the marketplace.
        ROLE_PARTNER:
          - Allows access to read and write all marketplace data.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompanyV2Request'
        description: New marketplace company
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              examples:
                response:
                  value:
                    allowLogin: true
                    uuid: d689b970-f3f9-42a6-a974-90e2bdadf860
                    name: Company 7078259907
                    picture: http://localhost:8080/profilePics/http://cdn/company.png
                    vendor: false
                    reseller: false
                    phoneNumber: '9259221234'
                    defaultRole: USER
                    enabled: true
                    customAttributes:
                      - name: Geographic Region
                        attributeType: TEXT
                        label: Geographic Region
                        hint: US West, US Central, or US East
                        value: US
                      - name: Company Details
                        attributeType: MULTISELECT
                        label: Label Names
                        hint: ''
                        valueKeys:
                          - great option
                    firstUser:
                      email: john.simpson@company58330881985.com
                      firstName: John
                      lastName: Simpson
                      roles:
                        - ROLE_USER
                    links:
                      - rel: self
                        href: >-
                          http://appdirect/api/account/v2/companies/d689b970-f3f9-42a6-a974-90e2bdadf860
                      - rel: memberships
                        href: >-
                          http://appdirect/api/account/v2/companies/d689b970-f3f9-42a6-a974-90e2bdadf860/memberships
        '401':
          description: Unauthorized
      x-codeSamples:
        - lang: Shell + Curl
          source: |-
            curl --request POST \
              --url https://marketplace.appdirect.com/api/account/v2/companies \
              --header 'content-type: application/json' \
              --data '{"externalId":"P02TSQ3YPZoykqx1a10","name":"Company Example","companySize":"SMALL","defaultRole":"USER","countryCode":"US","emailAddress":"info@company12345.com","phoneNumber":"11234567890","website":"https://www.company12345.com","industry":"Sales","address":{"city":"New York","country":"US","state":"NY","street1":"980 West 881st Street","street2":"55AB","zip":"12345"},"channelAdmin":false,"reseller":false,"vendor":false,"customAttributes":[{"name":"text_example","value":"foo"},{"name":"multiselect_checkboxes_example","valueKeys":["ipsum","fake"]}],"firstUser":{"firstName":"John","lastName":"Smith","email":"john.smith@company12345.com","roles":["ROLE_SYS_ADMIN"]}}'
        - lang: Node + Request
          source: |
            const request = require('request');

            const options = {
              method: 'POST',
              url: 'https://marketplace.appdirect.com/api/account/v2/companies',
              headers: {'content-type': 'application/json'},
              body: {
                externalId: 'P02TSQ3YPZoykqx1a10',
                name: 'Company Example',
                companySize: 'SMALL',
                defaultRole: 'USER',
                countryCode: 'US',
                emailAddress: 'info@company12345.com',
                phoneNumber: '11234567890',
                website: 'https://www.company12345.com',
                industry: 'Sales',
                address: {
                  city: 'New York',
                  country: 'US',
                  state: 'NY',
                  street1: '980 West 881st Street',
                  street2: '55AB',
                  zip: '12345'
                },
                channelAdmin: false,
                reseller: false,
                vendor: false,
                customAttributes: [
                  {name: 'text_example', value: 'foo'},
                  {name: 'multiselect_checkboxes_example', valueKeys: ['ipsum', 'fake']}
                ],
                firstUser: {
                  firstName: 'John',
                  lastName: 'Smith',
                  email: 'john.smith@company12345.com',
                  roles: ['ROLE_SYS_ADMIN']
                }
              },
              json: true
            };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Java + Okhttp
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"externalId\":\"P02TSQ3YPZoykqx1a10\",\"name\":\"Company
            Example\",\"companySize\":\"SMALL\",\"defaultRole\":\"USER\",\"countryCode\":\"US\",\"emailAddress\":\"info@company12345.com\",\"phoneNumber\":\"11234567890\",\"website\":\"https://www.company12345.com\",\"industry\":\"Sales\",\"address\":{\"city\":\"New
            York\",\"country\":\"US\",\"state\":\"NY\",\"street1\":\"980 West
            881st
            Street\",\"street2\":\"55AB\",\"zip\":\"12345\"},\"channelAdmin\":false,\"reseller\":false,\"vendor\":false,\"customAttributes\":[{\"name\":\"text_example\",\"value\":\"foo\"},{\"name\":\"multiselect_checkboxes_example\",\"valueKeys\":[\"ipsum\",\"fake\"]}],\"firstUser\":{\"firstName\":\"John\",\"lastName\":\"Smith\",\"email\":\"john.smith@company12345.com\",\"roles\":[\"ROLE_SYS_ADMIN\"]}}");

            Request request = new Request.Builder()
              .url("https://marketplace.appdirect.com/api/account/v2/companies")
              .post(body)
              .addHeader("content-type", "application/json")
              .build();

            Response response = client.newCall(request).execute();
  /account/v2/companies/{companyUuid}:
    get:
      description: >-
        Retrieve a marketplace company by ID or external ID. If you use the ID,
        you can omit a prefix or use 'id:' as the prefix. If you use the
        external ID, you must always specify the 'externalId:' prefix.
      tags:
        - Companies
      summary: Read a company
      operationId: resource_Company_readCompany_GET
      x-appdirect-required-scopes:
        ROLE_USER:
          - Allows access as an end user in the company.
        ROLE_RESELLER:
          - Allows access as a Reseller for the company.
        ROLE_SALES_SUPPORT:
          - Allows access as a Sales Support agent for the marketplace.
        ROLE_CHANNEL_SUPPORT:
          - Allows access as a Customer Support agent for the marketplace.
        ROLE_CHANNEL_ADMIN:
          - Allows access as a Marketplace Manager for the marketplace.
        ROLE_CORPORATE_ADMIN:
          - Allows access as a Network Manager for the marketplace.
        ROLE_PARTNER_READ:
          - Allows access to read all marketplace data.
      parameters:
        - description: >-
            Unique identifier (ID or external ID) of the company in the API
            request
          name: companyUuid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                response:
                  value:
                    uuid: d689b970-f3f9-42a6-a974-90e2bdadf860
                    name: Company 7078259907
                    enabled: true
                    allowLogin: true
                    address:
                      street1: Stephen Ave
                      street2: '12'
                      city: Calgary
                      state: AB
                      zip: T22V34
                      country: Canada
                    companySize: SMALL
                    customAttributes:
                      - name: Geographic Region
                        attributeType: TEXT
                        label: Geographic Region
                        hint: US West, US Central, or US East
                        value: US
                      - name: Company Details
                        attributeType: MULTISELECT
                        label: Label Names
                        hint: ''
                        valueKeys:
                          - great option
                    creationDate: 1457416568000
                    industry: Finance
                    salesAgent:
                      rel: salesRepLink
                      href: >-
                        http://marketplace.local:8080/api/account/v2/users/a3f385be-e10b-444e-99d1-95cd7d4c1f5a
                    emailAddress: john.smith@example.com
                    website: example.com
                    picture: http://localhost:8080/profilePics/http://cdn/company.png
                    vendor: true
                    reseller: false
                    channelAdmin: true
                    salesSupport: false
                    externalId: 37ac4899-0847-41ac-8e6b-adfde0363b37
                    phoneNumber: 888-888-8888
                    defaultRole: USER
                    countryCode: US
                    thirtyDaysPurchaseLimitExempt: false
                    thirtyDaysPurchaseLimitOverrideAmt: null
                    dailyPurchaseLimitExempt: false
                    dailyPurchaseLimitOverrideAmt: 10
                    mosiCustomerId: dda1de23-f062-4391-b213-4deab524552a
                    partner: APPDIRECT
                    links:
                      - rel: self
                        href: >-
                          http://appdirect/api/account/v2/companies/d689b970-f3f9-42a6-a974-90e2bdadf860
                      - rel: memberships
                        href: >-
                          http://appdirect/api/account/v2/companies/d689b970-f3f9-42a6-a974-90e2bdadf860/memberships
        '401':
          description: Unauthorized
        '404':
          description: Company not found
      x-codeSamples:
        - lang: Shell + Curl
          source: |-
[...]
